<div id='orchestrationUpdateChefRunlistPage'>
    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 class="modal-title">
            <i class="fa fa-pencil-square-o"></i> Manage Runlist
        </h4>
    </div>

    <div class="modal-body">
        <accordion close-others="oneAtATime">
            <accordion-group is-open="isFirstOpen" heading="Assign Runlist">
                <div class="chefRunlistContainer" id="chefClientForOrchestration">
                    <div class="smart-form">
                        <div class="row" ng-show="!isOrchestrationUpdateChefRunLoading">
                            <form class="form-inline">
                                <div class="radio-all">
                                    <input type="radio" name="cookbookSpecification" value="all" ng-click="changeSelection('all');" checked />
                                    <label for="exampleInputName2">All</label>
                                </div>
                                <div class="radio-deploy">
                                    <input type="radio" name="cookbookSpecification" value="cookbooks" ng-click="changeSelection('deploy');">
                                    <label for="exampleInputName2">Deploy Cookbooks</label>
                                </div>
                                <div class="chef-factory">
                                    <label><a id="chefFactory" href="../private/chefFactory.html?{{chefServerID}}" target="_blank">Chef Factory</a></label>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                                <div class="chef-client-loader-wrapper" ng-show="isOrchestrationUpdateChefRunLoading">
                                    <span>
                                        <b>Loading Cookbooks and Roles</b>
                                    </span>&nbsp;&nbsp;
                                    <loading size="medium" name="isOrchestrationUpdateChefRunLoading" type="inline"></loading>
                                </div>
                                <label class="input searchCookbooksRolesLabel" ng-show="!isOrchestrationUpdateChefRunLoading">
                                    <i class="icon-append fa fa-search"></i>
                                    <input type="text" placeholder="Search Cookbooks/Roles" id="searchBox">
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                    <div class="btn-group selectCookbooksandRecipesdiv">
                                        <select id="option" size="10" class="btn-group selectCookbooksandRecipes" multiple>
                                        </select>
                                    </div>
                                    <div class="btn-group marginleft6">
                                        <button type="button" class="btn cat-btn-update anchorAdd" id="btnaddToRunlist"><i class="fa fa-chevron-right anchorAddi"></i>
                                        </button>
                                        <div class="clearfix"></div>
                                        <button type="button" class="btn cat-btn-update anchorRemove" id="btnremoveFromRunlist"><i class="fa fa-chevron-left anchorRemovei"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                                <label class="input runlistLabel">
                                    <div class="runlist-section">
                                        <img src="images/global/create-run-list.png">
                                        <strong class="fontsize13">Runlist</strong>
                                        <span class="red">*</span>
                                    </div>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                    <div class="btn-group selectCookbooksandRecipesdiv">
                                        <select id="selector" size="10" multiple="multiple" class="btn-group selectCookbooksandRecipes" multiple>
                                        </select>
                                    </div>
                                    <div class="btn-group marginleft6">
                                        <button type="button" class="btn cat-btn-update anchorUp" id="btnRunlistItemUp"><i class="fa fa-chevron-up anchorUpi"></i></button>
                                        <div class="clearfix"></div>
                                        <button type="button" class="btn cat-btn-update anchorDown" id="btnRunlistItemDown"><i class="fa fa-chevron-down anchorDowni"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group heading="Cookbook Attributes">
                <div class="smart-form margin15">
                    <label class="marginbottom4">
                        <strong>Cookbook Attributes Edit:</strong>
                        <label> 
                            <input class="cookbook-attributes-edit-check" type="checkbox" ng-model="isAttributesEditable">
                        </label>
                        <br/>
                        <span class="red" id="attrmessage"></span>
                    </label>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 attribute-table-wrapper no-padding">
                            <table class="table table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th>Cookbook Name</th>
                                        <th>Attributes</th>
                                        <th>Values</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="cbItem in allCBAttributes">
                                    <tr ng-repeat="(key, value) in cbItem.attributes">
                                        <td> {{cbItem.cookbookName}} </td>
                                        <td> {{value.display_name}} </td>
                                        <td>
                                            <input type="text" class="cookbook-edit-text" ng-model="value.default" ng-if="!value.choice.length" ng-disabled="!isAttributesEditable" />
                                            <select ng-if="value.choice.length" class="cookbook-edit-text" ng-options="choice for choice in value.choice" ng-model="value.default" ng-disabled="!isAttributesEditable"></select>
                                            <i class="fa fa-info cookbook-edit-info" title="{{value.description}}"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn cat-btn-close" ng-click="cancel()">
            <i class="fa fa-times black"></i> Cancel
        </button>
        <button type="button" class="btn cat-btn-update" ng-click="ok()">
            <i class="fa fa-check white"></i> Update Runlist
        </button>
    </div>
</div>