#content{
    height: 100% !important;
  }
  .content {
    padding: 15px;
  }
  .bg-red, .bg-yellow, .bg-aqua, .bg-green, .bg-teal, .bg-maroon,.bg-orange,.bg-blue,.bg-fuchsia,.bg-purple{
    color:#fff !important;
  }
  .bg-red{
    background-color: #dd4b39 !important;
  }
  .bg-yellow{
    background-color: #f39c12 !important;
  }
  .bg-aqua{
    background-color: #00c0ef !important;
  }
  .bg-green{
    background-color: #00a65a !important;
  }
  .bg-teal {
    background-color: #39cccc !important;
  }
  .bg-orange {
    background-color: #ff851b !important;
  }
  .bg-maroon {
    background-color: #d81b60 !important;
  }
  .bg-blue {
    background-color: #0073b7 !important;
  }
  .bg-fuchsia {
    background-color: #f012be !important;
  }
  .bg-purple {
    background-color: #605ca8 !important;
  }
  .small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .small-box > .inner {
    padding: 10px;
  }
  .small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  .small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
  }
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
  .small-box p {
    font-size: 15px;
  }
  .small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
  }
  .small-box h3,
  .small-box p {
    z-index: 5px;
  }
  .small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }
  .small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
  }
  .small-box:hover .icon {
    font-size: 95px;
  }
  @media (max-width: 767px) {
    .small-box {
      text-align: center;
      margin-bottom: 20px !important;
    }
    .small-box .icon {
      display: none;
    }
    .small-box p {
      font-size: 12px;
    }
  }