
<div class="well" id="well" >
    <b>Create CICD Dashboard</b> <button type="button" class="btn btn-sm btn-primary cat-btn-update pull-right"  ui-sref="dashboard.settings.dashboardList">&nbsp; <i class="fa fa-hand-o-left white" aria-hidden="true"></i> Back &nbsp;</button>
</div>

<div style="margin: 10px">
<form name="createDashboard" class="compositeFieldClass" novalidate>


        <div class="col-lg-4 col-md-4 col-sm-12 form-group">
            <fieldset class="repo-job-details-wrapper">
                <legend class="repo-job-details-wrapper-inner">Dashboard Details:  </legend>
            <div class="clearfix"></div>

            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <label for="">Dashboard Name : </label>
                <input type="text"  ng-model="createDash.newEnt.dashboardName"  class=" form-control" required  />
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <label for="">Dashboard URL :</label>
                <input type="text"  ng-model="createDash.newEnt.dashboardURL"   class=" form-control" required  ng-change="createDash.getCollection();" />
            </div>

            </fieldset>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 form-group">
            <fieldset class="repo-job-details-wrapper">
                <legend class="repo-job-details-wrapper-inner">Organization Details: </legend>
            <div class="col-lg-4 col-md-4 col-sm-12 form-group">
                <label for="">Organization : </label>
                <select  ng-model="organNewEnt.org" class="form-control" required  ng-change="getProviders(createDash.organObject[organNewEnt.org].rowid)">
                    <option value="">Select</option>
                    <option ng-repeat="org in createDash.organObject"  value="{{createDash.organObject.indexOf(org)}}" >{{org.name}}</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 form-group" >
                <label for="">Business Group: </label>
                <select id="bgListInputExisting" class="  form-control"  ng-model="organNewEnt.buss" required>
                    <option value="">Select</option>
                    <option ng-repeat="buss in createDash.organObject[organNewEnt.org].businessGroups"  value="{{createDash.organObject[organNewEnt.org].businessGroups.indexOf(buss)}}" >{{buss.name}}</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 form-group" >
                <label >Project : </label>
                <select class="form-control" ng-model="organNewEnt.proj" required>
                    <option value="">Select</option>
                    <option ng-repeat="proj in createDash.organObject[organNewEnt.org].businessGroups[organNewEnt.buss].projects"  value="{{createDash.organObject[organNewEnt.org].businessGroups[organNewEnt.buss].projects.indexOf(proj)}}" >{{proj.name}}</option>
                </select>
            </div>
            </fieldset>
        </div>
        <div class="clearfix"></div>
        <fieldset class="repo-job-details-wrapper" ng-show="createDash.collecters.length >0">
            <legend class="repo-job-details-wrapper-inner"><b>Collectors:</b></legend>
        <div class="col-lg-6 col-md-6 col-sm-12 form-group" ng-repeat="collecter in createDash.collecters" ng-init="createDash.getCollcterItems(collecter.collectorType,collecter.id);" ng-show="collecter.collectorType==='Jiraproject'">

            <fieldset class="repo-job-details-wrapper" ng-init="createDash.newEnt[collecter.collectorType].collecterId=collecter.id">
                <legend class="repo-job-details-wrapper-inner"><b>{{collecter.name}}:</b></legend>
                <div style="width: 74%;margin: auto;">
                <label for=""> Project :</label>
                    <select class="  form-control"  ng-model="createDash.newEnt[collecter.collectorType].project" ng-change="createDash.getSubCollcterItems(collecter.collectorType,collecter.id);">
                        <option value="">Select</option>
                        <option ng-repeat="item in createDash.Collcter[collecter.collectorType]" value="{{item.projectId}}">{{item.projectName}}</option>
                    </select>
                    <div class="clearfix" style="margin-top: 6px"></div>
                    <label for="">{{collecter.name}} Version :</label>
                    <select class="  form-control"  ng-model="createDash.newEnt[collecter.collectorType].version" >
                        <option value="">Select</option>
                        <option ng-repeat="item in createDash.CollcterVersion[collecter.collectorType]" value="{{item.versionId}}">{{item.versionName}}</option>
                    </select>
                </div>
            </fieldset>
        </div>
        </fieldset>
        <div class="clearfix" style="padding-top: 10px"></div>
        <div style="width: 100%; margin: auto; text-align: center">
            <button type="button" class="btn cat-btn-close" ui-sref="dashboard.settings.dashboardList">
                <i class="fa fa-times black"></i> Cancel
            </button>
            <button type="button" class="btn cat-btn-update"  ng-click="createDash.submitForm();">
                Save
            </button>
        </div>




</form>
</div>
<style>
    #well {
        min-height: 35px;
        padding: 9px;
        margin: 11px 0 0 0;
        background-color: #FDFDFD;
        border-bottom: 1px solid #e3e3e3;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-radius: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

</style>
