<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/workzone/application/application.css">
<div id='applicationPage' ng-controller="applicationCtrl">
    <loading size="large" name="isApplicationPageLoading" type="block"></loading>
    <div ng-show="!isApplicationPageLoading">
        <div class="panel-heading">
            <span class="panel-title">
                <span class="app-panel-heading-text">Application : </span>
                <span ng-show="isPipelineViewActive">{{orgName}}</span>
                <span ng-show="!isPipelineViewActive">{{selectedEnv}}</span>
            </span>
            <span class="pull-right">
                <button type="button" class="btn btn-xs cat-btn-update"
                        ng-click="deployNewApp()">
                    <i class="fa fa-plus white"></i>
                    New
                </button>
                <button type="button" class="btn btn-xs cat-btn-update"
                        ng-click="applicationPipelineTab('activeCards')"  ng-show="isAppActiveCardTab.icon">
                    <i class="fa fa-th-list white"></i>
                    Pipeline Summary
                </button>
                <button type="button" class="btn btn-xs cat-btn-update"
                        ng-click="applicationPipelineTab('allCards')" ng-show="isAppallCardTab.icon">
                    <i class="fa fa-th-list white"></i>
                    Pipeline View
                </button>
                <span title="History" ng-click="applicationPipelineTab('history')" ng-show="isHistoryTab.icon">
                    <i class="fa fa-header fa-2x cursor"></i>
                </span>
            <span title="config" ng-click="configureAppPipelineView()" >
                    <i class="fa fa-cogs cursor"></i>
                </span>
            </span>
        </div>

        <section id="pipelineView" class="pipelineView {{!isAppallCardTab.template? 'hide-grid':'show-grid'}}" >
            <div ng-if="pipeGridOptions.data.length > 0">
                <div class="action-bar panel-heading">
                        <span ng-show="pipeLineActBarShow">
                            <button type="button" class="btn btn-xs btn-info" ng-click="appCardDetail(pipeLineActBarData)">
                                <i class="fa fa-tasks white"></i> Info </button>
                            <button type="button" class="btn btn-xs btn-primary" ng-click="promoteApp(pipeLineActBarData)" ng-if="pipeLineActBarData.isApproved && !isLastEnv">
                                <i class="fa fa-clone white"></i> Promote</button>
                             <button type="button" class="btn btn-xs btn-danger" ng-click="appApprove(pipeLineActBarData)" ng-if="pipeLineActBarData.isApproved">
                                 <i class="fa fa-times white"></i> Revoke</button>
                            <button type="button" class="btn btn-xs btn-primary" ng-click="appApprove(pipeLineActBarData)" ng-if="!pipeLineActBarData.isApproved">
                                <i class="fa fa-eye white"></i> Approve</button>
                            <button type="button" class="btn btn-xs btn-success" ng-click="upgradeApp(pipeLineActBarData)">
                                <i class="fa fa-edit white"></i> Upgrade</button>
                        </span>
                    <button type="button" class="btn btn-xs cat-btn-update pull-right" ng-click="appCardRefresh()">
                        <i class="fa fa-refresh white"></i> Refresh</button>
                </div>
                <div ui-grid="pipeGridOptions"  ui-grid-pagination class="grid"></div>
            </div>
            <div ng-if="!pipeGridOptions.data.length > 0">
                <div class="action-bar panel-heading">
                    <button type="button" class="btn btn-xs cat-btn-update pull-right" ng-click="appCardRefresh()">
                        <i class="fa fa-refresh white"></i> Refresh</button>
                </div>
                <div class="no-data-found"> No data found !</div>
            </div>

        </section>

        <section  class=" {{!isHistoryTab.template? 'hide-grid':'show-grid'}}"  ng-controller="applicationHistoryCtrl">
            <div ng-if="!historGgridData.length > 0">
                <div class="action-bar panel-heading">
                    <div class="pull-right width0">
                        <button type="button" class="btn btn-xs cat-btn-update " ng-click="appHistoryRefresh()">
                        <i class="fa fa-refresh white"></i> Refresh</button>
                    </div>
                </div>
                <div class="no-data-found"> No data found !</div>
            </div>
            <div ng-if="historyGridOptions.data.length > 0">
                <div class="action-bar panel-heading">
                    <button type="button" class="btn btn-xs cat-btn-update pull-right" ng-click="appHistoryRefresh()">
                        <i class="fa fa-refresh white"></i> Refresh</button>
                </div>
                <div  ui-grid="historyGridOptions" ui-grid-pagination  ui-grid-resize-columns ui-grid-move-columns  class="grid"></div>
            </div>
        </section>

        <section  class="pipelineView {{!isAppActiveCardTab.template? 'hide-grid':'show-grid'}}">
            <div ng-if="summaryGridOptions.data.length > 0">
                <div class="action-bar panel-heading">
                    <button type="button" class="btn btn-xs btn-info  pull-right" ng-click="appSummaryRefresh()">
                        <i class="fa fa-refresh white"></i> Refresh</button>
                </div>
                <div ui-grid="summaryGridOptions"  class="grid"></div>
            </div>
            <div ng-if="!summaryGridOptions.data.length > 0">
                <div class="action-bar panel-heading">
                    <div class="pull-right width0">
                        <button type="button" class="btn btn-xs cat-btn-update " ng-click="appSummaryRefresh()">
                            <i class="fa fa-refresh white"></i> Refresh</button>
                    </div>
                </div>
                <div class="no-data-found"> No data found !</div>
            </div>
        </section>

    </div>
</div>