<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/workzone/application/application.css">
<div id='applicationPage' ng-controller="applicationCtrl">
    <loading size="large" name="isApplicationPageLoading" type="block"></loading>
    <div ng-show="!isApplicationPageLoading">
        <div class="panel-heading">
            <span class="panel-title">
                <span class="app-panel-heading-text">Application Deployment for : </span>
                <span ng-show="isPipelineViewActive">{{orgName}}</span>
                <span ng-show="!isPipelineViewActive">{{selectedEnv}}</span>
            </span>
            <span class="pull-right">
                <button type="button" class="btn cat-btn-update app-deploy-new-button" 
                ng-click="deployNewApp()">
                    <i class="fa fa-plus white"></i>
                    Deploy New App
                </button>
                <button type="button" class="btn cat-btn-update app-deploy-new-button" 
                ng-click="upgradeApp()" ng-show="!isPipelineViewActive">
                    <i class="fa fa-cloud-upload white"></i>
                    Upgrade App
                </button>
                <button type="button" class="btn cat-btn-update app-deploy-new-button" 
                ng-click="applicationPipelineView()" ng-show="!isPipelineViewActive">
                    <i class="fa fa-chevron-left white"></i>
                    Pipeline View
                </button>
                <span ng-click="applicationTableView()" ng-show="isPipelineViewActive"> 
                    <i class="fa fa-header fa-2x cursor"></i>
                </span>
            <span ng-click="configureAppPipelineView()" ng-show="isPipelineViewActive"> 
                    <i class="fa fa-cogs cursor"></i>
                </span>
            </span>
        </div>

        <section id="pipelineView" class="scrollContent" ng-show="isPipelineViewActive" >
            <div ng-if="PipeGridOptions.data.length > 0">
                <div class="action-bar panel-heading">
                    <div ng-show="pipeLineActBarShow">
                        <p>
                            <button type="button" class="btn btn-xs btn-info" ng-click="appCardDetail(pipeLineActBarData)">Info</button>
                            <button type="button" class="btn btn-xs btn-default" ng-click="appInfo(pipeLineActBarData)">Log</button>
                            <button type="button" class="btn btn-xs btn-primary">Promote</button>
                            <button type="button" class="btn btn-xs btn-success">Upgrade</button>
                            <button type="button" class="btn btn-xs btn-warning">Rollback</button>
                            <button type="button" class="btn btn-xs btn-danger">Delete</button>
                        </p>
                    </div>
                </div>
                <div id="grid1"  ui-grid="PipeGridOptions"  ui-grid-pagination class="grid"></div>
            </div>
            <div class="no-data-found" ng-if="!PipeGridOptions.data.length > 0"> No data found !</div>

        </section>

        <section id="tableView" class="scrollContent" style="position: relative;" ng-show="!isPipelineViewActive">
            <div class="no-data-found" ng-if="!historyGridOptions.data.length > 0"> No data found !</div>
            <div id="grid2" ng-if="historyGridOptions.data.length > 0"  ui-grid="historyGridOptions" ui-grid-pagination  ui-grid-resize-columns ui-grid-move-columns  class="grid"></div>
        </section>
    </div>
</div>
