<div ng-switch="cardType" >
    <div ng-switch-when="pipeline">
        <div ng-if="cardDetails.name" class="text-center">
            <div class="cardView">
                <div class="card app-details" title="{{cardDetails.name}}">
                    <div class="card-title">
                        <div  class="card-title-name"> <strong>{{cardDetails.name}}</strong>
                        </div>
                        <hr/>
                    </div>
                    <div class="card-status-state">
                        <div class="app-icon">
                            <i class="fa fa-cube"></i>
                        </div>
                    </div>
                    <div class="instance-ip">
                        <span>{{cardDetails.version}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!cardDetails.name" class="env-card-wrapper text-center">
            <div class="cardView">
                <div id="{{cardDetails.id}}" ng-style="(cardDetails && cardDetails.applicationNodeIP) ? {} : {'opacity': '0.4','filter':'alpha(opacity=40)','-webkit-filter': 'grayscale(1)'}" class="card {{(cardDetails.applicationNodeIP)?'cursor':''}} {{pipeCtrl.selectedCardClass}}" title="{{cardDetails.applicationNodeIP}}"  ng-click="pipeCtrl.selectedCard(cardDetails,appName,envName,cardDetails.id)">
                    <div class="card-title">
                        <div  class="card-title-name"> <strong>{{cardDetails.applicationNodeIP}}</strong>
                        </div>
                        <hr/>
                    </div>
                    <div class="card-status-state">
                        <div class="status-state ">
                            <div class="{{pipeCtrl.getAppCardStatus(cardDetails.applicationStatus,'image')}}">
                                <i class="fa fa-th fa-database {{pipeCtrl.getAppCardStatus(cardDetails.applicationStatus,'text')}}" title="App Details" ></i>
                            </div>
                        </div>
                    </div>
                    <div class="instance-ip">
                        <span ng-bind-html="(cardDetails.applicationLastDeploy | timestampToLocaleTime )">
                        </span>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div ng-switch-when="summary">
        <div ng-if="!cardDetails.version" class="text-center" ng-style="(cardDetails && cardDetails.length >0) ? {} : {'opacity': '0.4','filter':'alpha(opacity=40)','-webkit-filter': 'grayscale(1)'}" >
            <div class="cardView">
                <div class="card app-details" >
                    <div class="card-title">
                        <div  class="card-title-name" > <strong ng-bind-html="(cardDetails && cardDetails.length >0)?cardDetails:''"></strong>
                        </div>
                        <hr/>
                    </div>
                    <div class="card-status-state">
                        <div class="app-icon {{(cardDetails && cardDetails.length >0) ?'':'inavtive-card'}}">           
                            <i class="fa fa-cube"></i>
                        </div>
                    </div>
                </div>
            </div>
    </div>

        <div ng-if="cardDetails.version" class="text-center">
            <div class="cardView">
                <div class="card app-details" title="{{cardDetails.instanceName}}">
                    <div class="card-title">
                        <div  class="card-title-name"> <strong>{{cardDetails.instanceName}}</strong>
                        </div>
                        <hr/>
                    </div>
                    <div class="card-status-state">
                        <div class="app-icon-card">
                            <i class="fa fa-database"></i>
                        </div>
                    </div>
                    <div class="instance-ip">
                        <span>{{cardDetails.version}}</span>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>