/*New Box*/
.dashboard-stats__item.dashboard-stats__item_blue {
    background-color: #00c0ef;
}

.dashboard-stats__item {
    position: relative;
    overflow: hidden;
    padding: 11px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 160px;
}
.dashboard-stats__item > .fa {
    position: absolute;
    bottom: -5%;
    left: 0%;
    font-size: 77px;
    color: rgba(255, 255, 255, 0.15);
}
.dashboard-stats__title {
    margin: 0;
    text-align: right;
    font-size: 45px;
    font-weight: 300;
    color: #fff;
}
.dashboard-stats__title > small {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
} 

.dashboard-stats__item.dashboard-stats__item_green {
    background-color: #00a65a;
}

.dashboard-stats__item.dashboard-stats__item_orange {
    background-color: #ffa726;
}

.dashboard-stats__item.dashboard-stats__item_bg-blue {
    background-color: #2980b9;
}

.dashboard-stats__item.dashboard-stats__item_red {
    background-color: #ef5350;
}

.dashboard-stats__item.dashboard-stats__item_brown {
    background-color: #c58627;
}





/*css*/
.page-name {
    font-size: 18px;
    margin: 5px 0 5px 36px;
}

.refresh-btn {
    margin: 2px 10px 0 0;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
}

.borderTop {
    border-top: 1px dashed #ddd;
    margin: 15px 0px;
}

.summary-container {
    width: 96%;
}

.containerBox {
    margin-left: 19px;
    margin-top: -7px;
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-content {
    padding-top: 50px;
}

.text-faded {
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}

.circle-tile-description {
    text-transform: uppercase;
    height: 29px;
}

.dark-blue {
    background-color: #00c0ef;
}

.brown {
    background-color: #c58627;
}

.green {
    background-color: #00a65a;
}

.orange {
      background-color: #f39c12;
}

.redcard {
      background-color: #e74c3c;
}

.bg-blue {
          background-color: #2980b9;
}

.circle-tile-heading {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 10px auto -35px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #fff;
    padding-top: 15px;
    transition: all ease-in-out .3s;
}

.circle-tile-number {
    padding: 0px 0 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: .6;
    height: 28px;
}

.selected-section {
    display: block !important;
}

.section-bottom-glyph {
    position: absolute;
    top: 77px;
    left: 80px;
    font-size: 22px;
    display: none;
}

.dark-blue-glyph {
    color: #00c0ef;
}

.green-glyph {
    color: #00a65a;
}

.orange-glyph {
    color: orange;
}

.bg-blue-glyph {
    color: #2980b9;
}

.redcard-glyph {
    color: #e74c3c;
}

.brown-glyph {
    color: #c58627;
}

/*searchbox*/
.searchWidth {
    width: 98%;
}

.pull-right {
      float: right!important;
      margin-right: 20px;
}

.SN-library-search {
    height: 33px;
    /* margin-right: 12px; */
}

.SN-search {
    -webkit-appearance: textfield !important;
    font-size: 16px;
}

.search-icon {
    margin-left: -26px;
    cursor: pointer;
}

.search-pull-right {
    float: right!important;
    margin-top: 20px;
}

.margin-top-20px {
    margin-top: 20px;
}

/*pagination*/
#greenpagination {
    margin: auto;
}

.pager {
    float: left;
    height: 30px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    width: 98%;
}

.pager .disabled {
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.pager .btn {
    display: block !important;
    width: 40px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 5px 0 0 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pager ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;
}

.pager ul li {
    display: inline;
    margin-left: 2px;
}

.green.active {
    background-color: #ddd;
    border: solid 1px #ccc;
}

.green.normal {
    background-color: #fff;
    border: solid 1px #fff;
}

.pager ul li a {
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.pager div.short {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 74px;
    display: none;
}

.pager span {
    margin-left: 4px;
    float: right;
    position: relative;
    margin-top: 5px;
}

@media (min-width: 1200px) {
      .width20 {
            width: 20%;
      }
}

