@import '../../../theme';

.font-size-15{
  font-size: 15px !important;
}

.header-name {
  text-align: center;
}

.marginleft23 {
  margin-left: 23px;
}

.paddingbottom10 {
  padding-bottom: 10px;
}

.margintop8 {
  margin-top: 8px;
}

.cookbook-edit-text {
  background: #fff;
}

.marginbottom10{
  margin-bottom: 10px !important;
}

.task-type-img, .bot-status-icon {
  height: 30px;
}

#selectInstanceFromDropdown {
  height: 50px;
}

#botAuditTrailPage {
  .ui-grid-column-menu-button {
    display: none;
  }
}

#botLibraryPage, #botAuditTrailPage {
  .page-name {
      font-size: 18px;
      margin: 5px 0 5px 10px;
  }

  .btn-xs {
      padding: 1px 5px;
      font-size: 12px;
  }

  .refresh-btn {
    margin: 2px 10px 0 0;
  }

  .borderTop {
      border-top: 1px dashed #ddd;
  }
}

#botLibraryPage {
  .summary-container {
    width: 100%;
  }

  .selected {
    height: 92px !important;
    margin-top: 14px !important;
  }

  .selected-blue {
    color: #00c0ef !important;
    border: 1px solid #00c0ef !important;
  }

  .selected-green {
    color: #00a65a !important;
    border: 1px solid #00a65a !important;
  }

  .selected-red {
    color: #dd4b39 !important;
    border: 1px solid #dd4b39 !important;
  }

  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 15px 0;
    border: 1px solid #ccc;
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }

  .info-box-text {
    text-transform: uppercase;
  }

  .info-box-text {
    display: block;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  .info-box-icon {
    display: block;
    float: left;
    height: 88px;
    width: 88px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
  }

  .bg-aqua {
    background-color: #00c0ef !important;
  }

  .bg-green {
    background-color: #00a65a !important;
  }

  .bg-red {
    background-color: #dd4b39 !important;
  }
}

#botLibraryPage{
  .circle-tile {
    margin-bottom: 15px;
    text-align: center;
  }

  .circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    padding-top: 16px;
    transition: all ease-in-out .3s;
  }

  .circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
  }

  .circle-tile-content {
    padding-top: 50px;
  }

  .circle-tile-description {
    text-transform: uppercase;
  }

  .text-faded {
    color: rgba(255,255,255,0.7);
    font-weight: bold;
  }

  .dark-blue {
    background-color: #00c0ef;
  }

  .green {
    background-color: #00a65a;
  }

  .orange {
    background-color: #f39c12;
  }

  .red {
    background-color: #e74c3c;
  }

  #botLibraryPage .selected-blue {
    border: none !important;
  }

  .ui-grid-cell{
    border-right:none !important;
  }

  /*global css*/
  .ui-grid .ui-grid-row {
    border-bottom: 1px solid #ccc;
  }
}

.bot-library-search {
  height: 33px;
  margin-right: 12px;
}

.bot-audit-trail-search {
  height: 31px;
  margin: 6px 9px 0 0px;
}

.search-text {
  font-weight: normal;
}

.bot-search {
  -webkit-appearance: textfield !important;
}