@import '../../../theme';

.font-size-15{
  font-size: 15px !important;
}

.header-name {
  text-align: center;
}

.marginleft23 {
  margin-left: 23px;
}

.paddingbottom10 {
  padding-bottom: 10px;
}

.paddingbottom20 {
  padding-bottom: 20px;
}

.margintop8 {
  margin-top: 8px;
}

.cookbook-edit-text {
  background: #fff;
}

.marginbottom10{
  margin-bottom: 10px !important;
}

.task-type-img, .bot-status-icon {
  height: 30px;
}

#selectInstanceFromDropdown {
  height: 50px;
}

.param-table {
  max-height: 400px;
  overflow-y: auto;
}

#botLibraryPage, #botAuditTrailPage {
  .page-name {
    font-size: 18px;
    margin: 5px 0 5px 10px;
  }

  .search-icon {
    margin-left: -26px; 
    cursor: pointer;
  }

  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
  }

  .refresh-btn {
    margin: 2px 10px 0 0;
  }

  .search-text {
    font-weight: normal;
  }

  .bot-search {
    -webkit-appearance: textfield !important;
  }

  .borderTop {
    border-top: 1px dashed #ddd;
  }
}

#botLibraryPage {
  .summary-container {
    width: 100%;
  }

  .bot-library-search {
    height: 33px;
    margin-right: 12px;
  }

  .section-bottom-glyph {
    position: absolute;
    top: 140px;
    left: 97px;
    font-size: 22px;
    display: none;
  }

  .selected-section {
    display: block !important;
  }

  .circle-tile {
    margin-bottom: 15px;
    text-align: center;
  }

  .circle-tile-heading {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 10px auto -35px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #fff;
    padding-top: 15px;
    transition: all ease-in-out .3s;
  }

  .circle-tile-number {
    padding: 5px 0 6px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    height: 37px;
  }

  .circle-tile-content {
    padding-top: 50px;
  }

  .circle-tile-description {
    text-transform: uppercase;
  }

  .text-faded {
    color: rgba(255,255,255,0.7);
    font-weight: bold;
  }

  .dark-blue {
    background-color: #00c0ef;
  }

  .dark-blue-glyph {
    color: #00c0ef;
  }

  .green-glyph {
    color: #00a65a;
  }

  .green {
    background-color: #00a65a;
  }

  .orange {
    background-color: #f39c12;
  }

  .redcard {
    background-color: #e74c3c;
  }

  .redcard-glyph {
    color: #e74c3c;
  }

  .bg-blue {
    background-color: #2980b9;
  }

  .bg-blue-glyph {
    color: #2980b9;
  }

  .font-size-16 {
    font-size: 16px;
  }

  a.cursor {
    padding: 0 5px;
  }

  .margin-21 {
    margin: 0 20px;
  }

  #botLibraryPage .selected-blue {
    border: none !important;
  }

  .ui-grid-cell{
    border-right:none !important;
  }
}


#botAuditTrailPage {
  .bot-audit-trail-search {
    height: 31px;
    margin: 6px 9px 0 0px;
  }

  .ui-grid-column-menu-button {
    display: none;
  }
}

/*global css*/
.ui-grid .ui-grid-row {
  border-bottom: 1px solid #ccc;
}