@import '../../../theme';

.font-size-15{
  font-size: 15px !important;
}

.header-name {
  text-align: center;
}

.marginleft23 {
  margin-left: 23px;
}

.marginleft10 {
  margin-left:10px
}

.marginleft20 {
  margin-left:20px
}

.marginleft35 {
  margin-left:35px
}

.marginbottom15 {
  margin-bottom: 15px;
}

.paddingbottom10 {
  padding-bottom: 10px;
}

.marginbottom15 {
  margin-bottom: 15px;
}

.paddingbottom20 {
  padding-bottom: 20px;
}

.margintop8 {
  margin-top: 8px;
}

.margintop6 {
  margin-top: 6px;
}

.margintop20 {
  margin-top: -20px;
}

.boxWidth {
  width:17%!important;
}

.paddingleft0 {
  padding-left: 0px;
}

.marginright10 {
  margin-right: 10px;
}

.cookbook-edit-text {
  background: #fff;
}

.marginbottom10{
  margin-bottom: 10px !important;
}

.task-type-img, .bot-status-icon {
  height: 30px;
}

#selectInstanceFromDropdown {
  height: 50px;
}

.param-table {
  max-height: 400px;
  overflow-y: auto;
}

.bot-info-wrapper {
  max-height: 450px;
  overflow-y: auto;
}

#botLibraryPage, #botAuditTrailPage, #botsDescriptionPage {
  .page-name {
    font-size: 18px;
    margin: 5px 0 5px 36px;
  }

  .search-icon {
    margin-left: -26px; 
    cursor: pointer;
  }

  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
  }

  .refresh-btn {
    margin: 2px 10px 0 0;
  }

  .search-text {
    font-weight: normal;
  }

  .bot-search {
    -webkit-appearance: textfield !important;
    font-size: 16px;
  }

  .borderTop {
    border-top: 1px dashed #ddd;
  }
}

#botLibraryPage, #botsDescriptionPage, #botAuditTrailPage {
  .summary-container {
    width: 96%;
  }

  .filter-margin {
    //margin: 2px 10px 0 0;
    margin-right:4px;margin-top:2px;
  }

  .filter-by-text {
    margin-top: 4px;
  }

  .bot-library-search {
    height: 33px;
   /* margin-right: 12px;*/
  }

  .section-bottom-glyph {
    position: absolute;
    top: 141px; /*140*/
    left: 118px; /*97*/
    font-size: 22px;
    display: none;
  }

  .selected-section {
    display: block !important;
  }

  .circle-tile {
    margin-bottom: 15px;
    text-align: center;
  }

  .circle-tile-heading {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 10px auto -35px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #fff;
    padding-top: 15px;
    transition: all ease-in-out .3s;
  }

  .circle-tile-number {
    padding: 0px 0 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: .6;
    height: 28px;
  }

  .circle-tile-content {
    padding-top: 50px;
  }

  .circle-tile-description {
    text-transform: uppercase;
    height: 29px;
  }

  .text-faded {
    font-weight: normal;
    color: #fff;
  }

  .dark-blue {
    background-color: #00c0ef;
  }

  .dark-blue-glyph {
    color: #00c0ef;
  }

  .green-glyph {
    color: #00a65a;
  }

  .green {
    background-color: #00a65a;
  }

  .orange {
    background-color: #f39c12;
  }

  .redcard {
    background-color: #e74c3c;
  }

  .redcard-glyph {
    color: #e74c3c;
  }

  .bg-blue {
    background-color: #2980b9;
  }

  .bg-blue-glyph {
    color: #2980b9;
  }

  .font-size-20 {
    font-size: 20px;
  }

  #grid1 a {
    padding: 0 8px;
  }

  a.cursor {
    padding: 0 5px;
  }

  

  .margin-21 {
    margin: 0 20px;
  }

  #botLibraryPage .selected-blue {
    border: none !important;
  }

  .ui-grid-cell{
    border-right:none !important;
  }
}


#botAuditTrailPage {
  .bot-audit-trail-search {
    height: 31px;
    margin: 6px 9px 0 0px;
  }

  .ui-grid-column-menu-button {
    display: none;
  }
}

/*global css*/
.ui-grid .ui-grid-row {
  border-bottom: 1px solid #ccc;
}

.grid-card-base {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  margin-bottom: 20px;
  /*overflow: hidden;*/
  position: relative;
}

.grid-card-base.hoverable:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.grid-card-base.hoverable:active {
  box-shadow: 0 0 0 1px rgba(62, 146, 210, 0.2);
}

.grid-card {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  min-width: 402px;
  width: 402px;
  float: left;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.bg-aqua {
  background-color: #00c0ef!important;
  color: #fff !important;
}

.bg-green {
  background-color: #00a65a !important;
  color: #fff !important; 
}

.bg-red {
  background-color: #dd4b39 !important;
  color: #fff !important; 
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2); 
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 22px;
}

.info-box-text {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faColor {
  color : #fff!important;
}

.grid-card.hoverable:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.grid-card.hoverable:active {
  box-shadow: 0 0 0 1px rgba(62, 146, 210, 0.2);
}

.grid-card-full-width {
  float: none;
  display: block;
  width: auto;
}

.agent-card a:hover,
.agent-card a:visited {
  color: #2B2B2B;
}

.agent-card a {
  color: #2B2B2B!important;
}

.agent-info {
  margin-bottom: 20px;
}
.agent-info .image-cell {
  display: inline-block;
  padding: 0;
  margin-top: 0;
}

.agent-card {
  padding: 0;
}

.agent-card > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.agent-card .image-cell {
  margin: 0;
  float: left;
}

.image-cell {
  display: inline-block;
  vertical-align: top;
}

.image-cell {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.image-cell img {
  display: block;
  width: 74%;
  height: 70%;
  border-radius: 70%;
  margin: 15%;
}

.two-tone-11 .highlight {
 /* background-color: #8A8E93;*/
}

.agent-card .image-cell + * {
  width: 282px;
}

.two-tone-11 {
  background-color: #D1D4D8;
}

.info-cell .title {
  margin-top: 15px;
  line-height: 1.1;
  margin-bottom: 7px;
}

.agent-card .title {
  /* font-family: "Segoe UI", sans-serif; */
  font-size: 22px;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: -2px;
}


.agent-card .publisher {
  padding-bottom: 5px;
}

.info-cell .publisher {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
}

.info-cell {
  display: inline-block;
  vertical-align: top;
  padding-left: 12px;
}

.desc-cell {
  float: left;
  vertical-align: top;
  padding-right: 15px;
  padding-left: 12px;
  width: 220px;
}

body {
  background : rgba(0, 0, 0, 0.04);
  /*background:#F7F7F7;ecf0f5*/
  overflow-y:auto!important;
}


body .botDescriptionPage {
  background:#F7F7F7;
}

.boxBots {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 1px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

/*.nav-tabs li {
  cursor: pointer;
  margin-bottom: -1px!important;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover {
  border-bottom-width: 0px;
  border-top-width: 3px; 
  border-color: #40BAF1; 
  background: #fcfcfc;
}

.nav-tabs {
  border-bottom: 0px!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: none!important;
  border: none!important;
}*/

//For Active tab
.bots-tab-active {
  /*background-color: #fff !important;*/
 /* border: 1px solid #40baf1 !important;*/
  border-bottom: 2px solid #4285F4 !important;
  /*box-shadow: 0 -1px 5px -1px;*/
  border-radius: 0px;
  color: #4285F4 !important;
  font-weight: 500;
  outline: none !important;
  text-decoration: none !important;
  i {
      color: #40baf1;
  }
}

.tabReadme {
  color: #666 !important
}

.nav-tabs {
  border-bottom: 0px;
  margin-bottom: 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  color: #666;
  cursor: pointer;
}

.nav-tabs > li.active > a {
  border: none;
  color: #4285F4 !important;
  background: transparent;
  i {
      color: #40baf1;
  }
}

.nav-tabs > li > a::after {
  content: "";
  background: #4285F4;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
  i {
      color: #40baf1;
  }
}

.nav-tabs > li.active > a::after {
  transform: scale(1);
}

.actionItems {
  background-color: #d8d8d8;
  padding: 5px 10px;
  border-radius: 0px 0px 5px 5px;
}

.top-stats {
  .badge {
    margin-right: 2px; 
    background: #40baf1; 
    padding: .2em 1.5em .3em;
    font-size: 15px;
    margin-top: -5px;
  }
}

.marginCheck {
  margin-left:34px;
  margin-top:-10px;
  margin-bottom:20px;
  margin-right:20px;   
}

.font-size-16 {
  font-size: 16px;
}

.filterButtons {
  padding: 5px 10px;
  font-size: 85%;
  background: #a7a7a7;
  border: 1px solid #a7a7a7!important;
}

.filterClear {
  position:relative;
  cursor:pointer;
  float: right;
  right: -9px;
}

.bot-card-hero {
  height: 100px;
}

.bot-card-hero .image-cell {
  height: 100px;
  width: 100px;
}

.bot-card-hero .bot-content {
  margin-left: 120px;
}

.bot-card-hero h3 {
  font-family: "Segoe UI Semilight", sans-serif;
  font-size: 24px;
  line-height: 46px;
  margin-top: 8px;
}

.bot-card-hero .card-links {
  position: absolute;
  top: 15px;
  right: 20px;
}

.inner-grid > .bot-card-hero {
  margin-top: 20px;
}

.bot-card-hero h3,
.bot-card-hero ul {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bot-card-hero .image-cell {
  float: left;
}

.ul-vert-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-vert-bar li {
  display: inline;
  padding-left: 3ex;
  padding-right: 3ex;
  border-left: 1px solid #999999!important;
}

.ul-vert-bar li:first-child {
  padding-left: 0;
  border-left: 0px none transparent!important;
}

.font-size-24 {
  font-size: 24px;
}

.botsWidth {
  width:98%;
}

.btnPadding {
  padding: 4px 10px;
  margin-left:10px;
  cursor:pointer;
}

.containerBox {
  margin-left: 19px;
  margin-top:-7px;
}

.margin10 {
  margin-left:10px;
  margin-right:10px;
}

@-moz-document url-prefix() {
    .search-icon {
      margin-left: -24px!important; 
      cursor: pointer;
    }

    .cancel-icon {
      margin-left: -18px!important; 
      cursor: pointer; 
    }

    .firefoxForm {
      margin-top: -20px;
    }

}

@media (min-width : 1200px){
  .width20 {
    width: 20%
  }

}

@media (min-width : 1550px){
    .agent-card .image-cell + * {
      width: 375px;
    }

    .info-box-text {
      font-size: 16px;
    }

    .info-box-number {
      font-size: 26px;
    }

    .grid-card {
      background-color: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      margin-left: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      min-width: 548px;
      width: 548px;
      float: left;
    }
    #botLibraryPage .section-bottom-glyph {
      left: 170px;
      
    }
}
