<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/workzone/instance/instance.css">

<div id='deleteInstancePage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title"> 
			<i class="fa fa-trash-o"></i>
			Delete Instance 
		</h4>
	</div>

	<div class="modal-body">
		<input type="hidden" id="deleteInstanceIdInput" value="55e94026782ff6df3ca19716">
		<div class="form-group"><span for="name">
			You are about to remove this instance, do you want to proceed?</span>
		</div>
		<div class="form-group">
			<label class="font-normal" for="name">Instance Name:</label>
				<strong><span class="forBootBox" for="name">{{instance.name}}</span></strong>
		</div>
		<div class="form-group">
			Note : This will delete the node from Chef Server and Catalyst and will not terminate the instance from provider.
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-delete" ng-click="ok()">
			<i class="fa fa-trash-o white"></i> Delete
		</button>
	</div>
</div>
