<div id='instanceRunPuppetClientPage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title"> 
			Confirmation 
		</h4>
	</div>

	<div class="modal-body">
		Are you sure you want to run puppet client?
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-update" ng-click="ok()">
			<i class="fa fa-check white"></i> Ok
		</button>
	</div>
</div>
