<div id="instanceCookBookHelpPage">
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title">
			<i class="fa fa-info-circle"></i>&nbsp;
			CookBook Information
		</h4>
	</div>

	<div class="modal-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>CookBook Name</th>
					<th>Description</th>
				</tr>
				<tr>
				</tr>
			</thead>
			<tbody>
				<!--1st set-->
				<tr>
					<td>apache2-windows</td>
					<td>Installation &amp; Configuration of Apache Server</td>
				</tr>
				<tr>
					<td>apache2</td>
					<td>Installation &amp; Configuration of Apache Server</td>
				</tr>
				<!--2nd set-->
				<tr>
					<td>cassandra</td>
					<td>Installation and configuration of Cassandra Server</td>
				</tr>
				<tr>
					<td>eclipse_windows</td>
					<td>Installtion of Eclispe on Windows</td>
				</tr>
				<!--3rd set-->
				<tr>
					<td>visualstudio_windows</td>
					<td>Installation of Visual Studio</td>
				</tr>
				<tr>
					<td>iis</td>
					<td>Installation and configuration of IIS Server</td>
				</tr>
				<!--4th set-->
				<tr>
					<td>jboss7</td>
					<td>Installation and Configuration of JBOSS7 Server</td>
				</tr>
				<tr>
					<td>tomcat</td>
					<td>Installs and configures Tomcat, Java servlet engine and webserver</td>
				</tr>
				<!--5th set-->
				<tr>
					<td>weblogic</td>
					<td>Installation and Configuration of weblogic</td>
				</tr>
				<tr>
					<td>java</td>
					<td>Installation of Java</td>
				</tr>
				<!--6th set-->
				<tr>
					<td>java_windows</td>
					<td>Installation of Java</td>
				</tr>
				<tr>
					<td>nodejs</td>
					<td>Installation of NodeJS and npm package</td>
				</tr>
				<!--7th set-->
				<tr>
					<td>php</td>
					<td>Installation and Configuration of PHP</td>
				</tr>
				<tr>
					<td>lamp_role</td>
					<td>Installation and Configuration of LAMP stack</td>
				</tr>

				<!--8th set-->
				<tr>
					<td>mysql-windows</td>
					<td>Installation and Configuration of Mysql</td>
				</tr>
				<tr>
					<td>mysql</td>
					<td>Installation and Configuration of Mysql</td>
				</tr>
				<!--9th set-->

				<tr>
					<td>oracle_windows</td>
					<td>Installation and Configuration of Oracle</td>
				</tr>
				<tr>
					<td>postgresql</td>
					<td>Installation and Configurationof postgresql</td>
				</tr>
				<!--10th set-->
				<tr>
					<td>service_apache</td>
					<td>Service cookbook for apache server</td>
				</tr>
				<tr>
					<td>service_iptables</td>
					<td>Service cookbook for firewall</td>
				</tr>

				<!--11th set-->
				<tr>
					<td>service_jboss</td>
					<td>Service cookbook for Jboss server</td>
				</tr>
				<tr>
					<td>service_mysql</td>
					<td>Service cookbook for Mysql</td>
				</tr>
				<!--12th set-->
				<tr>
					<td>service_nginx</td>
					<td>Service cookbook for nginx </td>
				</tr>
				<tr>
					<td>service_tomcat</td>
					<td>Service cookbook for tomcat</td>
				</tr>
				<!--13th set-->
				<tr>
					<td>service_weblogic</td>
					<td>service cookbook for weblogic</td>
				</tr>
				<tr>
					<td>seven_zip</td>
					<td>Installation of 7Zip</td>
				</tr>
				<!--14th set-->
				<tr>
					<td>git</td>
					<td>Installs git and optionally sets up a git server as a daemon under runit</td>
				</tr>
				<tr>
					<td>wget_windows</td>
					<td>Installs wget on windows</td>
				</tr>
				<!--15th set-->
				<tr>
					<td>toad_windows</td>
					<td>Installation and Configuration of TOAD</td>
				</tr>
				<tr>
					<td>docker</td>
					<td>Installation and Configuration of docker engine</td>
				</tr>
				<tr>
					<td>jenkins</td>
					<td>Installs and configures Jenkins CI master &amp; node slaves</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-close" ng-click="cancel()">Close</button>
	</div>
</div>