<div id='instanceLogsPage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title" ng-show="!botLogs">
			<i class="fa fa-bar-chart-o"></i> Instance Logs - {{instanceName}}
		</h4>
		<h4 class="modal-title" ng-show="botLogs">
			<i class="fa fa-bar-chart-o"></i> Execute Logs
		</h4>
	</div>

	<div class="modal-body">
		<div class="logsArea">
			<loading size="large" name="isInstanceLogsLoading" align="center" type="block"></loading>
			<div ng-show="!isInstanceLogsLoading">
			   	<div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logListInitial">
				    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
				    <span class="logInfo"> {{log.log}} </span>
			   	</div>
			   	<div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logListDelta">
				    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
				    <span class="logInfo"> {{log.log}} </span>
			   	</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-close" ng-click="cancel()">
			<i class="fa fa-times black"></i> Close
		</button>
	</div>
</div>