<div id='updateChefRunlistConfirmationPage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title"> 
			Confirmation 
		</h4>
	</div>

	<div class="modal-body">
		Are you sure you want to Update the runlist? This will run all the cookbooks available in the Runlist.
	</div>

	<div class="modal-footer">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 importErrorMsg text-right error-padding" ng-show="!isSubmitLoading">
			{{ chefRunErrorMessage }}
		</div>
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-update" ng-click="ok()" ng-disabled="isSubmitLoading">
			<i class="fa fa-check white"></i> Ok
		</button>
		<loading size="small" name="isSubmitLoading" type="inline"></loading>
	</div>
</div>