@import '../../../../theme';

$imagePath : "../../../../../../images";

/*# sourceMappingURL=card.css.map */
@media (min-width : 0px) and (max-width : 320px) {
	#instanceUpdateChefRunlistPage {
		.modal-header {
			.help-text {
				margin-top: -21px;
				margin-right: 30px;
			}
		}

		.searchCookbooksRolesLabel {
			font-size: 10px;
		}
	}

	#controlPanelPage {
		.modal-header {
			.cp-header-card-info {
			    width: 90%;
			    padding-top: 0px;
			    font-size: 12px;
			}
		}

		.nav-tabs {
			font-size: 9px;
		}

		.nav>li>a {
			padding: 10px 1px;
		}
	}

	#assignJobPage {
		.paddingbottom15 {
			.left-right-selection {
				margin: 19% 0% 0 0;
			}
		}

		.selectCookbooksandRecipesdivRight {
		    margin-left: 10px;
		    margin-top: 40px;
		}

		.section-headings {
			.assigned-tasks {
				position: absolute;
				top: 50%;
			}
		}
	}

	#cpInfo {
		.header-margin {
		    margin-top: -3px;
		    margin-right: -10px;
		}
	}

	#cpServicesPage {
		.special-service-section {
		    width: 254px;
		}

		.workstationBtn {
		    margin: 0px;
		}

		.service-class {
			padding-top: 0px;
		}
	}

	#cpActionsPage {
		.options-menu-wrapper {
			.dropdown-menu {
			    left: 17%;
			}
		}
	}
}

@media (min-width: 321px) and (max-width : 480px) {
	#controlPanelPage {
		.modal-header {
			.title-font {
				font-size: 14px;
			}

			.cp-header-card-info {
			    width: 65%;
			    float: right;
			    padding-top: 2px;
			    font-size: 13px;
			}
		}

		.nav-tabs {
			font-size: 10px;
		}

		.nav>li>a {
			padding: 10px 8px;
		}
	}

	#assignJobPage {
		.paddingbottom15 {
			.left-right-selection {
				margin: 19% 0% 0 0;
			}
		}

		.selectCookbooksandRecipesdivRight {
		    margin-left: 10px;
		    margin-top: 40px;
		}

		.section-headings {
			.assigned-tasks {
				position: absolute;
				top: 50%;
			}
		}
	}
}

@media (min-width : 0px) and (max-width : 480px) {
	#cardView .options-menu-wrapper .dropdown-icon, #tableView .options-menu-wrapper .dropdown-icon, #cpActionsPage .options-menu-wrapper .edit-instance-bs .dropdown-icon {
	    margin: 0px 3px 0px 8px;
	}

	#instancePage {
		#cardView {
			.card-wrapper {
				.card-border {
					border-width: 1px;
					@include theme-border-color;
				}
			}
		}

		#tableView {
			font-size: 11px;

			.options-menu-wrapper {
				float: left;
				margin-left: -12px;

				.dropdown-menu {
					left: -123px;
				}
			}

			.ssh-rdp-wrapper {
				display: none;
			}
		}

		#cardView, #tableView {
			.options-menu-wrapper {
				.dropdown-menu {
					font-size: 12px;
					margin-bottom: 10px;
				}

				.dropdown-menu > li > span {
					padding: 2px 0px;
				}
			}
		}

		.panel-heading {
			.pull-right {
				.fa-laptop {
					font-size: 20px;
					margin: -2px 0 0 0;
				}

				.fa-th, .fa-align-justify {
					font-size: 1.2em;
				}
			}
		}
	}	
}

@media (min-width : 481px) {
	#instanceUpdateChefRunlistPage {
		.radio-all, .radio-roles, .radio-cookbooks, .radio-templates, .chef-factory {
			width: 18%;
			float: left;
		}

		.chef-factory {
			margin: 3px 0 0 30px;
		}
	}

	#cpServicesPage {
		.special-service-section {
			width: 380px;
		}

		.workstationBtn {
			margin: 2px 0px 0px 32px; 
		}

		.service-class {
		    padding-top: 8px;
		}
	} 
}

@media (min-width : 0px) and (max-width: 767px) {
	.dropdown-menu {
		left: -80px;
	}

	.rdp-anchor {
		color: #333;
	}

	.rdp-anchor:hover {
		text-decoration: none;
		color: #333;
	}
}

@media (min-width: 768px) {
	#instancePage {
		#cardView {
			.card-wrapper {
				.card-border {
					border-width: 2px;
					@include theme-border-color;
				}
			}
		}
	}

	#assignJobPage {
		.left-right-selection {
			margin: 19% 5% 0 0;
		}
	}

	.fa-info-circle {
		font-size: 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#assignJobPage {
		#container {
			.left-right-selection {
			    margin: 25% 2% 0 0;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 768px) {
	.dropdown-menu {
		left: -131px;
	}

	.edit-instance-bs {
		display: none;
	}

	.more-info-bs {
		display: none;
	}

	.ssh-bs {
		display: none;
	}
}

/*Common CSS which is used for all devices*/

#cardView, #tableView, #cpActionsPage {
	.options-menu-wrapper {
		.dropdown-menu {
			border-width: 1px;
			@include theme-border-color;
		}

		.dropdown-icon {
			margin: 0px 3px 0px 20px;
		}

		.dropdown-menu > li > span {
			display: inline-block;
			padding: 3px 5px;
			clear: both;
			font-weight: 400;
			line-height: 1.42857143;
			color: #333;
			white-space: nowrap;
		}

		.dropdown-menu > li:hover {
			background: #ccc;
			cursor: pointer;
		}

		.dropdown-menu > li.no-action:hover{
			cursor:default;
			background: #fff;
		}
	}
}

#instancePage {
	.fa-laptop {
		font-size: 25px;
		margin: -2px 0 0 0;
	}

	.fa-th, .fa-align-justify {
		font-size: 1.5em;
	}

	.import-button {
		margin-right: 10px;
		float: left;
	}

	#tableView {
		width: 100%;
		padding: 0px 0px 42px 0px;
		margin-bottom: 5px;

		.fa-sort-down {
			vertical-align: top;
		}

		.btn-danger {
			padding: 2px 6px;
			border-radius: 14px;
			width: 25px;
			height: 25px;
			margin: -24px -7px 0 0px;
		}

		.dropdown {
			width: 58%;
			float: right;
		}

		.dropdown-toggle {
			border-radius: 5px;
			padding: 1px 4px;
			border-width: 2px;
			@include theme-border-color;
			background: #fff;
		}

		.instance-status {
			.status-state {
				background-repeat: no-repeat;
				background-position: center;
				background-size: 30px 30px;
				height: 30px;
			}
		}

		.instance-state-unknown, .instance-state-pending {
			background: url("#{$imagePath}/instance-states/aws-inactive.png");
		}

		.instance-state-paused, .instance-state-stopping {
			background: url("#{$imagePath}/instance-states/aws-paused.png");
		}

		.instance-state-running {
			background: url("#{$imagePath}/instance-states/aws-started.png");
		}

		.instance-state-stopped, .instance-state-terminated {
			background: url("#{$imagePath}/instance-states/aws-stopped.png");
		}

		.icon-chef, .icon-chef-disabled {
			position: relative;
			left: 39%;
		}

		.icon-rdp-disabled {
			background: url("#{$imagePath}/instance/rdp-disable.png");
			width: 28px;
			height: 28px;
		}

		.icon-puppet, .icon-puppet-disabled {
			position: relative;
			left: 40%;
		}

		.ChefClientRun {
			width: 28px;
			height: 28px;
			background: url("#{$imagePath}/global/sprites.png") no-repeat -59px -10px;
		}

		.dropdown-menu {
			left: -98px;
			border-width: 1px;
			@include theme-border-color;
			top: 24px;
		}

		.ssh-rdp-wrapper {
			float: left;
			width: 34px;
			margin-left: 24px;
		}

		.docker-image {
			width: 35px;
		    float: right;
		    margin: -45px 7px 0 0px;
		}
	}
}

/*Common CSS which is used for all devices ends here*/

/*CSS for all Popups starts here*/

#deleteInstancePage {
	.font-normal {
		font-weight: normal;
	}
}

#cookbookAttributesPage {
	.margin {
		margin-left: 15px;
	}
}

#instanceImportByIpPage {
	.important_field {
		color: $color-red;
	}
	
	.modal-body {
		position: relative;
		padding: 20px;
	}

	.URL-margin {
		margin: 15px;
		cursor: pointer;
	} 

	.control-margin {
		margin-top: 15px;
	}
}

#instanceImportByIpPage, #instanceSSHPage {
	.importErrorMsg {
		color: $color-red;
		padding-top: 16px;
	}

	.error-padding {
		padding: 0px 0px 10px 0px;
	}
}

#instanceSSHPage {
	.ssh-error-area {
		margin-bottom: 4%;
		padding-top: 60px;
	}

	.sshStyle {
		margin-top: 25px;
	}

	#ssh-loadingContainer {
		height:100%;
		display:none;
	}

	#ssh-errorArea {
		color:red;
	}
}

#instanceUpdateChefRunlistPage {
	font-size: 12px;

	.help-text {
		font-size: 14px;
		margin-top: -24px;
		float: right;
		margin-right: 60px;
		cursor: pointer;
	}

	.cookbook-edit-text, .cookbook-edit-info {
		float: left;
	}

	.cookbook-edit-text {
		width: 80%;
	}

	.cookbook-edit-info {
		margin: 6px 12px;
		cursor: pointer; 
	}

	.cookbook-attributes-edit-check {
		margin: 8px 5px 0;
	}

	.panel-group {
	    margin-bottom: 0px;
	}
}

#instanceCookBookHelpPage {
	.modal-body {
		height: 369px;
		overflow-y: auto;
	}
}

#controlPanelPage {
	.cp-header-card-info {
		width: 65%;
		float: right;
		padding-top: 4px;
	}

	.title-font {
		font-size: 18px;
	}

	.cp-container {
		margin-top: 10px;
	}

	.nav-tabs {
		border-bottom-width: 1px;
		@include theme-border-color;

		li {
			cursor: pointer;
		}

		li.active {
			a, a:hover {
				border-bottom-width: 0px;
				border-top-width: 3px;
				@include theme-border-color;
			}
		}
	}
}

#cpInfo {
	padding: 20px 0px;
	line-height: 1.8;
	font-size: 12px;

	.panel-body {
		padding: 15px 25px;
	}

	.panel-heading-custom-style {
		color: #3a87ad;
		font-size: 12px;
		font-weight: bold;
	}

	.inspect-btn {
		margin-top: -48px;
		padding: 4px 8px;
	}

	.app-url-section {
		border: 1px solid #ccc;
		min-height: 160px;
		max-height: 400px;
		overflow-y: auto;
	}

	.app-url-header {
		padding: 8px 15px;
			border-bottom: 1px solid #ccc;
			font-size: 13px;
	}

	.margintop15 {
		margin-top: 15px;
	}

	.table>thead>tr>th {
		text-align: center;
	}

	.header-margin {
		margin-top: -5px;
	}

	.tableactionbutton {
			border-radius: 50%;
	}
}

#addNewServicePage {
	.body-padding {
		padding-bottom: 40px;
	}
}

#cpServicesPage, #addNewServicePage {
	.cp-service-icon {
		width:30px; 
		height:30px; 
		font-size:16px; 
		color:white; 
		border-radius:16px; 
		padding-top:4px; 
		display:inline-block; 
		cursor:pointer; 
		margin: 5px 5px 0 0;
	}

	.greenBg {   
		background: $color-green;   
	}

	.yellowBg {  
		background: $color-yellow; 
	}

	.redBg {   
		background: $color-red;
	}

	.frontKill {   
		background: $color-lightBlack;
	}
}

#cpServicesPage {
	padding: 10px 0 0 0;
	
	.add-new-service-btn {
		margin: 26px 0 0 5%;
	}

	.special-service-section {
			margin-top: 20px;
			border: 1px solid #ccc;
			padding: 3px 5px 5px 5px;
		}

	.workstationBtn {
		float: left;  
	}
}

#cpActionHistoryPage {
	.action-history-container {
		 padding: 15px; 
	}
}

#cpActionsPage {
	.dropdown-menu {
		left: 42%;
		top: 10px;
		display: block;
		position: relative;
	}

	.edit-instance-bs {
		display: block;
	}

	.more-info-bs {
		display: block;
	}

	.ssh-bs {
		display: block;
	}
}

#stopInstancePage {
	.loader-section {
		padding: 0px 0px 15px 15px;
	}
}

#inspectSoftwarePage {
	.inspect-software-content {
		height: 370px;
		overflow-y: auto;
	}
}

/*Global CSS in Instance Page*/
.app_url {
	font-size: 10px;
}

.instanceTaskListUL {
	list-style-type: square;
}
		
.instanceTaskListUL>li {
	font-size: 10px;
	color: #3276b1;
	line-height: 1.8;
}

.showmenuAppTaskAnchor {
	background-color: #ffffff;
	@include theme-border-color;
	border-radius: 50%;
	height: 26px;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 4px 6px;
	font-size: 13px;
	margin-top: -25px;
	margin-left: 37px;
	float: left;
}

.paddingtopbottom10 {
	padding: 10px 0;
}