<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/workzone/instance/instance.css">
<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/card/card.css">

<div class="instancePage" id="instancePage" ng-controller="instanceCtrl">
	<loading size="large" name="isInstancePageLoading" type="block"></loading>
	<div ng-show="!isInstancePageLoading">
		<div class="panel-heading">
			<span class="panel-title">
				<span>Instances</span>
			</span>
			<span title="Refresh" ng-click="refreshCurrentPage();" alt="Refresh View">
				<i class="fa fa-refresh cursor"></i>
			</span>			
			<span class="pull-right">
				<span class="import-button">
					<span>
						<i class="fa fa-laptop cursor" title="Import By IP" 
						ng-click="isImportClickEnabled && instanceImportByIP()" ng-show="perms.launch"></i>
					</span>
				</span>
			<span ng-click="setCardView()"> <i class="fa fa-th cursor " ng-class="instanceCardViewSelection" title="Card View"></i></span>&nbsp;
			<span id="instanceview" ng-click="instanceTableView()"> <i class="fa fa-align-justify fa-2x cursor" ng-class="instanceTableViewSelection" title="Table View"></i></span>
			</span>
		</div>
		<section id="cardView" class="scrollContent" ng-show="isCardViewActive">
			<div class="card-wrapper" ng-repeat="inst in instanceList" ng-mouseover="overHandler()" ng-mouseout="outHandler()">
				<div class="card" ng-click="selectCard(inst._id);" ng-class="{'card-border' :inst._id == selectedCard}">
					<div class="card-title">
						<div class="card-title-role">
							<img src="images/global/chef-import.png" ng-if="inst.blueprintData.templateId === 'chef' || inst.blueprintData.templateId==='chef_import'" />
							<img src="images/templateicons/appFact4.png" ng-if="inst.blueprintData.templateId === 'Apache' || inst.blueprintData.templateId === 'apache'" />
							<img src="images/templateicons/custom-temp.jpg" ng-if="inst.blueprintData.templateId === 'CustomTemplate'" />
							<img src="images/templateicons/apache-tomcat.jpeg" ng-if="inst.blueprintData.templateId === 'Tomcat'" />
							<img src="images/templateicons/cloudformation.png" ng-if="inst.blueprintData.templateId === 'CFT_newco'" />
							<img src="images/templateicons/imgo.jpg" ng-if="(inst.blueprintData.templateId !== 'apache' && inst.blueprintData.templateId !== 'chef' && inst.blueprintData.templateId !== 'chef_import' && inst.blueprintData.templateId !== 'CFT_newco' && inst.blueprintData.templateId !== 'Tomcat')" />
						</div>
						<div title="{{inst.name}}" class="card-title-name pull-left">{{inst.name}}</div>
						<div class='card-title-edit'>
							<span><i class="fa fa-pencil edit-instance-name cursor" ng-click="operationSet.editInstanceName(inst);" title="Edit Instance Name"></i></span>
						</div>
						<div class="card-title-osIcon" title="Linux"><img src="images/osIcons/linux.png"/ ng-show="inst.hardware.platform==='unknown'"></div>
						<div class="card-title-osIcon" title="Ubuntu"><img src="images/osIcons/ubuntu.png"/ ng-show="inst.hardware.platform==='ubuntu'"></div>
						<div class="card-title-osIcon" title="Windows"><img src="images/osIcons/windows.png"/ ng-show="inst.hardware.platform==='windows'"></div>
						<div class="card-title-osIcon" title="centos"><img src="images/osIcons/centos.png"/ ng-show="inst.hardware.platform==='centos'">
						</div>
						<hr/>
					</div>
					<div class="card-status-state">
						<div class="status-state {{getAWSStatus(inst.instanceState,'image')}}">
							<i class="fa fa-info-circle card-circle-info cursor" title="More Info" ng-click="operationSet.viewLogs(inst)" ng-show="perms.logInfo"></i>
							<img class="docker-image dockerenabledinstacne" alt="Docker"
							src="images/global/docker.png" ng-show="inst.docker && inst.docker.dockerEngineStatus === 'success'" ng-click="openContainersTab()"/>
						</div>
					</div>
					<div class="instance-ip">
						<strong>{{inst.instanceIP}}</strong>
					</div>
					<div class="instance-state">
						{{getPlatformId(inst.providerType,inst.platformId)}}
					</div>
					<div class="card-btns" ng-hide="hoverEdit">
						<div ng-show="actionSet.isChefEnabled(inst) &amp;&amp; perms.chefClientRun" title="Chef Client Run" class="btn-icons icon-chef" ng-click="operationSet.updateCookbook(inst);">
						</div>
						<div ng-show="actionSet.isChefDisabled(inst) &amp;&amp; perms.chefClientRun" class="btn-icons icon-chef-disabled">
						</div>
						<div ng-show="actionSet.isPuppetEnabled(inst) &amp;&amp; perms.puppet" title="Puppet Client Run" class="btn-icons icon-puppet" ng-click="operationSet.puppetRunClient(inst);">
						</div>
						<div ng-show="actionSet.isPuppetDisabled(inst) &amp;&amp; perms.puppet" class="btn-icons icon-puppet-disabled">
						</div>
						<div class='btn-icons icon-ssh' title="SSH" ng-click="operationSet.instanceSSH(inst)" ng-show="actionSet.isSSHEnabled(inst) &amp;&amp; perms.ssh"></div>
						 <div class='btn-icons icon-ssh-disabled' ng-show="actionSet.isSSHDisabled(inst) &amp;&amp; perms.ssh"></div>
						 <div><a class='btn-icons icon-rdp' title="RDP" ng-show="actionSet.isRDPEnabled(inst) &amp;&amp; perms.rdp" target="_self" href="{{rdpFileLink(inst)}}" download="{{rdpFileName(inst)}}"></a></div>
						 <div class='btn-icons icon-rdp-disabled' ng-show="actionSet.isRDPDisabled(inst) &amp;&amp; perms.rdp"></div>
						 <div class="options-menu-wrapper">
							<div class="btn-icons dropdown">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-ellipsis-v"></i></button>
								<ul class="dropdown-menu">
									<li class="edit-instance-bs">
										<span ng-click="operationSet.editInstanceName(inst);">
											<i class="fa fa-pencil dropdown-icon"></i>
											Edit Instance Name
										</span>
									</li>
										<li class="more-info-bs">
											<span ng-click="operationSet.viewLogs(inst)" ng-show="perms.logInfo">
												<i class="fa fa-info-circle dropdown-icon"></i>
												More Info
											</span>
										</li>
										<li class="ssh-bs">
											<span ng-click="operationSet.instanceSSH(inst)" ng-show="inst.hardware.os==='linux' || inst.hardware.os==='centos'">
												<i class="fa fa-briefcase dropdown-icon"></i>
												SSH
											</span>
										</li>
										<li class="rdp-bs" ng-show="actionSet.isRDPEnabled(inst) &amp;&amp; perms.rdp">
										<span>
											<a class="rdp-anchor" target="_self" href="{{rdpFileLink(inst)}}" download="{{rdpFileName(inst)}}">
												<i class="fa fa-stack-overflow dropdown-icon"></i>
												RDP
											</a>
										</span>
									  </li>
									<li ng-click="instStartStopFlag || operationSet.changeInstanceStatus(inst)" ng-show="perms.start 
									  && inst.instanceState === 'stopped' && inst.providerId" ng-disabled="instStartStopFlag" ng-class="{'hideStartStopCur': instStartStopFlag}">
										<span>
											<i class="fa fa-play dropdown-icon"></i>
											Start Instance
										</span>
									</li>
									<li ng-click="instStartStopFlag || operationSet.changeInstanceStatus(inst)" ng-show="perms.stop && inst.instanceState === 'running' && inst.providerId" ng-disabled="instStartStopFlag"  ng-class="{'hideStartStopCur': instStartStopFlag}">
										<span>
											<i class="fa fa-stop dropdown-icon"></i>
											Stop Instance
										</span>
									</li>
									<li>
										<span ng-click="instanceControlPanel(inst);">
											<i class="fa fa-gears dropdown-icon"></i>
											Control Panel
										</span>
									</li>
									<li>
										<span ng-click="operationSet.deleteInstance(inst, $index);">
											<i class="fa fa-trash-o dropdown-icon"></i>
											Delete Instance
										</span>
									</li>
									<li class="divider"></li>
									<li class="no-action">
										<span>
											<i class="fa fa-list-alt dropdown-icon"></i>
											App Links
										</span>
									</li>
									<ul class="paddingleft32 instanceTaskListUL">
										<li ng-repeat="applink in inst.appUrls">
											<a class="app-url cursor" target="_blank" ng-href="{{applink.url}}">
												{{applink.name}}
											</a>
										</li>
										<li ng-show="inst.appUrls.length==0">
											<span class="app-url">
												No AppLinks Available
											</span>
										</li>
									</ul>
									<li class="no-action">
										<span class="menuTaskSpan">
											<i class="fa fa-outdent dropdown-icon"></i>
											Task Links
										</span>
									</li>
									<ul class="paddingleft32 instanceTaskListUL">
										<li ng-show="inst.tasks.length==0">No TaskLinks Available</li>
										<li class="cursor" ng-repeat="taskDetail in inst.tasks">{{taskDetail.taskName}}</li>
									</ul>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="cardsAvailable">
				<pagination total-items="totalCards" items-per-page="cardsPerPage" ng-model="currentCardPage" max-size="10" num-page="numofCardPages" class="pagination-sm" boundary-links="true" ng-change="cardPaginationChange()" class="paginationStyle"></pagination>
			</div>
		</section>
		<section id="tableView" ng-show="!isCardViewActive">
			<!-- <loading size="large" name="isinstancesTableLoading" type="block"></loading>-->
			<div id="grid2" ng-if="tabData.length >0"  ui-grid="instancesGridOptions" ui-grid-pagination class="grid instance-status" style="height: {{gridHeight}}px"></div>
		</section>
	</div>
</div>