<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/analytics/view/analyticsTreeMenu.css"/>
<link rel="stylesheet" type="text/css" href="catalyst/partials/globals/treeComponent/treeDirective.css"/>

<div id='analyticsTreeMenuPage'>
	<div id='navigPage' ng-mouseover="showTreeOverlay()" ng-mouseleave="hideTreeOverlay()" ng-class="{'show-left-tree':showTree}">
		<div id='navigPage-inner'>
			<div id="treeParent">
				<ul class="tree-ul">
				    <li>
				        <div class="liContents">
				        	<i class="icon fa fa-building label-spacing"></i>
				        	<span>Services</span>
				            <div data-ng-hide="node.collapsed" data-tree-id="relevancelab" data-analytics-tree-model="node.nodes" data-node-id="rowid" data-node-label="text" data-node-children="nodes">
				                <ul class="tree-ul">
				                    <li ui-sref="dashboard.services.servicesList" class="pointer-cursor" ui-sref-active='activeSection'>
				                        <div class="liContents">
				                        	<div class="liContents-wrapper">
					                        	<i class="icon fa fa-money label-spacing"></i>
						                        <span>Services Library</span>
						                        <i class="caret-spacing fa fa-caret-left pull-right" ng-show="stateItems==='dashboard.services.servicesList'"></i>
						                    </div>
				                        </div>
				                    </li>
				                </ul>
				            </div>
				        </div>
				    </li>
				</ul>
			</div>
		</div>
	</div>
</div>