<link rel='stylesheet' href='catalyst/partials/sections/dashboard/setting/setting.css'>

<div id="settingsPage" class='fluid-container'>
	<div class='row'>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 panelLeft'>
			<!-- <div ng-include="'src/partials/sections/dashboard/settings/settingsTreeMenu/settingsTreeMenu.html'"></div> -->
			settings menu
		</div>
		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 panelRight'>
			<div id='rightPanel' class='container-fluid'>
				<div ui-view></div>

				<div ng-show="state.current.name==='dashboard.settings'">The settings dashboard might come here
					<div>{{Text}}</div>
					<!--Sample form created for settings starts here-->
						<div class="row settings-form">
				           <div class="col-lg-6 col-md-6">
				              <label for="name">Name:<span class="control-label red">&nbsp;*</span></label>
				              <br>
				              <input class="form-control" type="text" maxlength="50">
				           </div>
				           <div class="col-lg-6 col-md-6">
				              <label for="name">Description:</label>
				              <input class="form-control" type="text" maxlength="50">
				           </div>
				           <div class="col-lg-6 col-md-6">
				              <label for="name">URL:<span class="control-label red">&nbsp;*</span></label>
				              <input class="form-control" type="text">
				           </div>
				           <div class="col-lg-6 col-md-6">
				              <label for="name">User Name:</label>
				              <input class="form-control" type="text" maxlength="50">
				           </div>
				           <div class="col-lg-6 col-md-6">
				                <label for="name">Environment:</label>
				               <select class="form-control">
				                   <option value="">Select</option>
				                   <option value="">Pheonix</option>
				                   <option value="">Pheonix App</option>
				                   <option value="">Pheonix App Bg</option>
				                   <option value="">Pheonix1</option>
				               </select>
				           </div>
				           <div class="col-lg-6 col-md-6">
				                <label for="name">Product:</label>
				               <select class="form-control" name="" ng-model="">
				                   <option value="" selected>Select</option>
				                   <option ng-repeat="territory in adminAreaList" value="{{}}">{{}}</option>
				               </select>
				           </div>
				           <div class="col-lg-6 col-md-6">
				               <div class="form-group">
				                  <label for="comment">Address:</label>
				                  <textarea class="form-control" rows="5" id="comment"></textarea>
				                </div>
				            </div>
				            <div class="col-lg-6 col-md-6">
				               <div class="form-group">
				                  <label for="comment">Feedback:</label>
				                  <textarea class="form-control" rows="5" id="comment"></textarea>
				                </div>
				            </div>
				            <div class="col-lg-6 col-md-6">
				                <div class="checkbox">
				                  <label><input type="checkbox" value="">Option 1</label>
				                </div>
				                <div class="checkbox">
				                  <label><input type="checkbox" value="">Option 2</label>
				                </div>
				                <div class="checkbox disabled">
				                  <label><input type="checkbox" value="" disabled>Option 3</label>
				                </div>
				            </div>
				            <div class="col-lg-6 col-md-6">
				                <div class="radio">
				                  <label><input type="radio" name="optradio">Option 1</label>
				                </div>
				                <div class="radio">
				                  <label><input type="radio" name="optradio">Option 2</label>
				                </div>
				                <div class="radio disabled">
				                  <label><input type="radio" name="optradio" disabled>Option 3</label>
				                </div>
				            </div>  
				            <div class="col-lg-6 col-md-6">
				                <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
				                <label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
				                <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
				            </div>
				            <div class="col-lg-6 col-md-6">
				                <label class="radio-inline"><input type="radio" name="optradio">Option 1</label>
				                <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
				                <label class="radio-inline"><input type="radio" name="optradio">Option 3</label>
				            </div> 
				            <div class="col-lg-6 col-md-6">
				              <label>Repository Details:</label>
				              <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
				                    <thead>
				                        <tr>
				                            <th>Repository</th>
				                            <th>Name</th>
				                            <th>Action</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        <tr>
				                            <td>System Architect</td>
				                            <td>Tiger Nixon</td>
				                            <td>Edinburgh</td>
				                        </tr>
				                        <tr>
				                            <td>Accountant</td>
				                            <td>Garrett Winters</td>
				                            <td>Tokyo</td>
				                        </tr>
				                        <tr>
				                            <td>Junior Technical Author</td>
				                            <td>Ashton Cox</td>
				                            <td>San Francisco</td>
				                        </tr>
				                        <tr>
				                            <td>Senior Javascript Developer</td>
				                            <td>Cedric Kelly</td>
				                            <td>Edinburgh</td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="col-lg-6 col-md-6">
				              <label>Environments:</label>
				              <div class="from-control col-md-12 select-div" disabled>
				              </div>
				            </div>
				        </div>
					<!--Sample form created for settings ends-->
				</div>
			</div>
		</div>
	</div>
</div>