<!DOCTYPE html>
<html ng-app="catapp" ng-strict-di>
	<head>
		<title>Catalyst</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-compatible" content="IE=edge">
		<!-- Library stylesheets -->
		<link rel="stylesheet" type="text/css" href="styles/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="lib/angular-ui-grid/ui-grid.css" />
		<!-- Application stylesheets -->
		<link rel="stylesheet" type="text/css" href="styles/default.css" />
		<link rel="stylesheet" type="text/css" href="catalyst/partials/global.css" />
		<link rel="stylesheet" type="text/css" href="catalyst/partials/globals/header/header.css" />
		<link rel='stylesheet' type='text/css' href='catalyst/partials/sections/login/login.css'>
		<link rel="stylesheet" href="src/partials/globals/toaster/angular-toastr.css" />
		<link rel="stylesheet" href="lib/nvd3/nv.d3.css" />
		<link rel="stylesheet" href="lib/angularMultipleSelect/multiple-select.min.css" />
		<link rel="stylesheet" href="customlib/dateTime/css/bootstrap-material-datetimepicker.css" />
		<!-- Library scripts -->
		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-ui-router/angular-ui-router.min.js"></script>
		<script src="lib/angular-ui-grid/ui-grid.min.js"></script>
		<script src="lib/angular-touch/angular-touch.min.js"></script>
		<script src="customlib/dateTime/js/material.min.js"></script>
		<script src="customlib/dateTime/js/moment-with-locales.min.js"></script>
		<script src="customlib/dateTime/js/bootstrap-material-datetimepicker.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
		<script src="lib/angular-strap/angular-strap.min.js"></script>
		<script src="customlib/maxcdn-bootstrap.min.js"></script>
		<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="customlib/angular-messages.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
		<script src="customlib/moment.min.js"></script>
		<script src="lib/lodash/lodash/lodash.min.js"></script>
		<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
		<script src="src/partials/globals/toaster/angular-toastr.tpls.js"></script>
		<!-- Application configuration -->
		<script src="uiConfig.js"></script>
		<script src="lib/d3/d3.js"></script>
		<script src="lib/nvd3/nv.d3.js"></script>
		<script src="lib/angular-nvd3/angular-nvd3.js"></script>
		<script src="lib/angularMultipleSelect/multiple-select.min.js"></script>
	</head>
	<body ng-class="{ 'loading-body': onBodyLoading === true }">
	<loading size="large" name="onBodyLoading"  class="onbody-loading"></loading>
		<!--<div class="globalPopup" id="globalSuccessMessage">-->
			<!--<span class="close green" ng-click="hideGlobalMessage()">×</span> -->
			<!--<p>{{globalSuccessMessage}}</p>           -->
		<!--</div>-->
		<div ng-controller="HeadNavigatorCtrl">
			<div ng-show="app.isDashboard" class="dashboard">
				<ng-include src="'src/partials/globals/header/headerDashboard.html'"></ng-include>
			</div>
			<div ng-show="!app.isDashboard" class="login">
				<ng-include src="'src/partials/globals/header/headerLogin.html'"></ng-include>
			</div>
		</div>
		<div class="breadcrumb-wrapper">
			<div class="container-fluid" id="breadcrumb-block" ng-controller="breadcrumbCtrl" ng-show="isBreadCrumbAvailable">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
					<div id="section-name">
						<span ng-mouseover="showTreeOverlay()" ng-mouseleave="hideTreeOverlay()" class="cursor">
			                <i class="fa fa-bars tree-toggle">
			                </i>
			                Menu
			            </span>
					</div>
				</div>
				<div id="breadcrumb-nav" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
					<ul>
						<li ng-cloak ng-repeat="item in breadcrumbData">{{item}} {{$last ? "" : " &raquo; "}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div ui-view></div>

		<!-- build:remove:qa,prod,dist -->
		<script src="src/main.js"></script>
		<script src="src/clientRoutes.js"></script>
		<script src="src/factory/access_permission_service.js"></script>
		<script src="src/factory/appPermissionServices.js"></script>
		<script src="src/factory/authenticationAPI.js"></script>
		<script src="src/factory/authenticationFactory.js"></script>
		<script src="src/factory/cacheServices.js"></script>
		<script src="src/factory/chefDataFormatterService.js"></script>
		<script src="src/factory/instanceServices.js"></script>
		<script src="src/factory/localStorageFactory.js"></script>
		<script src="src/factory/sessionFactory.js"></script>
		<script src="src/factory/workzoneFactories.js"></script>
		<script src="src/factory/workzonePermissionServices.js"></script>
		<script src="src/factory/workzoneServices.js"></script>
		<script src="src/custom_filter/timeConversionFilter.js"></script>
		<script src="src/partials/globals/breadcrumb/breadcrumbService.js"></script>
		<script src="src/partials/globals/chefSelectorComponent/chefSelectorComponent.js"></script>
		<script src="src/partials/globals/chefSelectorComponent/chefSelectorService.js"></script>
		<script src="src/partials/globals/confirmModal/confirmModalService.js"></script>
		<script src="src/partials/globals/loader/loaderModule.js"></script>
		<script src="src/partials/globals/messages/messagesDirective.js" ></script>
		<script src="src/partials/globals/treeComponent/treeDirective.js"></script>
		<script src="src/partials/globals/ui-gridOptions/uiGridOptionsServices.js"></script>
		<script src="src/partials/sections/dashboard/dashboardCtrl.js"></script>
		<script src="src/partials/sections/dashboard/genericServices.js"></script>
		<script src="src/partials/sections/dashboard/popups/controller/scheduleCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/analytics.js"></script>
		<script src="src/partials/sections/dashboard/analytics/analyticsServices.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/costCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/capacityCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/capacityReportCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/discoveryResourcesCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/discoverySyncResultCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/discoveryTagMappingCtrl.js"></script>
		<script src="src/partials/sections/dashboard/analytics/controller/usageCtrl.js"></script>

		<script src="src/partials/sections/dashboard/bots/botsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/audittrailCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/botDescriptionCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/botHistoryCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/botLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/botScheduleCtrl.js"></script>
        <script src="src/partials/sections/dashboard/bots/controller/libraryCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/editParamsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/bots/controller/botExecutionLogsCtrl.js"></script>
	    <script src="src/partials/sections/dashboard/bots/controller/botChefLogCtrl.js"></script>
	    <!-- <script src="src/partials/sections/dashboard/bots/controller/botSyncCtrl.js"></script> -->
	    <script src="src/partials/sections/dashboard/bots/controller/botsExecutionLogsNewCtrl.js"></script>
	    <script src="src/partials/sections/dashboard/bots/controller/instanceInfoCtrl.js"></script>
	    <script src="src/partials/sections/dashboard/bots/controller/jenkinsLogCtrlForBots.js"></script>
	    <script src="src/partials/sections/dashboard/bots/controller/newBotCtrl.js"></script>
	    <script src="src/partials/sections/dashboard/bots/services/botsCreateService.js"></script>
		<script src="src/partials/sections/dashboard/design/aDesignCtrl.js"></script>
		<script src="src/partials/sections/dashboard/design/controllers/addDockerTemplateCtrl.js"></script>
		<script src="src/partials/sections/dashboard/design/controllers/appUrlCreateCtrl.js"></script>
		<script src="src/partials/sections/dashboard/design/controllers/blueprintCreateCtrl.js"></script>
		<script src="src/partials/sections/dashboard/design/controllers/createCompositeCtrl.js"></script>
		<script src="src/partials/sections/dashboard/design/controllers/blueprintListCtrl.js"></script>

		<script src="src/partials/sections/dashboard/design/services/blueprintCreateServices.js"></script>
		<script src="src/partials/sections/dashboard/design/services/blueprintListServices.js"></script>
		<script src="src/partials/sections/dashboard/help/helpCtrl.js"></script>
		<script src="src/partials/sections/dashboard/popups/controller/orchestrationUpdateChefRunlistCtrl.js"></script>
		<script src="src/partials/sections/dashboard/services/servicesCtrl.js"></script>
		<script src="src/partials/sections/dashboard/services/controller/servicesAuthenticationCtrl.js"></script>
		<script src="src/partials/sections/dashboard/services/controller/servicesCreateCtrl.js"></script>
		<script src="src/partials/sections/dashboard/services/controller/servicesDescriptionCtrl.js"></script>
		<script src="src/partials/sections/dashboard/services/controller/servicesListCtrl.js"></script>
		<script src="src/partials/sections/dashboard/services/services/servicesCreateService.js"></script>
		<script src="src/partials/sections/dashboard/setting/organization/organizationCtrl.js"></script>
		<script src="src/partials/sections/dashboard/setting/organization/organizationListCtrl.js"></script>
		<script src="src/partials/sections/dashboard/setting/organization/organizationNewCtrl.js"></script>
		<script src="src/partials/sections/dashboard/setting/asettingCtrl.js"></script>
		<script src="src/partials/sections/dashboard/setting/controller/createDashboard.js"></script>
		<script src="src/partials/sections/dashboard/setting/controller/dashboardList.js"></script>
		<script src="src/partials/sections/dashboard/track/trackCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/applicationCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/applicationHistoryCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/pipelineCardsDirectives.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/applicationCardDetailsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/applicationCardLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/applicationHistoryLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/applicationApproveCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/configurePipelineViewCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/deployNewAppCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/applicationPromoteCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/application/popups/upgradeAppCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/azureARM/azureARMCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/azureARM/popups/removeARMDeploymentCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/blueprintCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/blueprintInfoCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/compositeBlueprintInfoCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/dockerRepoListCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/blueprintLaunchParamsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/blueprintLaunchCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/dockerInstanceLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/dockerLaunchParamsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/dockerParamsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/blueprint/popups/removeBlueprintCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/cloudFormation/cloudFormationCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/cloudFormation/popups/removeCFTCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/cloudFormation/popups/stackInfoCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/container/containerCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/instanceCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/manage/controlPanelCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/manage/templates/cpActionHistoryCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/manage/templates/cpActionsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/manage/templates/cpInfoCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/manage/templates/cpLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/manage/templates/cpServicesCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/InstanceImportByIpCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/instanceUsageCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/deleteInstanceCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/instanceLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/instanceNameEditCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/instanceRunPuppetClientCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/instanceSSHCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/instanceUpdateChefRunlistCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/startStopInstanceCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/updateChefRunlistConfirmationCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/instance/popups/viewRunListCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/orchestrationCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/addChefJobEventCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/addJenkinsParamsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/addJobLinksCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/addScriptParamsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/assignNodesCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/chefLogCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/compositeLogsCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/confirmJobRunCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/jenkinsLogCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/newTaskCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/orchestrationHistoryCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/orchestrationLogCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/runParamConfigCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/orchestration/popups/viewNodesCtrl.js"></script>
		<script src="src/partials/sections/dashboard/workzone/workzoneCtrl.js"></script>
		<script src="src/partials/sections/login/loginCtrl.js"></script>
		<script src="src/partials/sections/login/resetCtrl.js"></script>
		<script src="src/utility/arrayUtility.js"></script>
		<script src="src/utility/logger.js"></script>
		<script src="src/utility/paginationUtility.js"></script>
		<script src="src/utility/validation.js"></script>
		<!-- /build-->
		
		<!-- build:js:prod,dist catalyst/catalyst.min.js-->
		<!-- /build-->
		
		<!-- build:remove:dev,prod,dist-->
		<script src="catalyst/concatjs/catalyst.js"></script>
		<!-- /build-->
	</body>
</html>