<link rel='stylesheet' href='catalyst/partials/sections/dashboard/bots/bots.css'>

<div id="botAuditTrailPage">
	<div class="page-name">
		BOTs Audit Trail&nbsp;
		<button type="button" title="Refresh" class="btn btn-xs btn-primary pull-right refresh-btn" ng-click="RefreshBotsAuditTrail();">
			<i class="fa fa-refresh" style="color: #fff"></i>
		</button>
	</div>
	<div class="borderTop"></div>

	<div id="grid1" ng-if="audit.gridOptions.data.length > 0" ui-grid="audit.gridOptions" ui-grid-pagination class="grid" style="height: {{gridHeight}}px"></div>
	<div class="alert alert-info text-center" ng-if="!audit.gridOptions.data.length > 0">
	    No data Available
	</div>
</div>