<div id='orchestrationLogPage'>
    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 class="modal-title">
            <i class="fa fa-eraser"></i>
            Execute Logs
        </h4>
    </div>

    <div class="modal-body">
        <fieldset>
            <div ng-if="isBotsNew" class="logsArea">
                <div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logsOutput">
                    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
                    <span class="logInfo"> {{log.log}} </span>
                </div>
            </div>

            <div ng-if="!isBotsNew" ng-switch="botExecLogCtrl.taskLogType">
                <div ng-switch-when="jenkins">
                    <div ng-include="'src/partials/sections/dashboard/bots/view/jenkinsLog.html'" ></div>
                </div>
                <div ng-switch-default>
                    <div ng-include="'src/partials/sections/dashboard/bots/view/chefLog.html'" ></div>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn cat-btn-cancel" ng-click="cancel();">
            <i class="fa fa-times black"></i> Close
        </button>
    </div>
</div>