<div id='orchestrationLogPage'>
    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 class="modal-title">
            <i class="fa fa-eraser"></i>
            Execute Logs
        </h4>
    </div>

    <div class="modal-body">
        <fieldset>
            <loading size="large" name="isLogsLoading" type="block" align="center"></loading>
            <div class="logsArea" ng-show="!isLogsLoading">
                <div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logListInitial">
                    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
                    <span class="logInfo"> {{log.log}} </span>
                </div>
                <div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logListDelta">
                    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
                    <span class="logInfo"> {{log.log}} </span>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn cat-btn-cancel" ng-click="cancel();">
            <i class="fa fa-times black"></i> Close
        </button>
    </div>
</div>