<div id='botInfoPage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title">
			<i class="fa fa-bar-chart-o"></i> Bot Info - {{botInfo.botName}}
		</h4>
	</div>

	<div class="modal-body">
		<fieldset>
			<table class="table table-bordered">
			<thead>
				<tr>
					<th class="th-parameters">Parameters</th>
					<th class="th-values">Values</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="td-padding">BOT Name</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.botName">
					</td>
				</tr>
				<tr ng-show="botInfo.botLinkedSubCategory">
					<td class="td-padding">Task Type:</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botLinkedSubCategory">
					</td>
				</tr>
				<tr ng-show="botInfo.blueprintType">
					<td class="td-padding">Blueprint Type</td>
					<td ng-switch on="botInfo.templateType">
						<input disabled="disabled" class="form-control" value="SoftwareStack" ng-switch-when="chef">
                        <input disabled="disabled" class="form-control" value="OSImage" ng-switch-when="ami">
                        <input disabled="disabled" class="form-control" value="CloudFormation" ng-switch-when="cft">
                        <input disabled="disabled" class="form-control" value="Docker" ng-switch-when="docker">
                        <input disabled="disabled" class="form-control" value="ArmTemplate"ng-switch-when="arm">
                        <input disabled="disabled" class="form-control" value="NA" ng-switch-default>
            		</td>
				</tr>
				<tr>
					<td class="td-padding">Bot Type</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botType">
					</td>
				</tr>
				<tr>
					<td class="td-padding">BOT Category</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botCategory">
					</td>
				</tr>
				<tr>
					<td class="td-padding">BOT Description</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botDesc">
					</td>
				</tr>
				<!-- <tr>
					<td class="td-padding">Last BOT Execution</td>
					<td ng-show="botInfo.lastTaskStatus">
						<input class="form-control" disabled="disabled" ng-model="botInfo.lastTaskStatus">
					</td>
					<td ng-hide="botInfo.lastTaskStatus">
						<input class="form-control" disabled="disabled" value="NA">
					</td>
				</tr> -->
			</tbody>
			<tbody ng-show="botInfo.botLinkedSubCategory==='chef'">
				<tr>
					<td class="td-padding">Runlist</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.botConfig.runlist">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.attributes && botInfo.botConfig.attributes.length > 1" ng-repeat="attribs in botInfo.botConfig.attributes">
					<td class="td-padding">Attribute{{$index+1}}</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="attribs.name">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.attributes && botInfo.botConfig.attributes.length === 1">
					<td class="td-padding">Attribute</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.botConfig.attributes[0].name">
					</td>
				</tr>
			</tbody>
			<tbody ng-show="botInfo.botLinkedSubCategory==='jenkins'">
				<tr>
					<td class="td-padding">Job Name</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.botConfig.jobName">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Job URL</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botConfig.jobURL">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length">
					<td class="td-padding">Bot Parameter Type</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botConfig.parameterized[0].parameterName">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length">
					<td class="td-padding">Bot Parameter Name</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botConfig.parameterized[0].name">
					</td>
				</tr>
				<!-- <tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length > 1" ng-repeat="paramval in botInfo.botConfig.parameterized">
					<td class="td-padding">Bot Parameter Values</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="paramval.defaultValue">
					</td>
				</tr> -->
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length === 1">
					<td class="td-padding">Bot Parameter Values</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botConfig.parameterized[0].defaultValue">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length">
					<td class="td-padding">Bot Parameter Description</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botConfig.parameterized[0].description">
					</td>
				</tr>
			</tbody>
			<tbody ng-show="botInfo.botLinkedSubCategory==='script'">
				<tr>
					<td class="td-padding">Script Type Name</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.botConfig.scriptTypeName">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.scriptDetails && botInfo.botConfig.scriptDetails[0].scriptParameters.length === 1">
					<td class="td-padding">Script Parameter Description</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.botConfig.scriptDetails[0].scriptParameters[0].paramDesc">
					</td>
				</tr>
				<tr ng-show="botInfo.botConfig && botInfo.botConfig.scriptDetails && botInfo.botConfig.scriptDetails[0].scriptParameters.length > 1" ng-repeat="desc in botInfo.botConfig.scriptDetails[0].scriptParameters">
					<td class="td-padding">Script Parameter{{$index+1}} Description</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="desc.paramDesc">
					</td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-close" ng-click="cancel()">
			<i class="fa fa-times black"></i> Close
		</button>
	</div>
</div>