<div id='botInfoPage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title">
			<i class="fa fa-bar-chart-o"></i> Bot Info - {{botInfo.name}}
		</h4>
	</div>

	<div class="modal-body">
		<fieldset>
			<table class="table table-bordered">
			<thead>
				<tr>
					<th class="th-parameters">Parameters</th>
					<th class="th-values">Values</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="td-padding">BOT Name</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.name">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Task Type:</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.taskType">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Bot Type</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botType">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Category</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.botCategory">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Description</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.shortDesc">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Last BOT Execution</td>
					<td ng-show="botInfo.lastTaskStatus">
						<input class="form-control" disabled="disabled" ng-model="botInfo.lastTaskStatus">
					</td>
					<td ng-hide="botInfo.lastTaskStatus">
						<input class="form-control" disabled="disabled" value="NA">
					</td>
				</tr>
			</tbody>
			<tbody ng-show="botInfo.taskType==='jenkins'">
				<tr>
					<td class="td-padding">Job Name</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.taskConfig.jobName">
					</td>
				</tr>
				<tr>
					<td class="td-padding">Job URL</td>
					<td>
						<input disabled="disabled" class="form-control" ng-model="botInfo.taskConfig.jobURL">
					</td>
				</tr>
			</tbody>
			<tbody ng-show="botInfo.taskType==='script'">
				<tr>
					<td class="td-padding">Script Type Name</td>
					<td>
						<input class="form-control" disabled="disabled" ng-model="botInfo.taskConfig.scriptTypeName">
					</td>
				</tr>
			</tbody>
		</table>
		</fieldset>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-close" ng-click="cancel()">
			<i class="fa fa-times black"></i> Close
		</button>
	</div>
</div>