<link rel='stylesheet' href='catalyst/partials/sections/dashboard/bots/bots.css'>
<div id="botsDescriptionPage">
   <div class="page-name">
      BOTs Description&nbsp;
      <button style="padding:4px 10px;font-size:13px;margin-right:15px;" type="button" title="Bots List" class="btn cat-btn-update btn-primary pull-right" ui-sref="dashboard.bots.library">
      <i class="fa fa-chevron-left" style="color: #fff"></i><span style="margin-left:5px;">Bots List</span>
      </button>
   </div>
   <div class="borderTop"></div>
   <div class="container summary-container" style="margin-left:36px;">
      
      <div class="grid-card-base bot-card-hero no-card-links" style="margin-top:20px;margin-left:0px!important">
         <div class="image-cell two-tone-11">
            <img class="highlight" alt="{{templateSelected.botCategory}}" ng-src="{{botIcon}}">
         </div>
         <div class="bot-content">
            <h3 title="{{templateSelected.botName}}">{{templateSelected.botName}}</h3>
            <ul class="ul-vert-bar">
               <li class="publisher" title="{{templateSelected.botDesc}}">{{templateSelected.botDesc}}</li>
               <li>Last Run: {{templateSelected.lastRunTime | timestampToLocaleTime}}</li> 
            </ul>
         </div>
         <div class="pull-right" style="margin-top:-26px;">
            <!--<span style="margin-left:10px;" title="Edit"><i class="fa fa-pencil font-size-20"></i></span> -->
            <button type="button" class="btn btn-danger btnPadding" title="Delete" ng-click="deleteBot(templateSelected)"><i class="fa fa-trash font-size-16 white"></i>&nbsp;Delete</button>
            <button type="button" class="btn cat-btn-update btnPadding" style="margin-right:10px;" ng-click="launchInstance(templateSelected);" title="Execute"><i class="fa fa-play font-size-16 white"></i>&nbsp;Execute</button>
         </div> 
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left:-14px;">
         <ul id="myTab3" class="nav nav-tabs tabs-pull-left">
            <!-- <li ng-class="{active:tab.isSet('ReadMe')}">
               <a ng-click="tab.setTab('ReadMe')">
               <i class="fa fa-codepen black"></i>&nbsp;
               Read Me
               </a>
            </li> -->
            
            <li ng-class="{active:tab.isSet('Report')}">
               <a ng-click="tab.setTab('Report')">
               <i class="fa fa-header black"></i>&nbsp;
               History
               </a>
            </li>
            <li ng-class="{active:tab.isSet('Param')}">
               <a ng-click="tab.setTab('Param')">
               <i class="fa fa-info black"></i>&nbsp;
               Param
               </a>
            </li>
            <li ng-class="{active:tab.isSet('Schedule')}">
               <a ng-click="tab.setTab('Schedule')">
               <i class="fa fa-calendar black"></i>&nbsp;
               Schedule
               </a>
            </li>
            <!-- <li ng-class="{active:tab.isSet('Settings')}">
               <a ng-click="tab.setTab('Settings')">
               <i class="fa fa-cog black"></i>&nbsp;
               Settings
               </a>
            </li> -->
         </ul>
      </div>
   </div>
   <div class="{{tab.isSet('ReadMe')? 'show-grid-tab':'hide-grid'}}">
      <div ng-include="tab.templates.readme.url"></div>
   </div>
   <div class="{{tab.isSet('Param')? 'show-grid-tab':'hide-grid'}}">
      <div ng-include="tab.templates.param.url"></div>
   </div>
   <div class="{{tab.isSet('Report')? 'show-grid-tab':'hide-grid'}}">
      <div ng-include="tab.templates.report.url"></div>
   </div>
   <div class="{{tab.isSet('Schedule')? 'show-grid-tab':'hide-grid'}}">
      <div ng-include="tab.templates.schedule.url"></div>
   </div>
   <!-- <div class="{{tab.isSet('Settings')? 'show-grid-tab':'hide-grid'}}">
      <div ng-include="tab.templates.settings.url"></div>
   </div> -->
</div>