<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/analytics/view/analyticsTreeMenu.css"/>
<link rel="stylesheet" type="text/css" href="catalyst/partials/globals/treeComponent/treeDirective.css"/>

<div id='analyticsTreeMenuPage'>
	<div id='navigPage' ng-mouseover="showTreeOverlay()" ng-mouseleave="hideTreeOverlay()" ng-class="{'show-left-tree':showTree}">
		<div id='navigPage-inner'>
			<div id="treeParent">
				<ul class="tree-ul">
				    <li>
				        <div class="liContents">
				        	<i class="icon fa fa-building label-spacing"></i>
				        	<span>BOTs</span>
				            <div data-ng-hide="node.collapsed" data-tree-id="relevancelab" data-analytics-tree-model="node.nodes" data-node-id="rowid" data-node-label="text" data-node-children="nodes">
				                <ul class="tree-ul">
				                    <li ui-sref="dashboard.bots.library" class="pointer-cursor" ui-sref-active='activeSection'>
				                        <div class="liContents">
				                        	<div class="liContents-wrapper">
					                        	<i class="icon fa fa-money label-spacing"></i>
						                        <span>BOT Library</span>
						                        <i class="caret-spacing fa fa-caret-left pull-right" ng-show="stateItems==='dashboard.bots.library'"></i>
						                    </div>
				                        </div>
				                    </li>
				                    <li ui-sref="dashboard.bots.audittrail" class="pointer-cursor" ui-sref-active='activeSection'>
				                        <div class="liContents">
				                        	<div class="liContents-wrapper">
					                        	<i class="icon fa fa-pie-chart label-spacing"></i>
						                        <span>Audit Trail</span>
						                        <i class="caret-spacing fa fa-caret-left pull-right" ng-show="stateItems==='dashboard.bots.audittrail'"></i>
						                    </div>
				                        </div>
				                    </li >

				                    <li ui-sref="dashboard.bots.reports" class="pointer-cursor" ui-sref-active='activeSection'>
				                        <div class="liContents">
				                        	<div class="liContents-wrapper">
					                        	<i class="icon fa fa-pie-chart label-spacing"></i>
						                        <span>BOT Report</span>
						                        <i class="caret-spacing fa fa-caret-left pull-right" ng-show="stateItems==='dashboard.bots.reports'"></i>
						                    </div>
				                        </div>
									</li >
									
								
									
				                </ul>
				            </div>
				        </div>
					</li>
					<li ui-sref="dashboard.bots.runbook" class="pointer-cursor" ui-sref-active='activeSection'>
						<div class="liContents">
							<i class="icon fa fa-cogs label-spacingBOTs"></i>
							<span>Runbooks</span>
						</div>
					</li>
					<li ui-sref="dashboard.bots.sensureports" class="pointer-cursor" ui-sref-active='activeSection'>
							<div class="liContents">
								<i class="icon fa fa-cogs label-spacingBOTs"></i>
								<span>SensuReport</span>
							</div>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>