<title>Catalyst</title>
<link rel="stylesheet" type="text/css" href="../../../../../../styles/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../../../../../catalyst/partials/globals/header/header.css" />
<div id='headerDashboardPage'>
	<nav class="navbar-inverse container-fluid" id="header" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div id="header-logo"><img class="header-logo-image" src="../../../../../../images/global/logo.png" /></div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<!-- /.navbar-collapse -->
	</nav>
</div>


   <div class="container summary-container scheduleBorder" style="margin-top:10px;">
   		<h2>CATALYST_USER_DELETE</h2>
	    <table id="booleanTable" class="table tableLength " cellpadding="5px" width="100%">
			<tbody>
				<tr>
					<td class="booleanParam">
						<label class="control-label">Description</label>
					</td>
					<td><ul><li>Used to delete an existing user from RL Catalyst Application. Users need to provide an existing user’s name and email ID to initiate the deletion. BOT will delete the user from the specified catalyst instance.</li></ul>
				</tr>
				<tr>
					<td class="booleanParam"><label class="control-label" for="booleanDescription">Workflow</label></td>
					<td><ul><li> BOT Execution invoked either from “Ticketing System – ServiceNow” or from BOT Orchestrator. </li>
					
					<li> If a “Ticket ID” is passed as parameter BOT executes as part of the Ticket workflow. If no “Ticket ID” is passed, BOT automatically creates a Ticket for “Catalyst User Deletion request” and stores the Ticket Context.</li>
					
                    <li> Parameters passed to BOT
                    	<ul>
						<li> Catalyst Instance URL (by Default Current Instance and Access Credentials assumed).</li>

						<li> Access Credentials </li>

						<li> User ID </li>

						<li> Email of the existing user </li>

						<li> BOT Type – Drop-down (UI BOT, Agent BOT options) </li>
					</ul></li>
				</ul>
					</td>
				</tr>
			</tbody>
		</table>
   </div>



