<div id='botSyncPage' class="backColor">
   <div class="page-name">
      BOTs Sync Library&nbsp;
      <span class="pull-right">
      <button type="button" title="Filter" class="btn btn-xs cat-btn-update pull-right filter-margin" ng-click="isOpenSidebar = !isOpenSidebar">
      <i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;
      </button>
      </span>
   </div>
   <div class="borderTop"></div>
   <!--sidebar filter -->
   <div id="sidebar-wrapper" ng-class="{'show-wrapper':isOpenSidebar === true}">
      <form name="filterForm" class="">
         <div>
            <div class="repo-job-details-wrapper-inner marginbottom10"></div>
            <div class="col-lg-12 col-md-12 form-group">
               <label for="">Type:</label>
               <select class="chooseProjectExisting width-100 form-control marginbottom15" ng-model="botSyncType">
                  <option selected="selected" value="">All</option>
                  <option value="chef">Chef</option>
                  <option value="script">Script</option>
                  <option value="blueprints">Blueprints</option>
                  <option value="jenkins">Jenkins</option>
               </select>
               <label for="">Functionality:</label>
               <select class="chooseProjectExisting width-100 form-control marginbottom15" ng-model="botSyncCategory">
                  <option selected="selected" value="">All</option>
                  <option value="User Management">User Management</option>
                  <option value="DB management">DB Management</option>
                  <option value="Service Management">Service Management</option>
                  <option value="Application Management">Application Management</option>
               </select>
               <label for="">Status:</label>
               <select class="chooseProjectExisting width-100 form-control marginbottom15" ng-model="botSyncStatus">
                  <option selected="selected" value="">All</option>
                  <option value="new">New</option>
                  <option value="updated">Updated</option>
                  <option value="deleted">Deleted</option>
               </select>
            </div>
            <div class="col-lg-12 col-md-12 marginbottom5">
               <button type="button" class="btn btn-primary" ng-disabled="filterForm.$invalid" ng-click="applyFilter();isOpenSidebar=false;"><i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Apply</button>
            </div>
         </div>
      </form>
      <br>
   </div>
   <!--sidebar filter ends here -->
   <div class="margintop10 width99">
      <span class="botSync">
         <span style="margin-left:34px;" class="box-title">
         <span class="greenBadge badge">New : 40</span>
         </span>
         <span class="blueBadge badge">Updated : 8</span>
         <span class="redBadge badge">Deleted : 4</span>
      </span>
      <form class="pull-right firefoxForm marginright8" novalidate name="library-form" ng-submit="searchBotNameCategory('pageNumber')">
         <span class="bot-library-search">
         <label>&nbsp;
         <input type="text" ng-model="botSyncSearch" class="search-text bot-search" placeholder="Search">
         <i class="fa fa-search search-icon" ng-show="!searchText" ng-click="searchBotNameCategory('pageNumber')"></i>
         <i title="Clear Search" class="fa fa-close search-icon cancel-icon ng-hide" ng-show="searchText" ng-click="clearBotSearchText()"></i>
         </label>
         </span>
      </form>
      <loading size="large" name="isBotSyncPageLoading" type="block" align="center"></loading>
      <div class="col-lg-12 paddingForScreen">
         <div class="alert alert-info text-center" ng-if="!botSyncGrid.data.length > 0 && !isBotSyncPageLoading">
            No BOTs available for Sync
         </div>
         <div id="grid1" ng-if="botSyncGrid.data.length >0 && !isBotSyncPageLoading" ui-grid-selection ui-grid-pagination ui-grid-auto-resize ui-grid="botSyncGrid" class="grid gridHeightSync"></div>
      </div>
   </div>
</div>