<link rel='stylesheet' href='catalyst/partials/sections/dashboard/bots/bots.css'>

<div id="editParamsPage">
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title"> <i class="fa fa-share-square-o"></i>&nbsp;&nbsp;Execute BOT - {{botName}}</h4>
	</div>

	<div class="modal-body">
		<fieldset>
			<div class="col-lg-12 col-md-12 paddingbottom10" ng-hide="taskType === 'jenkins'">
				<div class="col-lg-2 col-md-2 no-padding">
					<label for="" class="margintop8">Tag Server:</label>
				</div>
				<div class="col-lg-6 col-md-6">
					<select class="form-control"  ng-model="tagSerSelected">
						<option selected="selected" value="">Choose Tag Server</option>
						<option ng-repeat="(key , value) in taggingServerList" value="{{value}}">{{value}}</option>
					</select>
				</div>
			</div>
			<div class="col-lg-12 col-md-12" ng-show="taskType === 'chef' && chefAttributesFlag">
				<h4 style="margin-top: 0px;">Edit Parameters:</h4>
				<loading size="large" name="isChefattributesLoading" type="block" align="center"></loading>
				<table class="table table-bordered text-center" ng-show="!isChefattributesLoading">
					<thead>
						<tr>
							<th class="header-name">Cookbook Name</th>
							<th class="header-name">Attributes</th>
							<th class="header-name">Values</th>
						</tr>
					</thead>
					<tbody ng-repeat="attr in chefattributes">
						<tr ng-repeat="(key, value) in attr.attributes">
			                <td>
			                	<span>{{attr.cookbookName}}</span>
			                </td>
			                <td>
			                	{{value.display_name}}
			                </td>
			                <td style="text-align: left">
			                	<input type="text" class="cookbook-edit-text" ng-model="value.default" ng-if="!value.choice.length" />
                                <select ng-if="value.choice.length" class="cookbook-edit-text pull-left" ng-options="choice for choice in value.choice" ng-model="value.default"></select>
			                </td>
			            </tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-12 col-md-12" ng-show="taskType === 'jenkins'">
				<h4 style="margin-top: 0px;">Edit Parameters:</h4>
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th class="header-name">Name</th>
							<th class="header-name">Description</th>
							<th class="header-name">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="params in jenkinsparams">
			                <td>
			                	<span style="vertical-align: -webkit-baseline-middle;">{{params.name}}</span>
			                </td>
			                <td>
			                	<span style="vertical-align: -webkit-baseline-middle;">{{params.description}}</span>
			                </td>
			                <td ng-init="jenparams[params.name]=params.defaultValue[0]">
			                	<input ng-if="params.parameterName !== 'Choice'" type="text" ng-model="jenparams[params.name]" class="form-control" ng-value="params.defaultValue[0]">
			                	<select  ng-if="params.parameterName === 'Choice'" ng-model="jenparams[params.name]" class="cookbook-edit-text pull-left">
			                        <option ng-repeat="val in params.defaultValue" value="{{val}}">{{val}}</option>
			                    </select>
			                </td>
			            </tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-12 col-md-12" ng-if="taskType === 'script' && scriptParamsFlag">
				<h4 style="margin-top: 0px;">Add Parameters:</h4>
				<div class="parameter-section">
					<div class="col-lg-12 col-md-12 margintop15">
						<table id="booleanTable" class="table table-striped table-bordered table-hover dataTable no-footer" cellpadding="5px" width="100%">
							<thead>
								<tr>
									<th class="headParamTable" style="width: 110px">Key</th>
									<th class="headParamTable">Description</th>
									<th class="headParamTable">Value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="param in scriptparams[0].scriptParameters">
									{{param}}
									<td class="booleanParam"><label class="control-label" for="choiceName">Parameter {{$index+1}}:<span class="red">*</span></label></td>
									<td><input id="description" type="text" class="form-control" name="description" ng-model="param.paramDesc" disabled="disabled"></td>
									<td><input id="value" type="text" class="form-control" name="value" ng-model="parameters[$index]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-update" ng-click="executeBot()">
			<i class="fa fa-check white"></i> Ok
		</button>
	</div>
</div>