<link rel='stylesheet' href='catalyst/partials/sections/dashboard/bots/bots.css'>

<div id="editParamsPage">
	<form name="editParamsForm" novalidate ng-submit="editParamsForm.$valid && executeBot()">
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title"> <i class="fa fa-share-square-o"></i>&nbsp;&nbsp;Execute BOT - {{botName}}</h4>
	</div>

	<div class="modal-body">
		<fieldset>
			<div class="col-lg-12 col-md-12 param-table">
				<h4 style="margin-top: 0px;">Edit Parameters:</h4>
				<loading size="large" name="" type="block" align="center"></loading>
				<table class="table table-bordered text-center">
					<thead>
					</thead>
					<tbody>
						<tr ng-repeat="params in botParams">
			                <td>
			                	<span>{{params.label}}</span>
			                </td>
			                <td ng-init="botEditParams[$index] = params.default" style="text-align: left">
			                	<input type="text" class="cookbook-edit-text" ng-model="botEditParams[$index]"/>
			                </td>
			            </tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
</form>
	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-update" ng-disabled="editParamsForm.$invalid" ng-click="executeBot()">
			<i class="fa fa-check white"></i> Ok
		</button>
	</div>
</div>