<div id="botLibraryPage">
	<div class="container summary-container">
		<div class="panel-group text-center">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-primary">
				 	<div class="panel-heading">Total Number of BOTs in the system</div>
				 	<div class="panel-body">Panel Content</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-success">
				  <div class="panel-heading">Number of Bots Running</div>
				  <div class="panel-body">Panel Content</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-info">
				  <div class="panel-heading">Total Time saved</div>
				  <div class="panel-body">Panel Content</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-danger">
				  <div class="panel-heading">Number of Runs  which are failed</div>
				  <div class="panel-body">Panel Content</div>
				</div>
			</div>
		</div>
	</div>

	<div id="grid" ng-if="libr.gridOptions.data.length > 0" ui-grid="libr.gridOptions" ui-grid-pagination class="grid" style="height: {{gridHeight}}px"></div>
	<div class="alert alert-info text-center" ng-if="!libr.gridOptions.data.length > 0">
	    No data Available
	</div>
</div>

<style>
	.task-type-img {
		height: 30px;
	}

	.summary-container {
		width: 100%;
    	margin: 15px 0;
	}

	.panel-heading {
		font-weight: bold;
	}
</style>