<!--top description, name along with filter and refresh-->
<div id="botLibraryPage">
   <div class="page-name">
      BOTs Library&nbsp;
      <span class="pull-right">
      <button type="button" title="Refresh" class="btn btn-xs cat-btn-update pull-right refresh-btn" ng-click="RefreshBotsLibrary();">
      <i class="fa fa-refresh white"></i>
      </button>
      <button type="button" class="btn btn-xs cat-btn-update pull-right filter-margin" ng-click="isOpenSidebar = !isOpenSidebar">
      <i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Filter
      </button>
      <button type="button" class="btn btn-xs cat-btn-update marginright6" 
       ui-sref="dashboard.bots.botsCreate">
          <i class="fa fa-plus white"></i>
          New
        </button>
      </span>
   </div>
   <div class="borderTop"></div>
   <!--sidebar filter -->
   <div id="sidebar-wrapper" ng-class="{'show-wrapper':isOpenSidebar === true}">
      <form name="filterForm" class="">
         <div>
            <div class="repo-job-details-wrapper-inner marginbottom10">Filter</div>
            <div class="col-lg-12 col-md-12 form-group">
               <label for="">Functionality:</label>
               <select class="chooseProjectExisting width-100 form-control marginbottom15" ng-model="botLibCategory">
                  <option selected="selected" value="">All</option>
                  <option value="User Management">User Management</option>
                  <option value="DB management">DB Management</option>
                  <option value="Service Management">Service Management</option>
                  <option value="Application Management">Application Management</option>
               </select>
               <label for="">Action:</label>
               <select class="chooseProjectExisting width-100 form-control marginbottom15" ng-model="botLibAction">
                  <option selected="selected" value="">All</option>
                  <option value="run" ="botType">Run</option>
                  <option value="check">Check</option>
                  <option value="predict">Predict</option>
                  <option value="utility">Utility</option>
               </select>
               <label for="">Type:</label>
               <select class="chooseProjectExisting width-100 form-control marginbottom15" ng-model="botLibType">
                  <option selected="selected" value="">All</option>
                  <option value="UI">UI</option>
                  <option value="chef">Chef</option>
                  <option value="script">Script</option>
                  <option value="Agent">Agent</option>
               </select>
            </div>
            <div class="col-lg-12 col-md-12 marginbottom5">
               <button type="button" class="btn btn-primary" ng-disabled="filterForm.$invalid" ng-click="applyFilter();isOpenSidebar=false;"><i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Apply</button>
            </div>
         </div>
      </form>
      <br>
   </div>
   <!--sidebar filter ends here -->
   <!--panel description-->
   <div class="container summary-container containerBox">
       <div class="panel-group text-center">
         <div class="col-lg-2 col-sm-6 width20">
               <div class="cursor dashboard-stats__item dashboard-stats__item_blue" ng-click="showAllBots()">
                <i class="fa fa-list"></i>
                <h3 class="dashboard-stats__title">
                  <loading size="medium" name="isBotDetailsLoading" type="inline" classes='white' class="ng-scope"></loading>
                  <span ng-if="!isBotDetailsLoading" class="count-to" count-to="{{botSummary.totalNoOfBots}}" value="0" duration="1">{{botSummary.totalNoOfBots}}</span> 
                  <small>Total BOTs</small>
                </h3>
              </div>
              <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph dark-blue-glyph selected-section" ng-class="{'selected-section':totalBotsSelected}"></span>
           </div>

           <div class="col-lg-2 col-sm-6 width20">
               <div class="cursor dashboard-stats__item dashboard-stats__item_green" ng-click=" showBotsRunning('resetPage')">
                <i class="fa fa-cogs"></i>
                <h3 class="dashboard-stats__title">
                  <loading size="medium" name="isBotDetailsLoading" type="inline" classes='white' class="ng-scope"></loading>
                  <span ng-if="!isBotDetailsLoading" class="count-to" count-to="{{botSummary.totalNoOfRunningBots}}" value="0" duration="1">{{botSummary.totalNoOfRunningBots}}</span> 
                  <small>Running BOTs</small>
                </h3>
              </div>
               <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph green-glyph" ng-class="{'selected-section':runningBotsselected}"></span>
           </div>
          
           <div class="col-lg-2 col-sm-6 width20">
               <div class="dashboard-stats__item dashboard-stats__item_orange">
                <i class="fa fa-save"></i>
                <h3 class="dashboard-stats__title">
                  <loading size="medium" name="isBotDetailsLoading" type="inline" classes='white' class="ng-scope"></loading>
                  <span ng-if="!isBotDetailsLoading" class="count-to">{{botSummary.totalSavedTimeForBots.hours ? botSummary.totalSavedTimeForBots.hours : 0}}h {{botSummary.totalSavedTimeForBots.minutes ? botSummary.totalSavedTimeForBots.minutes : 0}}m</span> 
                  <small>Time saved</small>
                </h3>
              </div>
           </div>
           <div class="col-lg-2 col-sm-6 width20">
               <div class="cursor dashboard-stats__item dashboard-stats__item_bg-blue" ng-click="showScheduledBots('resetPage')">
                <i class="fa fa-power-off"></i>
                <h3 class="dashboard-stats__title">
                  <loading size="medium" name="isBotDetailsLoading" type="inline" classes='white' class="ng-scope"></loading>
                  <span ng-if="!isBotDetailsLoading" class="count-to" count-to="{{botSummary.totalNoOfServiceNowTickets}}" value="0" duration="1">{{botSummary.totalNoOfServiceNowTickets}}</span> 
                  <small>Tickets Resolved</small>
                </h3>
              </div>
              <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph bg-blue-glyph" ng-class="{'selected-section':scheduledBotsSelected}"></span>
           </div>  
            <div class="col-lg-2 col-sm-6 width20">
               <div class="cursor dashboard-stats__item dashboard-stats__item_red" ng-click="showFailedBots('resetPage')">
                <i class="fa fa-remove"></i>
                <h3 class="dashboard-stats__title">
                  <loading size="medium" name="isBotDetailsLoading" type="inline" classes='white' class="ng-scope"></loading>
                  <span ng-if="!isBotDetailsLoading" class="count-to" count-to="{{botSummary.totalNoOfFailedBots}}" value="0" duration="1">{{botSummary.totalNoOfFailedBots}}</span> 
                  <small>Failed BOTs</small>
                </h3>
              </div>
              <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph redcard-glyph" ng-class="{'selected-section':failedBotsselected}"></span>
           </div>    
       </div>
   </div>
   <!--panel description along with search ends here-->
   <!-- cards section-->
    <div class="botsWidth">
      <div class="marginleft35 margintop8 botsWidth  box-infobox" style="border-top-color:floralwhite"></div>
      <div class="gallery-header top-stats marginCheck">
          <button type="button" class="font-size-16 tabReadme btn btn-link {{botsCardViewSelection}}" title="Grid View" ng-click="setCardView('pageReset')"  >
              <i class="fa fa-th black"></i>
              Grid
          </button>
           <button type="button" class="font-size-16 tabReadme btn btn-link {{botsTableViewSelection}}" title="List View" ng-click="botsTableView()">
            <i class="fa fa-align-justify black"></i>
              List
          </button>
         <span style="margin-left:30px;" ng-if="botLibCategory" class="box-title font-size-15"><span>Functionality</span>
         <span class="badge">{{botLibCategory}}<span title="Clear" class="filterClear" ng-click="clearFilter(botLibCategory)">×</span></span>
         </span>
         <span ng-if="botLibAction" class="marginleft10 box-title font-size-15"><span>Action</span>
         <span class="badge">{{botLibAction}}<span title="Clear" class="filterClear" ng-click="clearFilter(botLibAction)">×</span></span>
         </span>
         <span ng-if="botLibType" class="marginleft10 box-title font-size-15"><span>Type</span>
         <span class="badge">{{botLibType}}<span title="Clear" class="filterClear" ng-click="clearFilter(botLibType)">×</span></span>
         </span>
         <form class="pull-right firefoxForm marginright14" novalidate name="library-form" ng-submit="searchBotNameCategory('pageNumber')">
            <span class="bot-library-search">
               <label>&nbsp;
                  <input type="text" ng-model="botLibrarySearch" class="search-text bot-search" placeholder="Search">
                  <i class="fa fa-search search-icon" ng-show="!searchText" ng-click="searchBotNameCategory('pageNumber')"></i>
                  <i title="Clear Search" class="fa fa-close search-icon cancel-icon ng-hide" ng-show="searchText" ng-click="clearBotSearchText()"></i>
               </label>
            </span>
         </form>
      </div>
      <loading size="large" name="isBotLibraryPageLoading" type="block" align="center"></loading>
      <div class="col-lg-4 col-md-4 col-sm-6" ng-show="isCardViewActive" ng-repeat="botsDetails in botLibGridOptions.data">
         <div class="agent-card grid-card hoverable col-lg-12 col-md-12 col-xs-12">
            <a class="appnav" title="Go to Details" ui-sref="dashboard.bots.botsDescription({botDetail:botsDetails,listType:0})">
               <div class="image-cell two-tone-11">
                  <img class="highlight" title="{{botsDetails.category}}" alt="{{botsDetails.category}}" ng-src="{{botsDetails.imagePath}}">
               </div>
               <div class="info-cell">
                  <div title="{{botsDetails.name ? botsDetails.name:botsDetails.botName}}" class="title">{{botsDetails.name ? botsDetails.name:botsDetails.botName}}</div>
                  <div class="desc-cell">
                  <div title="{{botsDetails.desc ? botsDetails.desc:botsDetails.botDesc}}" class="description">{{botsDetails.desc ? botsDetails.desc:botsDetails.botDesc}}</div>
               </div>
                  
               </div>
               <div class="publisher">
                  </div>
                <ul class="ul-vert-bar pull-left botsExecution" ng-if="botsDetails.executionCount">
                  <li class="publisher" title="{{botsDetails.executionCount}}">Runs:&nbsp;{{botsDetails.executionCount}}</li>
                  <li class="publisher" title="{{botsDetails.lastRunTime | timestampToLocaleTime}}"><i class="fa fa-clock-o"></i>&nbsp;<span am-time-ago="botsDetails.lastRunTime">
                      {{botsDetails.lastRunTime}} &nbsp;&nbsp;
                </ul>
                <div class="pull-right" style="margin-top:8px;">
                  <!-- <a ng-if="botsDetails.source ==='GitHub'" class="margin10 cursor" title="BOT Sync"><i ng-class="{'fa fa-refresh' : activeClass !== botsDetails, 'fa fa-refresh fa-spin' : activeClass === botsDetails}" ng-click="botSync(botsDetails)"></i></a> -->
                  <a class="margin10 cursor" ui-sref="dashboard.bots.botsDescription({botDetail:botsDetails,listType:0})" title="Execute"><i class="fa fa-play font-size-16"></i></a>
               </div>
            </a>
         </div>
      </div>
      <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <div class="text-center" ng-show="showLoadMore && isCardViewActive"><a class="font-size-16 cursor" ng-model="currentCardPage" ng-click="cardPaginationChange()";>Load More</a></div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-2 pull-right">
            <div ng-show="showRecords && isCardViewActive">
                <h4 class="margintop-2"><small>{{statusBar}}</small></h4>
            </div>
        </div>
    </div>   
   <!--cards section ends here-->

   <!--table section start here-->
   <div class="col-lg-12 paddingForScreen" >
   <div class="alert alert-info text-center" ng-if="!botLibGridOptions.data.length > 0 && !isBotLibraryPageLoading">
      No data Available
   </div>
   <div id="grid1" ng-show="!isCardViewActive" ng-if="botLibGridOptions.data.length >0 && !isBotLibraryPageLoading" ui-grid="botLibGridOptions" ui-grid-pagination ui-grid-auto-resize class="grid heightBigCheck"></div>
 </div>
   <!--table section ends here -->
</div>