<div id='newBotPage' class="container scheduleBorder margintop15 backColor">
   <form name="newBotForm" novalidate ng-submit="newBotForm.$valid && ok()">
      <div class="page-name">
         <span class="marginleft-18">Create New BOT</span>
      </div>
      <div class="borderTop"></div>
      <loading name="isNewBotPageLoading" size="large" type="block" align="center"></loading>
      <div class="row new-task-wrapper" ng-show="!isNewBotPageLoading">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border no-padding">
            <div class="jobDetailsContent">
               <!-- <div class="col-md-6 col-sm-6 col-xs-6 margintop15">
                  <label class="control-label botsLabel">Name
                  <span class="control-label red">&nbsp;*</span>
                  <span ng-show="newBotForm.botName.$touched && newBotForm.botName.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <br />
                  <input type="text" name="botName" placeholder="Enter the BOT Name" class="form-control" required autofocus ng-model="botName" maxlength="50" />
               </div> -->
               
               <div class="col-md-6 col-sm-6 col-xs-6 margintop15">
                  <label class="control-label botsLabel">Type
                  <span class="control-label red">&nbsp;*</span>
                  <span ng-show="newBotForm.botType.$touched && newBotForm.botType.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <select name="botType" class="form-control" ng-model="botType" required>
                     <option selected="selected" value="chef">{{botTypes['chef'].name}}</option>
                     <option ng-show="!createChefJob" value="blueprint">{{botTypes['blueprint'].name}}</option>
                     <!-- <option ng-show="!createChefJob" value="script">{{botTypes['script'].name}}</option> -->
                  </select>
               </div>
               
               <div class="col-lg-6 col-md-6 margintop15">
                  <label class="botsLabel" for="">Action:<span class="red">*</span>
                     <span ng-show="newBotForm.botSubTypeValue.$touched && newBotForm.botSubTypeValue.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <select ng-model="botSubTypeValue" name="botSubTypeValue" class=" width-100 form-control">
                     <option value="Task">Task</option>
                     <option value="Check">Check</option>
                     <option value="Provision">Provision</option>
                     <option value="Run">Run</option>
                     <option value="UI">UI</option>
                  </select>
               </div>
               <div class="col-lg-6 col-md-6 margintop15">
                  <label class="botsLabel"  for="">Category:<span class="red">*</span>
                     <span ng-show="newBotForm.botCategory.$touched && newBotForm.botCategory.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <select ng-model="botCategory" name="botCategory" class=" width-100 form-control">
                     <option value="User Management">User Management</option>
                     <option value="DB management">DB Management</option>
                     <option value="Service Management">Service Management</option>
                     <option value="Application Management">Application Management</option>
                  </select>
               </div>
               <!-- <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6 margintop15">
                  <label class="control-label botsLabel">Description
                  <span class="control-label red">&nbsp;*</span>
                  <span ng-show="newBotForm.botDesc.$touched && newBotForm.botDesc.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <br />
                  <input type="text" name="botDesc" placeholder="Enter the BOT Description" class="form-control" ng-required="checkBotStatus"  autofocus ng-model="botDesc" maxlength="50" />
               </div> -->
               <div class="col-md-6 col-sm-6 col-xs-6 margintop15">
                  <label class="control-label botsLabel">Organization
                     <span class="control-label red">&nbsp;*</span>
                     <span ng-show="newBotForm.botOrg.$touched && newBotForm.botOrg.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <select name="botOrg"  ng-model="orgNewEnt.org" ng-options="org.name group by org.a for org in organObject" class="chooseProjectExisting width-100 form-control"  required>
                     <option value="">Select Organization</option>
                  </select>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 margintop15">
                  <label class="control-label botsLabel">Standard Time(mins)
                  <span class="control-label red">&nbsp;*</span>
                  <span ng-show="newBotForm.manualExecutionTime.$touched && newBotForm.manualExecutionTime.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <br/>
                  <input type="text" name="manualExecutionTime" placeholder="Enter the Manual Execution Time" class="form-control" ng-required="checkBotStatus" autofocus ng-model="manualExecutionTime" maxlength="10" />
               </div>
               <div class="col-lg-6 col-md-6 authPemFile margintop15">
                  <label for="autenticationYAMLfile" class="botsLabel">YAML File
                  <span class="control-label red">&nbsp;*</span>
                  <span ng-show="newBotForm.autenticationYAMLfile.$touched && newBotForm.autenticationYAMLfile.$error.required" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <div class="input-groups">
                     <input type="file" name="autenticationYAMLfile" class="form-control form-controls" ngf-select="" ng-model="$parent.yamlfile" name="file" accept=".yaml" required="">
                  </div>
               </div>
               <div ng-if="botType==='chef'" class="col-lg-6 col-md-6 col-sm-4 col-xs-12 margintop15">
                  <label class="control-label botsLabel">Select Runlist</label>
                  <span class="cursor pull-right">
                  <i class="fa fa-plus-circle cursor" title="Add Runlist" ng-click="updateCookbook()"></i>
                  </span>
                  <div class="view-runlist">
                     <table class="table table-bordered text-center">
                        <thead>
                           <tr>
                              <th class="text-center">View Runlist</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in chefrunlist">
                              <td>{{item.value}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!--for script adding the scriptType dropdown -->
               <!--commented will be used in future-->
               <!--job execution details-->
               <!--job execution details ends here-->
               <div ng-if="botType==='script'" class="col-md-6 col-sm-6 col-xs-12 margintop15">
                  <label class="control-label botsLabel">Script Type
                  <span class="control-label red">&nbsp;*</span>
                  <span ng-show="newBotForm.scriptType.$touched && newBotForm.scriptType.$invalid" class="inputValidationMsg">Required
                  </span>
                  </label>
                  <select class="form-control" name="scriptType" ng-model="$parent.scriptTypeSelelct" ng-change="changeNodeScriptList();" required>
                     <option value="">Select</option>
                     <option value="Bash">Bash</option>
                     <option value="Python">Python</option>
                  </select>
               </div>
               <!--scriptType ending here -->
            </div>
         </div>
         <!--second column script-->
         <div class="col-md-4 col-sm-4 col-xs-12" ng-if="botType==='script'">
            <div class="jobDetailsContent">
               <div class="chef-details-top">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                     <div class="row margin0">
                        <div class="col-lg-6 no-padding">
                           <label for="scripts" class="botsLabel lable-align">Script List</label>
                        </div>
                        <label ng-show="scriptSelectAll" class="checkbox check-list checkboxStyling botsLabel">
                        Select All : &nbsp;<input type="checkbox" ng-checked="false" class="checkbox-list checkboxall-right" ng-click="toggleAllScripts()" ng-model="$parent.isAllScriptSelected" title="Select All ">
                        </label>
                     </div>
                     <div class="select-scripts">
                        <ul>
                           <li ng-repeat="script in scriptTaskList">
                              <label class="checkbox check-list">
                              <input type="checkbox" ng-change="optionScriptToggled()" ng-checked="script._isScriptSelected" ng-model="script._isScriptSelected" ng-click="addRemoveScriptTable(script)" class="checkbox-list"/>{{script.name}}
                              <a class="pull-right cursorPointer" ng-show="script._isScriptSelected" type="button" id="add" ng-click="showScriptParams(script)" title="Show Params">&nbsp;Params</a>
                              </label>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!--for showing the radio buttons for script params-->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="scriptParamShow">
                     <div class="jenkins-job-parameter-text">
                        <span class="lable-align"><b>{{selectedScript.name}}</b>&nbsp;Parameters</span>
                        <i class="fa fa-plus-circle cursor" title="Add Script Parameters" ng-click="addScriptParams(selectedScript)"></i>
                     </div>
                     <!--script params ends here-->
                     <!--table for adding the script params starts here-->
                     <div class="col-lg-12 col-md-12 add-parameters">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer">
                           <thead>
                              <tr class="rowCustomStyle" role="row">
                                 <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Parameter">Parameter</td>
                                 <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Description">Description</td>
                                 <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Type">Type</td>
                                 <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action">Action</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="param in scriptParamsObj[selectedScript._id] track by $index">
                                 <td ng-if="param.paramType === 'Default' || param.paramType === ''">{{param.paramVal}}</td>
                                 <td ng-if="param.paramType === 'Restricted' || param.paramType === 'Password'">.....</td>
                                 <td>{{param.paramDesc}}</td>
                                 <td ng-if="param.paramType === 'Default' || param.paramType === ''">Default</td>
                                 <td ng-if="param.paramType === 'Restricted' || param.paramType === 'Password'">{{param.paramType}}</td>
                                 <td>
                                    <button title="Delete" type="button" ng-click="removeScriptParams(selectedScript._id,param);"><i class=" fa fa-trash-o"></i></button>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <!--table ends here-->
               </div>
            </div>
         </div>
      </div>
      <div class="pager">
         <button type="button" class="btn cat-btn-cancel margintop10" ui-sref="dashboard.bots.library">
         <i class="fa fa-times black"></i> Cancel
         </button>
         <button  type="submit" class="btn cat-btn-update margintop10 marginleft10" ng-disabled="newBotForm.$invalid" ng-click="postCreateBots()">
         <i class="fa fa-check white"></i> Save
         </button>
      </div>
   </form>
</div>