<div id="botLibraryPage">
    <div class="page-name">
        Runbooks Library &nbsp;
        <span class="pull-right">
            <button type="button" title="Refresh" class="btn btn-xs cat-btn-update pull-right refresh-btn" ng-click="refreshRunbooks();">
                <i class="fa fa-refresh white"></i>
            </button>


        </span>
    </div>
    <div class="borderTop"></div>

    <div class="container summary-container containerBox">
        <div class="panel-group text-center">
            <div class="col-lg-2 col-sm-6 width20">
                <div class="cursor dashboard-stats__item dashboard-stats__item_blue" ng-click="showAllRunbooks()">
                    <i class="fa fa-list"></i>
                    <h3 class="dashboard-stats__title">
                        <loading size="medium" name="isRunbookDetailsLoading" type="inline" classes='white' class="ng-scope"></loading>
                        <span ng-if="!isRunbookDetailsLoading" class="count-to">{{runBooks.length}}</span>
                        <small>TOTAL RUNBOOKS</small>
                    </h3>
                </div>
                <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph dark-blue-glyph selected-section"
                    ng-class="{'selected-section':totalBotsSelected}"></span>
            </div>
        </div>
    </div>

    <div class="botsWidth">
        <div class="marginleft35 margintop8 botsWidth  box-infobox" style="border-top-color:floralwhite"></div>

        <loading size="large" name="isRunbookPageLoading" type="block" align="center"></loading>
        <div class="col-lg-4 col-md-4 col-sm-6" ng-show="isCardViewActive" ng-repeat="runBookDetail in runBooks">
            <div class="agent-card grid-card hoverable col-lg-12 col-md-12 col-xs-12">
                <a class="appnav" title="Go to Details" ui-sref="dashboard.bots.runbookBots({runbook:runBookDetail.name,id:runBookDetail._id})">
                    <div class="image-cell two-tone-11">
                        <img class="highlight" title="{{runBookDetail.name}}" alt="{{runBookDetail.name}}" ng-src="images/bots/serviceManagement.png">
                    </div>
                    <div class="info-cell">
                        <div title="{{runBookDetail.name}}" class="title">{{runBookDetail.name}}</div>
                        <div class="desc-cell">
                            <div title="{{runBookDetail.desc ? runBookDetail.desc:runBookDetail.botDesc}}" class="description">{{runBookDetail.desc
                                ? runBookDetail.desc:runBookDetail.botDesc}}</div>
                        </div>

                    </div>
                    <div class="publisher">
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <div class="text-center" ng-show="showLoadMore && isCardViewActive">
                <a class="font-size-16 cursor" ng-model="currentCardPage" ng-click="cardPaginationChange()" ;>Load More</a>
            </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-2 pull-right">
            <div ng-show="showRecords && isCardViewActive">
                <h4 class="margintop-2"><small>{{statusBar}}</small></h4>
            </div>
        </div>

    </div>
</div>