
<div id="sensureport" class="ng-scope">
<ul class="nav nav-tabs">
<li ng-hide="stateItems.dashboardHide" ng-class="{'active':analytic.tabShowChat === true}" class="active">
    <a ng-click="analytic.tabShow(true,false)" class=""><i class="fa fa-area-chart fa-2" aria-hidden="true"></i> Dashboard</a>
</li>
<li ng-hide="stateItems.reportHide" ng-class="{'active':analytic.tabShowReport === true}" class="">
    <a ng-click="analytic.tabShow(false,true)" class=""><i class="fa fa-file-text fa-2" aria-hidden="true"></i> Reports</a>
</li>
<li class="form-group pull-right filter-btn">
        <button type="button" class="btn btn-xs cat-btn-update ng-scope pull-right margin-left6" ng-click="isOpenSidebar = !isOpenSidebar">
            <i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Filter
        </button>
    </li>
    </ul>
   
    <div class="well" id="well" >
        <div class="col-lg-6 col-md-6 col-sm-12 btn-group" role="group" aria-label="...">
            <span  ng-hide="stateItems.filterView.period">
                <button type="button" class="btn btn-sm btn-primary cat-btn-update" ng-class="{'active':filterNewEnt.period === 'day'}"  ng-click="applyFilter(true,'day')">DAY</button>
                <button type="button" class="btn btn-sm btn-primary cat-btn-update" ng-class=" {'active':filterNewEnt.period === 'week'}"  ng-click="applyFilter(true,'week')">WEEK</button>
                <button type="button" class="btn btn-sm btn-primary cat-btn-update" ng-class=" {'active':filterNewEnt.period === 'month'}" ng-click="applyFilter(true,'month')">MONTH</button>
                <!--<button type="button" class="btn btn-sm btn-primary cat-btn-update" disabled="disabled" ng-class=" {'active':filterNewEnt.period === 'year'}"  ng-click="applyFilter(true,'year')">YEAR</button>-->
                <!--<input  class="form-control " ng-model="filterNewEnt.StartDate" style="display: table-cell;width: 120px" readonly   />-->
                <input id="date-select" class="form-control " ng-click="showPick=true" ng-model="filterNewEnt.date" style="display:inherit;width: 120px"  placeholder="From Date" ng-change="applyFilter(true,filterNewEnt.period);" title="End Date" />
                <div class="weekPick" ng-show="showPick">
                    <span ng-show="filterNewEnt.period === 'day'"> <label for="" >Select Date</label>
                        <input  class="form-control marginbottom10" id="date-cost" ng-model="filterNewEnt.endDate.day"   />
                    </span>

                    <span ng-show="filterNewEnt.period === 'week'"> <label for="" >Select Week</label>
                        <select class="form-control marginbottom10" ng-model="filterNewEnt.endDate.week">
                            <option ng-repeat="w in [{v:0,l:'1st'},{v:1,l:'2nd'},{v:2,l:'3rd'},{v:3,l:'4th'},{v:4,l:'5th'}]" value="{{w.v}}">{{w.l}}</option>
                        </select>
                    </span>
                    <span ng-show="filterNewEnt.period === 'month'|| filterNewEnt.period === 'week'">
                        <label for="">Select Month</label>
                        <select class="form-control marginbottom10" ng-model="filterNewEnt.endDate.month">
                            <option ng-repeat="m in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']" value="{{m}}">{{m}}</option>
                        </select>
                        <label for="">Select Year</label>
                        <select class="form-control marginbottom10" ng-model="filterNewEnt.endDate.year">
                            <option ng-repeat="y in [2017,2016,2015,2014,2013]" value="{{y}}">{{y}}</option>
                        </select>
                    </span>
                    <button type="button" class="btn btn-sm btn-primary cat-btn-update pull-left"  ng-click="showPick=false;">Close</button>
                    <button type="button" class="btn btn-sm btn-primary cat-btn-update pull-right"  ng-click="showPick=false;applyFilter(true,filterNewEnt.period)">Ok</button>
                    <!--<input  class="form-control " ng-model="filterNewEnt.StartDate" style="display: table-cell;width: 120px" readonly   />-->
                </div>
            </span>
        </div>
        <div ui-view></div>
     <div class="clearfix"></div>
     <div >
         <div class="row">
             <div class="clearfix"></div>
            
             <div class="col-lg-12 col-md-12 col-sm-12" >
                 <div class="box box-infobox box-info">
                     <div class="box-header with-border"><h3 class="box-title font-size-15"><i class="fa fa-bar-chart"></i> Tickets Resolved per person</h3>

                     </div>
                     <div class="box-body" ><nvd3 options="options" data="data"></nvd3></div>
                 </div>
             </div>
            
         </div>
     </div>

     