<div class="page-name">
Service Now&nbsp;
      <span class="pull-right">
      <button type="button" class="btn btn-xs btn-primary cat-btn-update active">DAILY</button>
      <button type="button" class="btn btn-xs btn-primary cat-btn-update">WEEKLY</button>
      <button type="button" class="btn btn-xs btn-primary cat-btn-update">MONTHLY</button>
      <button type="button" title="Refresh" class="btn btn-xs btn-primary cat-btn-update " ng-click="RefreshBotsLibrary();">
      <i class="fa fa-refresh white"></i>
      </button>
      </span>
</div>

<div class="borderTop"></div>



<div class="container summary-container containerBox">
       <div class="panel-group text-center">
         <div class="col-lg-2 col-sm-6 width20">
               <div class="circle-tile cursor">
                  <div>
                      <div class="circle-tile-heading dark-blue">
                          <i class="fa fa-list-ol fa-fw fa-2x white"></i>
                      </div>
                  </div>
                  <div class="circle-tile-content dark-blue">
                    <div class="circle-tile-number text-faded">
                      <span>0</span>
                    </div>
                     <div class="circle-tile-description text-faded" title="Total BOTs">
                         Total Tickets
                     </div>
                     <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph dark-blue-glyph selected-section" ></span>
                  </div>
               </div>
           </div>

           <div class="col-lg-2 col-sm-6 width20">
               <div class="circle-tile cursor">
                  <div>
                    <div class="circle-tile-heading green">
                        <i class="fa fa-cogs fa-fw fa-2x white"></i>
                    </div>
                  </div>
                   <div class="circle-tile-content green">
                       <div class="circle-tile-number text-faded">
                        <span>0</span>
                       </div>
                       <div class="circle-tile-description text-faded" title="Running BOTs">
                           Open Tickets
                       </div>
                       <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph green-glyph"></span>
                   </div>
               </div>
           </div>
          
           <div class="col-lg-2 col-sm-6 width20">
               <div class="circle-tile">            
                     <div class="circle-tile-heading orange">
                         <i class="fa fa-save fa-fw fa-2x white"></i>
                     </div> 
                   <div class="circle-tile-content orange">
                     <div class="circle-tile-number text-faded ng-binding">
                         <span>0</span>
                       </div>
                       <div class="circle-tile-description text-faded" title="Time Saved">
                            Closed Tickets
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-lg-2 col-sm-6 width20">
               <div class="circle-tile cursor">
                    <div>
                       <div class="circle-tile-heading redcard">
                           <i class="fa fa-power-off fa-2x white"></i>
                       </div>
                    </div>
                   <div class="circle-tile-content redcard">
                     <div class="circle-tile-number text-faded ng-binding">
                           <span>0</span>
                       </div>
                       <div class="circle-tile-description text-faded" title="Tickets Resolved">
                           SLA Missed
                       </div>
                       <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph bg-blue-glyph"></span>
                   </div>
               </div>
           </div>  
            <div class="col-lg-2 col-sm-6 width20">
               <div class="circle-tile cursor">
                    <div>
                       <div class="circle-tile-heading bg-blue">
                           <i class="fa fa-remove fa-fw fa-2x white"></i>
                       </div>
                    </div>                   
                   <div class="circle-tile-content bg-blue">
                     <div class="circle-tile-number text-faded ng-binding">
                        <span>0</span>
                       </div>
                       <div class="circle-tile-description text-faded" title="Failed BOTs">
                           SLA
                       </div>
                       <span class="glyphicon glyphicon-triangle-bottom section-bottom-glyph redcard-glyph"></span>
                   </div>
               </div>
           </div>    
       </div>
      </div>

      <div class="borderTop"></div>

      <div class="container">
        <div class="row search-margin-top-20px">
          <div class="col-md-9"><h2>SLA</h2></div>
          <div class="col-md-3">
            <form class="search-pull-right firefoxForm" name="library-form">
              <span class="SN-library-search">
                 <label>&nbsp;
                    <input type="search" class="SN-search" placeholder="Search">
                    <i class="fa fa-search search-icon"></i>
                    <i title="Search" class="fa search-icon"></i>
                 </label>
              </span>
            </form>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar active progress-bar-success" role="progressbar" style="width:60%">
            LOW
          </div>
          <div class="progress-bar active progress-bar-warning" role="progressbar" style="width:30%">
            MEDIUM
          </div>
          <div class="progress-bar active progress-bar-danger" role="progressbar" style="width:10%">
            HIGH
          </div>
        </div>
      </div>

      <div class="container">
      <table class="table table-hover table-bordered text-center" style="background-color:#fff">
            <thead>
                  <tr>
                        <th class="text-center">Incident No</th>
                        <th class="text-center">Created Date</th>
                        <th class="text-center">Assigned To</th>
                        <th class="text-center">Category</th>           
                        <th class="text-center">Priority</th>
                        <th class="text-center">Short Description</th>
                        <th class="text-center">Work Log</th>
                  </tr>
            </thead>
            <tbody>
                  <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                  </tr>
                  <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                  </tr>
                  <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                  </tr>
                  <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                  </tr>
            </tbody>
            
      </table>

      <div id="green" class="pager greenpagination">
            <div class="btn disabled">First</div>
            <div class="btn disabled">Prev</div>
            <ul>
                  <li><a id="1" class="greenpagination normal active" href="javascript:void(0)">1</a></li>
                  <li><a id="2" class="greenpagination normal" href="javascript:void(0)">2</a></li>
                  <li><a id="3" class="greenpagination normal" href="javascript:void(0)">3</a></li>
                  <li><a id="4" class="greenpagination normal" href="javascript:void(0)">4</a></li>
                  <li><a id="5" class="greenpagination normal" href="javascript:void(0)">5</a></li>
            </ul>
            <div class="btn">Next</div>
            <div class="btn">Last</div>
            <div class="short">
                  <!-- <input type="text"><input type="button" value="Go" class="btn"> -->
            </div>
                  <span>entries</span>
                  <span>100</span>
                  <span>of</span>
                  <span>10</span>
                  <span>-</span>
                  <span>1</span>
                  <span>Showing</span>
            </div>
</div>



<style>
.page-name {
    font-size: 18px;
    margin: 5px 0 5px 36px;
}

.refresh-btn {
    margin: 2px 10px 0 0;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
}

.borderTop {
    border-top: 1px dashed #ddd;
    margin: 15px 0px;
}

.summary-container {
    width: 96%;
}

.containerBox {
    margin-left: 19px;
    margin-top: -7px;
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-content {
    padding-top: 50px;
}

.text-faded {
    font-weight: normal;
    color: #fff;
}

.circle-tile-description {
    text-transform: uppercase;
    height: 29px;
}

.dark-blue {
    background-color: #00c0ef;
}

.brown {
    background-color: #c58627;
}

.green {
    background-color: #00a65a;
}

.orange {
      background-color: #f39c12;
}

.redcard {
      background-color: #e74c3c;
}

.bg-blue {
          background-color: #2980b9;
}

.circle-tile-heading {
    position: relative;
    width: 65px;
    height: 65px;
    margin: 10px auto -35px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #fff;
    padding-top: 15px;
    transition: all ease-in-out .3s;
}

.circle-tile-number {
    padding: 0px 0 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: .6;
    height: 28px;
}

.selected-section {
    display: block !important;
}

.section-bottom-glyph {
    position: absolute;
    top: 141px;
    left: 118px;
    font-size: 22px;
    display: none;
}

.dark-blue-glyph {
    color: #00c0ef;
}

.green-glyph {
    color: #00a65a;
}

.bg-blue-glyph {
    color: #2980b9;
}

.redcard-glyph {
    color: #e74c3c;
}

/*searchbox*/
.searchWidth {
    width: 98%;
}

.pull-right {
      float: right!important;
      margin-right: 20px;
}

.SN-library-search {
    height: 33px;
    /* margin-right: 12px; */
}

.SN-search {
    -webkit-appearance: textfield !important;
    font-size: 16px;
}

.search-icon {
    margin-left: -26px;
    cursor: pointer;
}

.search-pull-right {
    float: right!important;
    margin-top: 20px;
}

.search-margin-top-20px {
    margin-top: -20px;
}

/*pagination*/
#greenpagination {
    margin: auto;
}

.pager {
    float: left;
    height: 30px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    width: 98%;
}

.pager .disabled {
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.pager .btn {
    display: block !important;
    width: 40px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 5px 0 0 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pager ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;
}

.pager ul li {
    display: inline;
    margin-left: 2px;
}

.green.active {
    background-color: #ddd;
    border: solid 1px #ccc;
}

.green.normal {
    background-color: #fff;
    border: solid 1px #fff;
}

.pager ul li a {
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.pager div.short {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 74px;
    display: none;
}

.pager span {
    margin-left: 4px;
    float: right;
    position: relative;
    margin-top: 5px;
}

@media (min-width: 1200px) {
      .width20 {
            width: 20%;
      }
}
</style>