<div id="editParamsPage" ng-controller="editParamsCtrl">
	<form class="container summary-container" name="editParamsForm" novalidate ng-submit="editParamsForm.$valid && executeBot()">
		<fieldset id="botExecution">
			<div ng-if="botType ==='script'" class="scriptExecution param-table bot-info-wrapper">
		         <table class="table table-bordered">
		            <thead>
		               <tr class="paramRow">
		                  <th class="th-parameters">Label</th>
		                  <th class="th-values">Type</th>
		                  <th class="th-values">Default</th>
		               </tr>
		            </thead>
		            <tbody>
		               <tr ng-repeat = "(key,value) in botInfo.inputFormFields">
		                  <td>{{value.label}}</td>
		                  <td>{{value.type}}</td>
		                  <td ng-init="botEditParams[value.name] = value.default" style="text-align: left">
			                	<input ng-if="value.type==='text'" type="text" class="width100 cookbook-edit-text" ng-model="botEditParams[value.name]"/>
			                	<input ng-if="value.type==='password'" type="password" class="width100 cookbook-edit-text" ng-model="botEditParams[value.name]"/>
			               </td>
		               </tr>
		            </tbody>
		         </table>
      		</div>
            <div class="margintop-7" ng-if="botType ==='script'"><input type="checkbox" ng-model="scriptSelectForRemote.flag" ng-click="botStatus()"/><span>&nbsp;Do you want to execute on Remote Server?</span></div>
      		<div ng-if="botType ==='chef' || botType === 'blueprints' || botType === 'blueprint' || botType === 'script'" ng-show="botCheck" class="chefExecution">
            <fieldset id="editParamPage">
            <legend>Remote Machine</legend><br>
      		<div class="col-lg-6 col-md-6 col-sm-12 margintopBottom">
               <div class="panel-group">
                  <div class="panel panel-default form-group">
                     <div class="panel-heading" style="height: 40px;"> 
				            <span class="bot-library-search marginleft-12">
                           <form class="firefoxForm" novalidate name="library-form">
				               <label>&nbsp;
				                  <input type="search" ng-model="searchText.name" class="search-text bot-search marginleft8" placeholder="Search">
				                  <i class="fa fa-search search-icon" ng-show="!searchText"></i>
				               </label>
                           </form>
				            </span>
                     </div>
                     <div class="panel-body bots-panel-body" ng-if="botType === 'chef' || botType === 'script'" ng-show="botCheck">
                        <div class="alert alert-info padding6 text-center" ng-if="originalInstanceList.length === 0" align="center">No Instances Found</div>
                        <ul ng-if="originalInstanceList.length > 0" class="list-group" ui-sortable>
                           <li class="list-group-item" ng-repeat="instanceDetails in originalInstanceList | filter :searchText">
                              <span title="Add to Right" class="pull-right btn btn-xs cat-btn-update bpvicon" ng-click="addInstanceBP(originalInstanceList.indexOf(instanceDetails),'instance')" ><i class="fa fa-arrow-right white fa-2" aria-hidden="true"></i></span>
                              <span title="Info" class="pull-right btn btn-xs cat-btn-update bpvicon" ng-click="instanceInfo($event,instanceDetails)" ><i class="fa fa-info fa-2 white" aria-hidden="true"></i></span>

                              <img src="./images/global/chef-import.png" alt="{{instanceDetails.name}}"> &nbsp;{{instanceDetails.name}}
                           </li>
                        </ul>
                     </div>
                     <div class="panel-body bots-panel-body" ng-if="botType === 'blueprints'">
                     	<div class="alert alert-info padding6 text-center" ng-if="originalBlueprintList.length === 0" align="center">No Blueprints Found</div>
                        <ul ng-if="originalBlueprintList.length > 0" class="list-group" ui-sortable>
                           <li class="list-group-item" ng-repeat="blueprintDetails in originalBlueprintList | filter :searchText">
                              <span title="Add to Right" ng-show="hideRightButton" class="pull-right btn btn-xs cat-btn-update bpvicon" ng-click="addInstanceBP(originalBlueprintList.indexOf(blueprintDetails),'blueprints')" ><i class="fa fa-arrow-right white fa-2" aria-hidden="true"></i></span>
                              <span title="Info" class="pull-right btn btn-xs cat-btn-update bpvicon" ng-click="selectBpInfo($event,blueprintDetails,IMGNewEnt.blueprintType)" ><i class="fa fa-info fa-2 white" aria-hidden="true"></i></span>
                              <img class="pluginBlueprintImageLogo" src="./images/templateicons/imgo.jpg" alt="{{blueprintDetails.name}}"> &nbsp;{{blueprintDetails.name}}
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
             </div>
            <div class="col-lg-6 col-md-6 col-sm-12 margintopBottom">
               <div class="panel-group">
                  <div class="panel panel-default">
                     <div ng-if="botType === 'chef' || botType === 'script'" ng-show="botCheck" class="panel-heading" style="height: 40px;">
                        <span>Selected Instances</span> &nbsp;<span class="error red" ng-show="executeTaskForSave && selectedInstanceList.length <= 0">Please select Instance.</span>
                     </div>
                     <div ng-if="botType === 'blueprints'" class="panel-heading" style="height: 40px;">
                        <span>Selected Blueprints(Only 1 Blueprint can be executed)</span> &nbsp;<span class="error red" ng-show="executeTaskForSave && selectedBlueprintList.length <= 0">Please select Blueprints.</span>
                     </div>
                     <div class="panel-body bots-panel-body" ng-if="botType === 'chef' || botType === 'script'" ng-show="botCheck">
                     	<div class="alert alert-info padding6 text-center" ng-if="selectedInstanceList.length === 0" align="center">No Instances Selected</div>
                        <ul class="list-group" dnd-list="selectedInstanceList" >
                           <li class="list-group-item bpListComp botsBadge"  ng-repeat="selectedInstance in selectedInstanceList" dnd-draggable="selectedInstance"
                              dnd-moved="selectedInstanceList.splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = selectedInstance"  ng-class=" {'activeLi':selectInstanceId === selectedInstance._id}">
                              	<span title="Info" class="pull-right btn btn-xs cat-btn-update bpvicon" ng-click="instanceInfo($event,selectedInstance)" ><i class="fa fa-info fa-2 white" aria-hidden="true"></i></span>
                              	<span title="Clear" class="filterClear pull-right btn btn-xs cat-btn-update bpvicon" ng-click="deSelectInstanceBP($event,selectedInstanceList._id,'instance')">X</span>
	                              <span class="badge pull-left" >{{(+selectedInstanceList.indexOf(selectedInstance)) +1}}</span><img class="layersClassComposite" src="./images/global/chef-import.png"  alt="{{selectedInstance.name}}"/> &nbsp;{{selectedInstance.name}}
                           </li>
                        </ul>
                     </div>
                     <div class="panel-body bots-panel-body" ng-if="botType === 'blueprints'">
                     	<div class="alert alert-info padding6 text-center" ng-if="selectedBlueprintList.length === 0" align="center">No Blueprints Selected </div>
                        <ul class="list-group" dnd-list="selectedBlueprintList" >
                           <li class="list-group-item bpListComp botsBadge"  ng-repeat="selectedBlueprint in selectedBlueprintList" dnd-draggable="selectedBlueprint"
                              dnd-moved="selectedBlueprintList.splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = selectedBlueprint"  ng-class=" {'activeLi':selectInstanceId === selectedBlueprint._id}">
                              	  <span title="Info" class="pull-right btn btn-xs cat-btn-update bpvicon" ng-click="selectBpInfo($event,selectedBlueprint,IMGNewEnt.blueprintType)" ><i class="fa fa-info fa-2 white" aria-hidden="true"></i></span>
                              	  <span title="Clear" class="filterClear pull-right btn btn-xs cat-btn-update bpvicon" ng-click="deSelectInstanceBP($event,selectedBlueprintList._id,'blueprints')">X</span>
	                              <span class="badge pull-left" >{{(+selectedBlueprintList.indexOf(selectedBlueprint)) +1}}</span>&nbsp;<img class="pluginBlueprintImageLogo" src="./images/templateicons/imgo.jpg"  alt="{{selectedBlueprint.name}}"/> &nbsp;{{selectedBlueprint.name}}
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
		   <div class="clearfix"></div>
         </fieldset>
      	</div>
      	<div class="alert alert-info text-center" ng-if="botType === 'UI' || botType ==='jenkins'">
 	          Under Construction
 	      </div>
		</fieldset>
   </form>
	<div id="botEditFooter" class="pager margintop-5">
		<button type="button" ng-if="botType === 'script' || botType ==='chef'" class="marginright29 btn cat-btn-update" ng-disabled="scriptSelectForRemote.flag && selectedInstanceList.length <= 0 || botType ==='chef' && selectedInstanceList.length <= 0" ng-click="executeBot('instance')">
			<i class="fa fa-check white"></i> Execute
		</button>
      <button type="button" ng-if="botType ==='blueprints'" class="marginright29 btn cat-btn-update" ng-disabled="selectedBlueprintList.length <= 0" ng-click="executeBot('blueprints')">
         <i class="fa fa-check white"></i> Execute
      </button>
	</div>
</div>