<link rel='stylesheet' href='catalyst/partials/sections/dashboard/bots/bots.css'>
<div id="botLibraryPage" ng-controller="botDescriptionCtrl">
   <div class="container summary-container">
      <div class="bot-info-wrapper">
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th class="th-parameters">Label</th>
                  <th class="th-values">Type</th>
                  <th class="th-values">Default</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat = "botParams in botInfo.inputFormFields">
                  <td>{{botParams.label}}</td>
                  <td>{{botParams.type}}</td>
                  <td>{{botParams.default}}</td>
               </tr>
               <!-- <tr>
                  <td class="td-padding">BOT Name</td>
                  <td>{{botInfo.botName}}</td>
               </tr>
               <tr ng-show="botInfo.botLinkedSubCategory">
                  <td class="td-padding">Task Type:</td>
                  <td>{{botInfo.botLinkedSubCategory}}</td>
               </tr>
               <tr ng-show="botInfo.blueprintType">
                  <td class="td-padding">Blueprint Type</td>
                  <td ng-switch on="botInfo.templateType">
                     <input disabled="disabled" class="form-control" value="SoftwareStack" ng-switch-when="chef">
                     <input disabled="disabled" class="form-control" value="OSImage" ng-switch-when="ami">
                     <input disabled="disabled" class="form-control" value="CloudFormation" ng-switch-when="cft">
                     <input disabled="disabled" class="form-control" value="Docker" ng-switch-when="docker">
                     <input disabled="disabled" class="form-control" value="ArmTemplate"ng-switch-when="arm">
                     <input disabled="disabled" class="form-control" value="NA" ng-switch-default>
                  </td>
               </tr>
               <tr>
                  <td class="td-padding">Bot Type</td>
                  <td>{{botInfo.botType}}</td>
               </tr>
               <tr>
                  <td class="td-padding">BOT Category</td>
                  <td>{{botInfo.botCategory}}</td>
               </tr>
               <tr>
                  <td class="td-padding">BOT Description</td>
                  <td>{{botInfo.botDesc}}</td>
               </tr>
            </tbody>
            <tbody ng-show="botInfo.botLinkedSubCategory==='chef'">
               <tr>
                  <td class="td-padding">Runlist</td>
                  <td>
                     <input class="form-control" disabled="disabled" ng-model="botInfo.botConfig.runlist">
                  </td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.attributes && botInfo.botConfig.attributes.length > 1" ng-repeat="attribs in botInfo.botConfig.attributes">
                  <td class="td-padding">Attribute{{$index+1}}</td>
                  <td>{{attribs.name}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.attributes && botInfo.botConfig.attributes.length === 1">
                  <td class="td-padding">Attribute</td>
                  <td>{{botInfo.botConfig.attributes[0].name}}</td>
               </tr>
            </tbody>
            <tbody ng-show="botInfo.botLinkedSubCategory==='jenkins'">
               <tr>
                  <td class="td-padding">Job Name</td>
                  <td>{{botInfo.botConfig.jobName}}</td>
               </tr>
               <tr>
                  <td class="td-padding">Job URL</td>
                  <td>{{botInfo.botConfig.jobURL}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length">
                  <td class="td-padding">Bot Parameter Type</td>
                  <td>{{botInfo.botConfig.parameterized[0].parameterName}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length">
                  <td class="td-padding">Bot Parameter Name</td>
                  <td>{{botInfo.botConfig.parameterized[0].name}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length === 1">
                  <td class="td-padding">Bot Parameter Values</td>
                  <td>{{botInfo.botConfig.parameterized[0].defaultValue}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.parameterized && botInfo.botConfig.parameterized.length">
                  <td class="td-padding">Bot Parameter Description</td>
                  <td>{{botInfo.botConfig.parameterized[0].description}}</td>
               </tr>
            </tbody>
            <tbody ng-show="botInfo.botLinkedSubCategory==='script'">
               <tr>
                  <td class="td-padding">Script Type Name</td>
                  <td>{{botInfo.botConfig.scriptTypeName}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.scriptDetails && botInfo.botConfig.scriptDetails[0].scriptParameters.length === 1">
                  <td class="td-padding">Script Parameter Description</td>
                  <td>{{botInfo.botConfig.scriptDetails[0].scriptParameters[0].paramDesc}}</td>
               </tr>
               <tr ng-show="botInfo.botConfig && botInfo.botConfig.scriptDetails && botInfo.botConfig.scriptDetails[0].scriptParameters.length > 1" ng-repeat="desc in botInfo.botConfig.scriptDetails[0].scriptParameters">
                  <td class="td-padding">Script Parameter{{$index+1}} Description</td>
                  <td>{{desc.paramDesc}}</td>
               </tr> -->
            </tbody>
         </table>
      </div>
   </div>
</div>