<link rel='stylesheet' href='catalyst/partials/sections/dashboard/bots/bots.css'>

<div id="botLibraryPage" ng-controller="botScheduleCtrl">
   

	<div class="container summary-container">
	    <form name="newSchedule" novalidate>
      <div class="modal-header">
         <span class="close" ng-click="cancel()">×</span>
         <h4 class="modal-title"><i class="fa fa-calendar"></i>&nbsp;Schedule your Bot</h4>
      </div>

      <div class="modal-body">
              <div class="col-lg-6 col-md-6 margintop15">
              <label>Do you want to Schedule BOTs? </label>
              </div>
              <div class="col-lg-6 col-md-6 margintop15">
                  <input type="radio" ng-value="true"  ng-model="isScheduled" name="isScheduled" ng-click="selectBotCheckbox()" />
                  <label for="isScheduled" class="paddingright15">Yes</label>
                  <input type="radio" ng-value="false"  ng-model="isScheduled" name="isScheduled" ng-click="selectBotCheckbox()" />
                  <label for="isScheduled" class="paddingright15">No</label>
              </div>

         <!--dropdown for selecting the repeat type-->

         <div class="col-lg-6 col-md-6 " ng-show="_isEventSelected">
            <label>Starts on: <span class="red">*</span>
            </label>
            <input id="date-start"  ng-change="dateChange()"   type="text"  ng-model="schedulerStartOn" class="form-control-date"  >
         </div>
         <div class="col-lg-6 col-md-6 " ng-show="_isEventSelected">
            <label>Ends on: <span class="red">*</span>
            </label>
            <input ng-change="dateChange()" type="text"   id="date-end" ng-model="schedulerEndOn" class="form-control-date"  >
            <span class="error red" ng-show="validDateRange">Start Date should be less than End date !</span>
         </div>
         <div class="clearfix margintop15 "></div>
         <div class="clearfix margintop15"></div>
          <div ng-show="_isEventSelected">
         <fieldset class="repo-job-details-wrapper">
            <legend class="repo-job-details-wrapper-inner"><i class="fa fa-hourglass-start" ></i> Interval </legend>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
               <label>Repeats: <span class="red">*</span></label>
               <select class="form-control-date" ng-model="repeatsType">
                  <option selected="selected" value="Minutes" title="Repeat in Minutes">Minutes</option>
                  <option value="Daily" title="Repeats Daily">Daily</option>
                  <option value="Weekly" title="Repeats Weekly">Weekly</option>
                  <option value="Monthly" title="Repeats Monthly">Monthly</option>
                  <!-- <option value="Yearly" title="Repeats Yearly">Yearly</option> -->
               </select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
               <label>Repeat By: <span class="red">*</span>
                <span ng-show="newSchedule.repeatBy.$touched && newSchedule.repeatBy.$invalid" class="inputValidationMsg">
               </span>
               </label>
               <select name="repeatBy" class="form-control-date" ng-model="repeatBy" >
                  <option value="" selected="selected">Choose</option>
                  <option ng-repeat="repeatBy in repeatCount(30)" value="{{repeatBy}}" title="Repeat Every {{repeatBy}}">{{repeatBy}}</option>
               </select>
            </div>
            <!--repeat on yearly for month starts -->
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop10" ng-show=" repeatsType==='Yearly'">
               <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-padding control-label">Choose Month:
                <span class="control-label red">&nbsp;*</span>
               <span ng-show="newSchedule.selectedMonth.$touched && newSchedule.selectedMonth.$invalid" class="inputValidationMsg">required
               </span>
               </label>
               <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
               <select id="selectedMonth" name="selectedMonth" class="ng-pristine ng-valid ng-touched" aria-invalid="false" ng-model="selectedMonth">
                 <option value="" selected="selected">Choose the Month</option>
                 <option ng-repeat="selectedMonth in monthOfYear" value="{{selectedMonth}}" title="Repeats every {{day}} {{repeatsType}}">{{selectedMonth}}</option>
               </select>
               </div>
               </div> -->
            <!--repeat on yearly for month ends-->
            <!--starts at dropdown-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margintop10" ng-show="repeatsType!=='Minutes'">
               <label>Time(Hrs):
               <span class="red">&nbsp;*</span>
               <span ng-show="newSchedule.timeEventHour.$touched && newSchedule.timeEventHour.$invalid" class="inputValidationMsg">
               </span>
               </label>
               <select name="timeEventHour" class="form-control-date" ng-model="timeEventType">
                  <option value="" selected="selected">Choose Start Hour</option>
                  <option ng-repeat="timeNumber in repeatCount(23)" value="{{timeNumber}}" title="Time Starts {{timeNumber}} {{repeatsType}}">{{timeNumber}}</option>
               </select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margintop10" ng-show="repeatsType!=='Minutes'">
               <label>Time(Mins):
               <span class="red">&nbsp;*</span>
               <span ng-show="newSchedule.timeEventMinute.$touched && newSchedule.timeEventMinute.$invalid" class="inputValidationMsg">
               </span>
               </label>
               <select name="timeEventMinute" class="form-control-date" ng-model="timeEventMinute">
                  <option value="" selected="selected">Choose Start Minute</option>
                  <option ng-repeat="timeNumberMinutes in repeatCount(59)" value="{{timeNumberMinutes}}" title="Time Starts {{timeNumberMinutes}} {{repeatsType}}">{{timeNumberMinutes}}</option>
               </select>
            </div>
            <!--repeat on weekly -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margintop10" ng-show="repeatsType==='Weekly'">
               <label>Repeat On:
               <span class="control-label red">&nbsp;*</span>
               <span ng-show="newSchedule.weekOfTheDay.$touched && newSchedule.weekOfTheDay.$invalid" class="inputValidationMsg">
               </span>
               </label>
               <select name="weekOfTheDay" class="form-control-date" ng-model="weekOfTheDay">
                  <option value="" selected="selected">Choose The Day</option>
                  <option ng-repeat="(key,value) in daysOfWeek" value="{{key}}" title="Repeats every {{value}}">{{value}}</option>
               </select>
            </div>
            <!--repeat on weekly ends--> 
            <!--repeat on monthly & yearly starts -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margintop10" ng-show="repeatsType==='Monthly'">
               <label>Choose Date:
               <span class="control-label red">&nbsp;*</span>
               <span ng-show="newSchedule.selectedDayOfTheMonth.$touched && newSchedule.selectedDayOfTheMonth.$invalid" class="inputValidationMsg">
               </span>
               </label>
               <select name="selectedDayOfTheMonth" class="form-control-date" ng-model="selectedDayOfTheMonth">
                  <option value="" selected="selected">Choose the Date</option>
                  <option ng-repeat="selectedDayOfTheMonth in repeatCount(31)" value="{{selectedDayOfTheMonth}}" title="Day of the Month selected {{selectedDayOfTheMonth}}">{{selectedDayOfTheMonth}}</option>
               </select>
            </div>
            <!--repeat on monthly & yearly ends-->
            <!--starts at dropdown ends here-->
            <!--dropdown ends here-->
         </fieldset>
          </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn cat-btn-close" ng-click="cancel()">
         <i class="fa fa-times black"></i> Cancel
         </button>
         <button type="submit" class="btn cat-btn-update" ng-disabled="newSchedule.$invalid" ng-click="ok()">
         <i class="fa fa-check white"></i> Save
         </button>      
      </div>
   </form>
	</div>
</div>
