<div id='headerDashboardPage'>
	<nav class="navbar-inverse container-fluid" id="header" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="header-logo"><img class="header-logo-image" src="images/global/logo.png" /></div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav header-content">
				<li>
					<div id="service" class="headNavigItem" ng-if="serviceBool" ui-sref='dashboard.bots' ui-sref-active='activeSection'>
						<i class="fa fa-delicious white" ng-class="{'header-selected-item':moduleSelection.filterView.bots}"></i> BOTS
					</div>
				</li>
				<li>
					<div id="workzone" class="headNavigItem" ng-if="workZoneBool" ui-sref='dashboard.workzone' ui-sref-active='activeSection'>
						<!--<a href="../../../../#ajax/Dev.html">-->
							<i class="fa fa-credit-card white" ng-class="{'header-selected-item':moduleSelection.filterView.workzone}"></i> WORKZONE
						<!--</a>-->
					</div>
				</li>
				<li>
					<div id="design" class="headNavigItem" ng-if="designBool" ui-sref='dashboard.design' ui-sref-active='activeSection'>
							<i class="fa fa-puzzle-piece white" ng-class="{'header-selected-item':moduleSelection.filterView.design}"></i> DESIGN
						</a>
					</div>
				</li>
				<li>
					<div id="track" class="headNavigItem" ng-if="trackBool" ui-sref-active='activeSection'>
						<a href="/private/index.html#ajax/trackSettings.html">
							<i class="fa fa-anchor white"></i> TRACK
						</a>
					</div>
				</li>
				<li>
					<div id="analytics" class="headNavigItem" ng-if="analyticsBool" ui-sref='dashboard.analytics' ui-sref-active='activeSection'>
						<i class="fa fa-cloud white"></i> CLOUD
					</div>
				</li>

				<li class="header-right">
				   <div id="settings" class="notificationDisplay margintop5Right20 headNavigItem btn-group btn-group-inline" ng-if='settingsBool' ng-click="notificationCheck();">


				        <a class="notificationSetting dropdown-toggle" data-toggle="dropdown">
				      <i class="fa fa-bell white font-size14"></i><span class="label notificationNumber" ng-if="notificationCount > 0">{{notificationCount}}</span>
				      </a>
				      <ul class="list-group notificationCheck dropdown-menu btn-block" style="width: 280px;top: 42px; left: inherit;">
						  <i style="position: absolute;top: -17px;z-index: 99;right: 5px;font-size: 25px;" class="fa fa-caret-up white" aria-hidden="true"></i>
				         <li class="header">You have {{notificationCount}} notification(s)</li>
				         <li>
				            <!-- inner menu: contains the actual data -->
				            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">

				               <ul ng-if="notificationList.length>0" class="menu" style="overflow: auto; width: 100%; height: auto;">
				                  <li class="marginbottom2" ng-repeat="notificationData in notificationList" ng-show="$index<15">
				                     <!-- start message -->
				                     <a ng-class="{'errorStrip': notificationData.severity === 'error', 'successStrip': notificationData.severity === 'success'}">
				                        <h4>
				                           {{notificationData.message.title}}
				                           <small><i class="fa fa-clock-o"></i>&nbsp;{{notificationData.createdOn | timestampToLocaleTime}}</small>
				                        </h4>
				                        <p title="{{notificationData.message.body}}">{{notificationData.message.body}}</p>
				                     </a>
				                  </li>
				                  <!-- end message -->
				               </ul>
				               <ul class="alert alert-info text-center" ng-if="!notificationList.length > 0">
				               		<li>No Data Available</li> 
				               </ul>
				            </div>
				         </li>
				         <li ui-sref="dashboard.bots.audittrail" class="footer">See All Notifications</li>
				      </ul>

				   </div>
				   <div id="header-menu" class="" >
				      <div id="userInfo" class="headNavigItem dropdown-toggle" title="{{appDetails.roleId}}" style="font-size: inherit;"   data-toggle="dropdown">
						  <i class="fa fa-user white" style="font-size: 20px" aria-hidden="true"></i>
				      </div>
				      <div class="list-group dropdown-menu" style="top:47px;width: 214px;left: initial;right: 0;">
						  <i style="position: absolute;top: -17px;z-index: 99;right: 5px;font-size: 25px;" class="fa fa-caret-up white" aria-hidden="true"></i>
						  <a style="margin-bottom: 10px">
							  <span class="badge" style="min-width: 41px;font-size: 13px;border-radius: 21px;height: 37px;"> <i class="fa fa-user white" style="font-size: 25px;"></i></span>
							  {{appDetails.cn | uppercase}}
							  [{{appDetails.roleId}}]
						  </a>
						  <div class="clearfix margin15" style="height: 20px;"></div>
				         <a class="list-group-item" href="/private/index.html#ajax/Settings/Dashboard.html">
				         <i class="fa fa-cog"></i> SETTINGS
				         </a>
				         <a class="list-group-item" href="https://catalyst.readthedocs.org" target="_blank" style="color: #000">
				         <i class="fa fa-question "></i> HELP
				         </a>
				         <a class="list-group-item cursor" ng-click="logoutConfirmation();" ><i class="fa fa-sign-out"></i> Logout</a>
				      </div>
				   </div>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
		<!--Logout wrapper starts here-->
		<div class="divMessageBox animated fadeIn fast" ng-show="showLogoutConfirmationSection">
			<div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
				<div class="MessageBoxMiddle">
					<span class="MsgTitle">
						<i class="fa fa-sign-out"></i> 
						Logout 
						<span class="txt-color-orangeDark"></span> 
						?
					</span>
					<p class="pText"></p>
					<div class="MessageBoxButtonSection">
						<button type="button" class="btn cat-btn-close btn-sm botTempo" ng-click="closeLogoutPanel()"> No</button>
						<button type="button" class="btn cat-btn-close btn-sm botTempo" ng-click="doLogout()"> Yes</button>
					</div>
				</div>
			</div>
		</div>
		<!--Logout wrapper ends-->
	</nav>
</div>
