<div id="analyticsPage" class='fluid-container'>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 panelLeft no-padding'>
		<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/design/design.css"/>
		<link rel="stylesheet" type="text/css" href="catalyst/partials/globals/treeComponent/treeDirective.css"/>

		<div id='analyticsTreeMenuPage'>
			<div id='navigPage' ng-mouseover="showTreeOverlay()" ng-mouseleave="hideTreeOverlay()" ng-class="{'show-left-tree':showTree}">
				<div id='navigPage-inner'>
					<div id="treeParent">
						<ul class="tree-ul">
							<li ng-repeat="provider in desCtrl.providersMenu">
								<div class="liContents">
									<i class="icon fa fa-building label-spacing"></i>
									<span class="cursor" ng-click="isTreeOpen = !isTreeOpen">{{provider.name}}</span>
									<div ng-class="{'show-providers':isTreeOpen === true}" data-ng-hide="node.collapsed" data-tree-id="relevancelab" data-analytics-tree-model="node.nodes" data-node-id="rowid" data-node-label="text" data-node-children="nodes">
										<ul class="tree-ul">
											<li ng-repeat='tempType in desCtrl.templateTypes | inArray:provider.filterArray:"templatetype"' ui-sref="dashboard.design.list({providerName:provider.name,templateObj:tempType,view:'list'})" class="pointer-cursor" >
												<div class="liContents">
													<div class="liContents-wrapper">
														<i class="icon fa fa-money label-spacing"></i>
														<span>{{tempType.templatetypename}}</span>
														<i class="caret-spacing fa fa-caret-left pull-right" ng-show="stateItems.filterView.cost"></i>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
	<div id="sidebar-wrapper" style="top:120px;" ng-class="{'show-wrapper':isOpenSidebar === true}">
		<form name="filterForm" novalidate>
			<div>
				<div class="repo-job-details-wrapper-inner marginbottom10"  >Filter:</div>

				<div class="col-lg-12 col-md-12 form-group">
					<label for="org">Organization<span class="red">&nbsp;*</span>
						<span ng-show="filterForm.org.$touched && filterForm.org.$invalid" class="inputValidationMsg">Required</span>
					</label>
					<select name="org" ng-model="organNewEnt.org" ng-options="org.name group by org.a for org in organObject" class="chooseProjectExisting width-100 form-control"  ng-change="getProviders(organObject[organNewEnt.org].rowid)" required>
						<option value="">Select</option>

					</select>
				</div>
				<div class="col-lg-12 col-md-12 form-group">
                    <label for="buss">Business Group<span class="red">&nbsp;*</span>
                    	<span ng-show="filterForm.buss.$touched && filterForm.buss.$invalid" class="inputValidationMsg">Required</span>
                    </label>
                    <select name="buss" id="bgListInputExisting" class="chooseBGExisting width-100 form-control" ng-options="buss.name group by buss.a for buss in organObject[organObject.indexOf(organNewEnt.org)].businessGroups"  ng-model="organNewEnt.buss" ng-change="defaultValue();" required>
						<option value="">Select</option>
					</select>
                </div>
                <div class="col-lg-12 col-md-12 form-group">
                    <label for="proj">Project<span class="red">&nbsp;*</span>
                    	<span ng-show="filterForm.proj.$touched && filterForm.proj.$invalid" class="inputValidationMsg">Required</span>
                    </label>
                    <select name="proj" class="chooseProjectExisting width-100 form-control" ng-options="buss.name group by buss.a for buss in organObject[organObject.indexOf(organNewEnt.org)].businessGroups[organObject[organObject.indexOf(organNewEnt.org)].businessGroups.indexOf(organNewEnt.buss)].projects" ng-model="organNewEnt.proj" ng-change="defaultValue();" required>
						<option value="">Select</option>
                    </select>
                </div>
				<div class="col-lg-12 col-md-12 marginbottom5">
					<button type="button" class="btn btn-primary" ng-click="applyFilter(state.params.templateObj.templatetype);isOpenSidebar=false;" ng-disabled="filterForm.$invalid"><i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Apply</button>
					<button type="button" class="btn btn-default" ng-click="applyFilter(false,filterNewEnt.period);isOpenSidebar=false;"><i class="fa fa-times fa-2" aria-hidden="true"></i>&nbsp;Clear</button>
				</div>
			</div>
		</form>
		<br/>
	</div>

	<div class="panelRight">
		<div id='rightPanel' class='container-fluid'>
			<ul class="nav nav-tabs" style="height: 43px;">
				<li ng-class="{'active':state.current.name === 'dashboard.design.list'}"  ui-sref="dashboard.design.list({providerName:state.params.providerName,templateObj:state.params.templateObj})"><a style="font-weight:600"><i class="fa fa-list fa-2" aria-hidden="true"></i> List</a></li>
				<li ng-if="state.params.templateObj.templatetypename !== 'Composite'" ng-class="{'active':state.current.name === 'dashboard.design.add'}" ui-sref="dashboard.design.add({providerName:state.params.providerName,templateObj:state.params.templateObj})"><a style="font-weight:600" ><i class="fa fa-file-text fa-2" aria-hidden="true"></i> New</a></li>
				<li ng-if="state.params.templateObj.templatetypename === 'Composite'" ng-class="{'active':state.current.name === 'dashboard.design.compositeNew'}" ui-sref="dashboard.design.compositeNew({providerName:state.params.providerName,templateObj:state.params.templateObj})"><a style="font-weight:600" ><i class="fa fa-file-text fa-2" aria-hidden="true"></i> New</a></li>
				<li class="form-group pull-right filter-btn" style="padding: 8px;" >
					<button ng-hide="filterhide" type="button" title="Filter" class="btn btn-xs cat-btn-update ng-scope pull-right margin-left6" ng-click="isOpenSidebar = !isOpenSidebar">
						<i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Filter
					</button>
				</li>
			</ul>
			<div ui-view></div>
		</div>
	</div>
</div>