<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/design/design.css">
<div id='designHtml' class='fluid-container'>
    <ul class="nav nav-tabs">
        <li ng-class="{'active':stateItems.params.view === 'list'}"><a  ui-sref="dashboard.designSubView({subItem:stateItems.params.subItem,view:'list'})"><i class="fa fa-list fa-2" aria-hidden="true"></i> List</a></li>
        <li ng-show="!stateItems.current.params.blueId" ng-class="{'active':stateItems.params.view === 'new'}"><a  ui-sref="dashboard.designSubView({subItem:stateItems.params.subItem,view:'new'})" ><i class="fa fa-file-text fa-2" aria-hidden="true"></i> New</a></li>
        <li ng-show="stateItems.current.params.blueId" ng-class="{'active':stateItems.params.view === 'edit'}"><a  ui-sref="dashboard.designSubView({subItem:stateItems.params.subItem,view:'edit'})"><i class="fa fa-pencil-square fa-2 " aria-hidden="true"></i> Edit</a></li>
       <li class="form-group pull-right" style="margin-right: 18px;">
            <select id="projectListInputExisting" class="chooseProjectExisting width-100 form-control">
                <option value="">Organization</option>
            </select>
        </li>

    </ul>
        <div id="well" class="well well-sm">
            <div ng-if="stateItems.params.view === 'list'">
                <div class="col-lg-6 col-md-6">
                    Selected Blueprint Name
                </div>
                <div class="col-lg-6 col-md-6 pull-right" >
                    <span class="pull-right"><a ng-click="$parent.isOpenSidebar = !$parent.isOpenSidebar" class=""><i class="fa fa-filter fa-2" aria-hidden="true"></i>&nbsp;Filter</a></span>
                    <span class="pull-right"><a type="button" class=""><i class="fa fa-refresh fa-2" aria-hidden="true"></i>&nbsp;Refresh</a></span>
                    <span class="pull-right"><a  class=""><i class="fa fa-trash-o fa-2" aria-hidden="true"></i>&nbsp;Delete</a></span>
                    <span class="pull-right"><a type="button" class=""><i class="fa fa-pencil fa-2" aria-hidden="true"></i>&nbsp;Edit</a></span>
                    <span class="pull-right"><a  class=""><i class="fa fa-clone fa-2" aria-hidden="true"></i>&nbsp;Copy</a></span>
                </div>
            </div>
            <div ng-if="stateItems.params.view === 'new'">{{stateItems.params.subItem}} > {{stateItems.params.templateName}}</div>
        </div>
    <div class="col-lg-12">
        <br>
        <span ng-if="stateItems.params.view === 'list'"  ng-include="'src/partials/sections/dashboard/design/view/designListView.html'"></span>
        <span ng-if="stateItems.params.view === 'new'" ng-include="'src/partials/sections/dashboard/design/view/blueprintCreate.html'">new</span>
        <span ng-if="stateItems.params.view === 'edit'">edit</span>
    </div>
    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-class="{'show-wrapper':isOpenSidebar === true}">
        <form>
            <fieldset class="repo-job-details-wrapper">
                <legend class="repo-job-details-wrapper-inner">Filter:</legend>
                <div class="col-lg-12 ">
                    <div class="col-lg-12 col-md-12 form-group">
                        <label for="">Business Group</label>
                        <select id="bgListInputExisting" class="chooseBGExisting width-100 form-control">
                            <option value="">Select Business</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 form-group">
                        <label for="category">Project
                        </label>
                        <select id="projectListInputExisting" class="chooseProjectExisting width-100 form-control"><option value="895990bc-2dc8-43bf-ab65-d75d8e5f5f07">Catalyst</option><option value="8a78ef68-0862-4673-87f9-32326b654d5d">RL</option></select>
                    </div>
                    <div class="col-lg-12 col-md-12 form-group">
                        <button type="button" class="btn btn-primary"><i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Apply</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
