#navigPage {
  background: transparent;
  z-index: 1;
  position: fixed;
  width: 254px;
  z-index: 10;
  transition: all .4s ease 0s;
  left: -254px;

  #navigPage-inner {
    background: linear-gradient(to right, #2c3638 99%, #2c3638 100%);
    color: #fff;
    z-index: 1;
    position: fixed;
    width: 254px;
    overflow-y: auto;
  }

  .tree-ul {
    padding-left: 15px;
  }

  .liContents {
    line-height: 2.2;
  }

  i {
    color:#fff;
  }

  span {
    color:#fff;
  }

  .activeSection {
    font-weight: bold;
    background: #3b4142;
  }
}

.tree-toggle {
  position: absolute;
  top: -35px;
  z-index: 100;
  color: #fff;
  font-size: 1.2em;
  padding: 11px;
}

#section-name {
   padding: 6px 10px 6px 35px;
}

.show-left-tree {
  left: 0px !important;
}