<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/analytics/view/analyticsTreeMenu.css"/>
<link rel="stylesheet" type="text/css" href="catalyst/partials/globals/treeComponent/treeDirective.css"/>

<div id='analyticsTreeMenuPage' ng-controller="analyticsCtrl">
	<span ng-show="!isLoading" class="tree-wrapper">
		<span ng-click="showTreeOverlay()" class="minifyme cursor"> <i class="fa fa-arrow-circle-right black hit"></i> </span>
		<span ng-click="hideTreeOverlay()" class="minifyme cursor" title="Hide Tree" ng-show="showTree"> <i class="fa fa-arrow-circle-left black hit"></i> </span>
	</span>
	<div id='navigPage'>
		<div id='navigPage-inner' ng-show="showTree">
			<div id="treeParent">
				<ul class="tree-ul">
				    <li>
				        <div class="liContents">
				        	<i class="icon fa fa-building label-spacing"></i>
				        	<span>Analytics</span>
				            <div data-ng-hide="node.collapsed" data-tree-id="relevancelab" data-analytics-tree-model="node.nodes" data-node-id="rowid" data-node-label="text" data-node-children="nodes">
				                <ul class="tree-ul">
				                    <li>
				                        <div class="liContents">
				                        	<i class="icon fa fa-desktop label-spacing"></i>
					                        <span>Cost</span>
				                        </div>
				                    </li>
				                    <li>
				                        <div class="liContents">
				                        	<i class="icon fa fa-desktop label-spacing"></i>
					                        <span>Capacity</span>
				                        </div>
				                    </li>
				                    <li>
				                        <div class="liContents">
				                        	<i class="icon fa fa-desktop label-spacing"></i>
					                        <span>Usage</span>
				                        </div>
				                    </li>
				                </ul>
				            </div>
				        </div>
				    </li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		function setHeight() {
			var windowHeight = $(window).innerHeight();
			var brdcrmbHeight = $('#breadcrumb-block').outerHeight();
			var headerHeight = $('#header').outerHeight();
			var setTreeContentHeight = windowHeight - (brdcrmbHeight + headerHeight);
			$('#navigPage').css('height', (setTreeContentHeight) + 'px');
			$('#navigPage-inner').css('height', (setTreeContentHeight) + 'px');
		};
		setHeight();
		$(window).resize(function() {
			setHeight();
		});
	});
</script>
Contact GitHub 

<!--<div ng-controller="analyticsLeftMenu as analyLeftMenu">-->
	<!--<ul class="nav nav-pills nav-stacked left-menu"  >-->
		<!--<li ng-repeat="org in analyLeftMenu.leftTree" >-->
			<!--<a ng-class="{'active':stateParams.org.id === org.rowid}" ui-sref="dashboard.analytics({org:{name:org.name,id:org.rowid,env:org.environments},bus:null,proj:null})" >&nbsp;{{org.name}} <span class="caret arrow">&nbsp;</span></a>-->
			<!--<ul class="nav nav-stacked  left-submenu" id="{{org.name}}" >-->
				<!--<li ng-repeat='buss in org.businessGroups' style="border-bottom: 0px !important;">-->
					<!--<a  ng-class="{'active':stateParams.bus.id === buss.rowid}" ui-sref="dashboard.analytics({org:{name:org.name,id:org.rowid,env:org.environments},bus:{name:buss.name,id:buss.rowid},proj:null})" >-->
						<!--&nbsp;{{buss.name}} <span class="caret arrow"></span></a>-->
					<!--<ul class="nav nav-stacked  left-submenu" id="{{buss.name}}" >-->
						<!--<li ng-repeat='proj in buss.projects' >-->
							<!--<a  ng-class="{'active':stateParams.proj.id === proj.rowid}" ui-sref="dashboard.analytics({org:{name:org.name,id:org.rowid,env:org.environments},bus:{name:buss.name,id:buss.rowid},proj:{name:proj.name,id:proj.rowid}})" >-->
								<!--&nbsp;{{proj.name}} </a></li>-->
					<!--</ul>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</li>-->
	<!--</ul>-->
<!--</div>-->
