<div class="leftnavdiv" style="padding-right:7px;">
    <br>
    <!--<div class="col-lg-12 col-md-12 col-sm-12 top-stats">-->
        <!--<div class="col-lg-9 col-md-9 col-sm-12 no-padding" >-->
            <!--<span class="box-title font-size-15" ><span>Total Capacity:</span> <span class="red">{{capRept.serviceCapacity.totalCapacity}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
                             <!--<span class="box-title font-size-15" ><span>Services</span>-->
                         <!--<span class="badge cursor"  ng-repeat="(value , key) in capRept.serviceCapacity.services" ng-click="gototab(value)"> {{value}} : {{key}}</span>-->
                         <!--</span>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-12 text-right no-padding" >-->
            <!--<div ng-show="stateItems.filterView.splitUpType && splitUpCapacities.length > 1">-->
                <!--<span class="box-title font-size-15">Segregated by  </span>-->
                <!--<select class="form-control select2 select2-hidden-accessible" ng-model="analytic.splitUp" ng-options="sp.id as sp.val for sp in splitUpCapacities" >-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="clearfix"></div>
        <div class="row">
            <div class="clearfix"></div>
            <!--ng-repeat="(value , key) in capRept.serviceCapacity"-->
            <div class="col-lg-12 col-md-12 col-sm-12" >
                <div class="box box-infobox box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title font-size-15">

                        </h3>
                        <div class="box-tools" style="left: 10px;">
                            <ul class="nav nav-tabs inst">
                                <li   ng-class="{'active':capRept.serviceType === 'EC2'}"><a ng-click="capRept.serviceType = 'EC2'"  data-toggle="tab"><i class="fa fa-list-ol"></i> EC2 </a></li>
                                <li   ng-class="{'active':capRept.serviceType === 'RDS'}"><a ng-click="capRept.serviceType = 'RDS'"  data-toggle="tab"><i class="fa fa-list-ol"></i> RDS </a></li>
                                <li   ng-class="{'active':capRept.serviceType === 'S3'}"><a ng-click="capRept.serviceType = 'S3'"  data-toggle="tab"><i class="fa fa-list-ol"></i> S3 </a></li>
                            </ul>
                            <!--Service: <select class="form-control select2 select2-hidden-accessible" ng-model="capRept.serviceType"  style=" display: table-cell; width: auto;" >-->
                                <!--<option ng-repeat="(value , key) in capRept.serviceCapacity.services" value="{{value}}"> {{value}} : {{key}}</option>-->
                            <!--</select>-->
                        </div>
                    </div>
                    <div class="box-body" >
                        <input ng-if="!capRept.listGrid[capRept.serviceType].nodataFound"  ng-model='capRept.filterValue' class="form-control with250" ng-change="filterInst()" placeholder="Search" />
                        <div ng-if="!capRept.listGrid[capRept.serviceType].nodataFound" ui-grid="capRept.listGrid[capRept.serviceType]"  ui-grid-exporter ui-grid-auto-resize ui-grid-pagination class="grid margintop15" ></div>
                        <div ng-if="capRept.listGrid[capRept.serviceType].nodataFound">
                            <div class="alert alert-warning">
                                No Data Available.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<style>
    .inst > li > a {
        padding: 7px 7px !important;
    }
    .inst {
        border-bottom: 0px solid #ddd !important;
    }
</style >