<div class="leftnavdiv">
    <br>
     <div ng-if="analytic.tabShowChat">
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-12" >
                 <div class="box box-infobox box-info">
                     <div class="box-header with-border"><h3 class="box-title">Aggregate capacity</h3>
                         <div class="box-tools pull-right">
                             <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">Total Cost - ${{capacity.pieChat.totalCoust}}</span>
                        </div>
                     </div>
                     <div class="box-body" style="overflow-x: auto"><nvd3 options="capacity.pieChat.option" data="capacity.pieChat.data"></nvd3></div>
                 </div>
             </div>
             <div class="col-lg-8 col-md-8 col-sm-12" >
                 <div class="box box-infobox box-info">
                     <div class="box-header with-border"><h3 class="box-title">Distribution of all services across BU's</h3>
                         <div class="box-tools pull-right">
                             <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">Total Cost - ${{capacity.pieChat.totalCoust}}</span>
                         </div>
                     </div>
                     <div class="box-body" style="overflow-x: auto"><nvd3 options="capacity.barChat.option" data="capacity.barChat.data"></nvd3></div>
                 </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12" >
                 <div class="box box-infobox box-info">
                     <div class="box-header with-border"><h3 class="box-title">Daily trends of usage across BU's</h3>
                         <!--<div class="box-tools pull-right"> Total Cost-->
                             <!--<span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">{{cost.pieChat.totalCoust}}</span>-->
                         <!--</div>-->
                     </div>
                     <div class="box-body" style="overflow-x: auto"><nvd3 options="optionsLine" data="dataLine" class="with-3d-shadow with-transitions"></nvd3></div>
                 </div>
             </div>
         </div>
     </div>
    <div ng-if="analytic.tabShowReport">
        <div ui-grid="capacity.capacityGridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
    </div>
</div>