<form name="mapTag" ><div id="tagMappting">
    <accordion>
        <accordion-group ng-init="accGroupStatus = {opened: true}" is-open="accGroupStatus.opened">
            <accordion-heading>
                <i class="fa fa-fw" ng-class="{'fa-minus-circle red':accGroupStatus.opened,'fa-plus-circle':!accGroupStatus.opened }"></i>
                Instances
            </accordion-heading>
            <div ng-if="disResrc.gridOptionInstances.data.length === 0" class="alert alert-info text-center"> No Data Found!</div>
            <div ng-if="disResrc.gridOptionInstances.data.length > 0" ui-grid="disResrc.gridOptionInstances" ui-grid-edit class="grid"></div>
        </accordion-group>



        <accordion-group ng-init="accGroupStatus1 = {opened: false}" is-open="accGroupStatus1.opened">
            <accordion-heading>
                <i class="fa fa-fw" ng-class="{'fa-minus-circle red':accGroupStatus1.opened,'fa-plus-circle':!accGroupStatus1.opened }"></i>
                RSD
            </accordion-heading>
sss
        </accordion-group>

        <accordion-group ng-init="accGroupStatus2 = {opened: false}" is-open="accGroupStatus2.opened">
            <accordion-heading>
                <i class="fa fa-fw" ng-class="{'fa-minus-circle red':accGroupStatus2.opened,'fa-plus-circle':!accGroupStatus2.opened }"></i>
                S3
            </accordion-heading>
ss
        </accordion-group>
    </accordion>



    <div class="clearfix"></div>

</div></form>
