<form name="mapTag"><div id="tagMappting">
<div class="col-lg-4 col-md-4 col-sm-12 margintop15">
<fieldset class="repo-job-details-wrapper">
    <legend class="repo-job-details-wrapper-inner"> <i class="fa fa-users" ></i> Business Group : </legend>
    <div class="col-lg-12 col-md-12 margintop15">
        <label for="">Tag Name:<span class="red">*</span>
        </label>
        <div class="input-groups">
            <loading size="small" name="isLoadingTag" type="inline"></loading>
            <input list="tagBuList" type=""  class="form-control" ng-model="newEnt.bus.tagName" required />
            <datalist id="tagBuList" >
                <<option ng-repeat="opti in disTgMap.tagOption" value="{{opti.name}}">{{opti.name}}</option>
            </datalist>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 margintop15">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="tbName">Business Group</th>
                <th class="tbValue">Tag Value</th>
            </tr>
            </thead>
            <tbody >
            <tr  ng-repeat="buss in organObject[organNewEnt.org].businessGroups">
                <td class="tbName">{{buss.name}}</td>
                <td class="tbValue">
                    <input list="tagBu-{{buss.name}}" type=""  class="form-control" required ng-model="newEnt.bus.tagvalue[buss.rowid]" />
                    <datalist id="tagBu-{{buss.name}}" >
                        <option ng-repeat="opti in disTgMap.tagOption" value="{{opti.name}}">{{opti.name}}</option>
                    </datalist>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    </fieldset></div>


<div class="col-lg-4 col-md-4 col-sm-12 margintop15">
    <fieldset class="repo-job-details-wrapper">
        <legend class="repo-job-details-wrapper-inner"> <i class="fa fa-list-alt" ></i> Project : </legend>
        <div class="col-lg-12 col-md-12 margintop15">
            <label for="">Tag Name:<span class="red">*</span>
            </label>
            <div class="input-groups">
                <loading size="small" name="isLoadingTag" type="inline"></loading>
                <input list="tagProjList" type="" ng-model="newEnt.proj.tagName"  class="form-control" required />
                <datalist id="tagProjList" >
                    <option ng-repeat="opti in disTgMap.tagOption" value="{{opti.name}}">{{opti.name}}</option>
                </datalist>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 margintop15">

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="tbName">Business Group</th>
                    <th class="tbValue">Tag Value</th>
                </tr>
                </thead>
                <tbody ng-repeat="buss in organObject[organNewEnt.org].businessGroups">
                <tr ng-repeat="project in buss.projects" >
                    <td class="tbName">{{project.name}}</td>
                    <td class="tbValue">
                        <input list="tagBu-{{project.name}}" type=""  class="form-control" ng-model="newEnt.proj.tagValue[project.rowId]" required />
                        <datalist id="tagBu-{{project.name}}" >
                            <option ng-repeat="opti in disTgMap.tagOption" value="{{opti.name}}">{{opti.name}}</option>
                        </datalist>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </fieldset></div>

<div class="col-lg-4 col-md-4 col-sm-12 margintop15">
    <fieldset class="repo-job-details-wrapper">
        <legend class="repo-job-details-wrapper-inner"> <i class="fa fa-leaf" ></i> Environment :</legend>
        <div class="col-lg-12 col-md-12 margintop15">
            <label for="">Tag Name:<span class="red">*</span>
            </label>
            <div class="input-groups">
                <loading size="small" name="isLoadingTag" type="inline"></loading>
                <input list="tagEnvist" type="" ng-model="newEnt.Env.tagName"   class="form-control" required />
                <datalist id="tagEnvist" >
                    <<option ng-repeat="opti in disTgMap.tagOption" value="{{opti.name}}">{{opti.name}}</option>
                </datalist>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 margintop15">

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="tbName">Business Group</th>
                    <th class="tbValue">Tag Value</th>
                </tr>
                </thead>
                <tbody >
                <tr  ng-repeat="envr in organObject[organNewEnt.org].environments">
                    <td class="tbName">{{envr.name}}</td>
                    <td class="tbValue">
                        <input list="tagBu-{{envr.name}}" type="" ng-model="newEnt.Env.tagValue[envr.rowid]"  class="form-control" required />
                        <datalist id="tagBu-{{envr.name}}" >
                            <option ng-repeat="opti in disTgMap.tagOption" value="{{opti.name}}">{{opti.name}}</option>
                        </datalist>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </fieldset></div>
<div class="col-lg-12 col-md-12 margintop15" style="background: rgba(0, 0, 0, 0.02)">
    <div class="saveBtn">
        <button type="button" class="btn cat-btn-update" ng-disabled="mapTag.$invalid" ng-click="disTgMap.save()"  >
            <i class="fa fa-check white"></i> Save
        </button>
    </div>
</div>
</div></form>
