<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/analytics/analyticsTreeMenu/analyticsTreeMenu.css"/>
<link rel="stylesheet" type="text/css" href="catalyst/partials/globals/treeComponent/treeDirective.css"/>

<div id='analyticsTreeMenuPage' ng-controller="analyticsTreeCtrl">
	<span ng-show="!isLoading" class="tree-wrapper">
		<span ng-click="showTreeOverlay()" class="minifyme cursor"> <i class="fa fa-arrow-circle-right black hit"></i> </span>
		<span ng-click="hideTreeOverlay()" class="minifyme cursor" title="Hide Tree" ng-show="showTree"> <i class="fa fa-arrow-circle-left black hit"></i> </span>
	</span>
	<div id='navigPage'>
		<div id='navigPage-inner' ng-show="showTree">
			<div id="treeParent"
				data-analytics-tree-view="true"
				data-analytics-tree-model="roleList"
				data-node-id="rowid"
				data-node-label="text"
				data-node-children="nodes">
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		function setHeight() {
			var windowHeight = $(window).innerHeight();
			var brdcrmbHeight = $('#breadcrumb-block').outerHeight();
			var headerHeight = $('#header').outerHeight();
			var setTreeContentHeight = windowHeight - (brdcrmbHeight + headerHeight);
			$('#navigPage').css('height', (setTreeContentHeight) + 'px');
			$('#navigPage-inner').css('height', (setTreeContentHeight) + 'px');
		};
		setHeight();

		$(window).resize(function() {
			setHeight();
		});
	});
</script>