<div id='newTaskPage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title">
			<i class="fa fa-plus"></i>&nbsp;
			Launch Parameters-Docker Blueprints
		</h4>
	</div>

	<div class="modal-body">
		<div class="row">
			<fieldset>
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<label for="subpram">Container Name
					<span class="control-label red">&nbsp;*</span>
				</label>
				<input type="text" ng-model="subparam" class="form-control" />
			</span>
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<label for="startupCommand">Startup Command
					<span class="control-label red">&nbsp;*</span>
				</label>
				<input type="text" ng-model="startupCommand" class="form-control"/>
			</span>
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<label for="additionalStartup">Additional Startup
					<span class="control-label red">&nbsp;*</span>
				</label>
				<input type="text" ng-model="addStartup" class="form-control"/>
			</span>
		</fieldset>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-update" ng-click="ok()">
			<i class="fa fa-check white"></i> Save
		</button>
	</div>
</div>
