@media (min-width : 0px) and (max-width: 480px) {
	
}

#navigPage {
	background: linear-gradient(to right, #2c3638 99%, #2c3638 100%);
	z-index: 1;
	position: fixed;
	width: 260px;
	z-index: 3;

	#navigPage-inner {
		background: linear-gradient(to right, #2c3638 99%, #2c3638 100%);
		color: #fff;
		z-index: 1;
		width: 100%;
		/*box-shadow: 2px 2px 14px #655D5D;*/
		overflow-y: auto;
	}

	div[data-angular-treeview] {
		color: #fff;
		font-size: 12px;
		font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
	}

	div[data-tree-model] li .selected {
		padding: 0px;
	}

	div[data-tree-model] li span:hover {
		text-decoration: underline;
	}

	div[data-tree-model] li {
		line-height: 2.2;
		padding: 0;
	}
		
	
	div[data-tree-model] ul {
		margin-left:-10px;
		ul {
			margin-left:-20px;
			ul {
				margin-left:-30px;
				ul {
					margin-left:-40px;
				}
			}
		}
	}
	div[data-tree-model] .liContents {
		margin-left: 20px;
		.liContents  {
			margin-left: 30px;
			.liContents {
				margin-left: 40px;
				.liContents {
					margin-left: 50px;
				}
			}
		}
	}
	div[data-tree-model] li.selected{
		background:#3b4142;
	}

	.collapse-spacing {
		padding-right: 10px;
	}

	.label-spacing {
		padding-right: 5px;
	}
	.caret-spacing {
		margin-top: 8px;
	}
	i {
		color:#fff;
	}
}

.tree-close {
	width: 35px !important;
}

.minifyme {
	background: #D7DAE2;
    border-bottom: 1px solid #818181;
    color: #7E7E7E;
    z-index: 100;
    text-align: center;
    padding: 0;
    width: 38px;
    height: 28px;
    display: block;
    position: absolute;
    right: 0px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 19px;
    -webkit-transition: all .1s linear 0s;
    transition: all .1s linear 0s;
    left: 222px;
}

