<div id="resourcesPage">
	<button type="button" title="Refresh" class="marginTopRightForHistory btn btn-xs cat-btn-update pull-right" ng-click="refreshResources();">
	   <i class="fa fa-refresh white"></i>
	</button>
	<div class="container summary-container marginleft35 margintop90">
      <section>
         <!--This table will get use when bot job type will be chef -->
         <loading size="large" name="isResourceListLoading" type="block" align="center"></loading>
            <div id="grid1" ng-if="serviceResourceData.totalItems > 0" ui-grid="serviceResourceData" ui-grid-pagination ui-grid-auto-resize class="grid gridResourceHeight"></div>
         <!--This table will get use when bot job type will be jenkins -->
         <div class="alert alert-info text-center" ng-if="serviceResourceData.totalItems <= 0" align="center">No Resources Found</div>
      </section>
   </div>
</div>