<div id='deployNewAppPage'>
	<form name="DeploymentForm" novalidate>
		<div class="modal-header">
			<span class="close" ng-click="cancel()">×</span>
			<h4 class="modal-title">
				<i class="fa fa-plus"></i></i>&nbsp;
				New App Deployment
			</h4>
		</div>

		<div class="modal-body">
			<div>
				<fieldset class="repo-job-details-wrapper">
					<legend class="repo-job-details-wrapper-inner">Repository Details:</legend>
					<div class="col-lg-6 col-md-6">
						<label for="">Repository Server:<span class="red">*</span>
						</label>
						<div class="input-groups">
							<loading size="small" name="isLoadingServer" type="inline"></loading>
							<select ng-model="depNewApp.newEnt.serverTypeInd" class="form-control" ng-change="depNewApp.getRepository();" required>
								<option value="">Choose Server</option>
								<option ng-repeat="serverOption in depNewApp.serverOptions" value="{{depNewApp.serverOptions.indexOf(serverOption)}}">{{(serverOption.nexusservername) ? serverOption.nexusservername : serverOption.dockerreponame}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<label >Repository:<span class="red">*</span>
						<loading size="small" name="isLoadingNexus" type="inline"></loading>
						</label>
						<div class="input-groups">
							<select name="" class="form-control" ng-model="depNewApp.newEnt.repositoryInd" ng-change="depNewApp.changeRepository();" required>
								<option value="">Choose Repositories</option>
								<option ng-repeat="repository in depNewApp.repositoryOptions" value="{{depNewApp.repositoryOptions.indexOf(repository)}}">{{repository.name}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 margintop15" ng-if="depNewApp.newEnt.serverType==='docker'">
						<label ng-click="showHideLoader()">Container Name/ID:</label>
						<!--<loading size="small" name="isLoadingContainer" type="inline"></loading>-->
						<input type="text" class="form-control">
					</div>
					<div class="col-lg-12 col-md-12" ng-if="depNewApp.newEnt.serverType==='docker'">
						<label>Container Port:<span class="red">*</span>
							<!--<loading size="small" name="isLoadingNexus" type="inline"></loading>-->
						</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-lg-6 col-md-6" ng-if="depNewApp.newEnt.serverType==='nexus'">
						<label>Group ID:<span class="red">*</span>
							<loading size="small" name="isLoadingNexus" type="inline"></loading>
						</label>
						<div class="input-groups">
							<select class="form-control" ng-model="depNewApp.newEnt.groupId"  ng-change="depNewApp.getArtifacts()" required>
								<option value="">Choose Group ID</option>
								<option ng-repeat="(key , val) in depNewApp.groupOptions" value="{{val}}">{{val}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6" ng-if="depNewApp.newEnt.serverType==='nexus'">
						<label>Artifacts:<span class="red">*</span>
							<loading size="small" name="isLoadingArtifacts" type="inline"></loading>
						</label>
						<div class="input-groups">
							<select class="form-control" ng-model="depNewApp.newEnt.artifactInd" ng-change="depNewApp.getVersions();" required>
								<option value="">Choose Artifacts</option>
								<option ng-repeat="artifactsOption in depNewApp.artifactsOptions" value="{{depNewApp.artifactsOptions.indexOf(artifactsOption)}}">{{artifactsOption.artifactId}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6" ng-if="depNewApp.newEnt.serverType==='nexus'">
						<label for="">Versions:<span class="red">*</span>
						<loading size="small" name="isLoadingNexusVersion" type="inline"></loading>
						</label>
						<div class="input-groups">
							<select class="form-control" ng-model="depNewApp.newEnt.version" required>
								<option value="">Choose Versions</option>
								<option ng-repeat="(key , values) in depNewApp.versionsOptions" value="{{values}}">{{values}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-12 col-md-12" ng-if="depNewApp.newEnt.serverType==='nexus'">
						<label>Repository URL:<span class="red">*</span>
						<!--<loading size="small" name="isLoadingNexus" type="inline"></loading>-->
						</label>
						<input type="text" class="form-control" disabled="" ng-model="depNewApp.newEnt.repositoryURL">
					</div>
				</fieldset>
				<fieldset class="repo-job-details-wrapper margintop20">
					<legend class="repo-job-details-wrapper-inner">Job Details:</legend>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<label>Jobs:<span class="red">*</span>
						<!--<loading size="small" name="isLoadingNexus" type="inline"></loading>-->
						</label>
						<div class="input-groups">
							<loading size="small" name="isLoadingJob" type="inline"></loading>
							<select id="chooseJobType" ng-model="depNewApp.newEnt.job"  ng-options="jobOption._id as jobOption.name for jobOption in depNewApp.jobOptions" class="form-control" required>
								<option value="">Choose Job</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<label>
						<span></span>
						</label>
						<div class="input-groups">
							<button type="button" class="btn cat-btn-update"  ng-click="createNewJob('new')">
							<i class="fa fa-plus"></i> Create New Job {{}}
							</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn cat-btn-close" ng-click="cancel()">
				<i class="fa fa-times"></i> Cancel
			</button>
				<button type="button" class="btn cat-btn-update" ng-disabled="DeploymentForm.$invalid"  ng-if="appDepOrUpgrade == 1" ng-click="depNewApp.submitDemoDeploy();">
				<i class="fa fa-location-arrow"></i> Deploy
			</button>
				<button type="button" class="btn cat-btn-update" ng-disabled="DeploymentForm.$invalid" ng-if="appDepOrUpgrade == 2" ng-click="ok()">
				<i class="fa fa-save"></i> Upgrade
			</button>
		</div>
	</form>
</div>