.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.tooltip-down .tooltip-arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #222;
}

.tooltip-up .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  	border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #222;
}

.tooltip-right .tooltip-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid #222;
}

.tooltip-left .tooltip-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #222;
}