<link rel="stylesheet" type="text/css" href="catalyst/partials/sections/dashboard/workzone/instance/instance.css">

<div id='cpLogsPage' ng-controller="cpLogsCtrl">
	<loading size="large" name="isCpLogsLoading" align="center" type="block"></loading>
	<div class="logsArea" ng-show="!isCpLogsLoading">
	   	<div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logListInitial">
		    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
		    <span class="logInfo"> {{log.log}} </span>
	   	</div>
	   	<div class="rowSpacing col-lg-12 col-sm-12 {{log.err ? 'logErrorMsg':'logMsg'}}" ng-repeat="log in logListDelta">
		    <span class="timeStamp"> {{log.timestamp | timestampToLocaleTime}} </span>
		    <span class="logInfo"> {{log.log}} </span>
	   	</div>
	</div>
</div>
