<div id='cpServicesPage' ng-controller="cpServicesCtrl">
    <loading size="large" name="isServicePageLoading" type="block"></loading>
    <button type="button" class="btn cat-btn-update add-new-service-btn pull-left" ng-click="addService()">
        <i class="fa fa-plus white"></i> Add New Service
    </button>
    <div class="inactive-grid" ng-show="inactiveGrid"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="!isServicePageLoading">
        <div class="alert alert-info text-center" ng-if="tabData.length == 0">
			No Services Available
		</div>
        <div id="grid4" ng-if="tabData.length >0"  ui-grid="cpServicesGridOptions" ui-grid-pagination ui-grid-auto-resize class="grid"></div>
    </div>
</div>