<style type="text/css">
    .inactive-grid{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 99999;
        opacity: 0.6;
    }
    #cpServicesPage{
        position: relative;
    }
</style>
<div id="cpServicesPage" ng-controller="cpServicesCtrl">
    <loading size="large" name="isServicePageLoading" type="block"></loading>
    <div class="inactive-grid" ng-show="inactiveGrid"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!isServicePageLoading">
        <!-- <table datatable="" class="table-bordered text-center">
            <thead>
                <tr class="rowCustomStyle" role="row">
                    <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Name">
                        <i class="fa fa-fw fa-archive"></i>
                        Service Name
                    </td>
                    <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Job Description">
                        <i class="fa fa-fw fa-sort-amount-asc white"></i>
                        Actions
                    </td>
                    <td class="sorting_disabled" rowspan="1" colspan="1" aria-label="Job Links">
                        <i class="fa fa-fw fa-flash white"></i>
                        Options
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in serviceInfo">
                    <td>{{service.servicename}}</td>
                    <td class="sorting_1">
                        <span ng-repeat="actionItem in service.actionData" class="cp-service-icon cursor {{actionItem.bg}}" ng-click="serviceAction(service, actionItem.actionType);">
                            <i class="fa {{actionItem.icon}} white"></i>
                        </span>
                    </td>
                    <td>
                        <span title="Delete" class="cp-service-icon btn-danger cursor" ng-click="deleteService(service, $index);">
                            <i class="fa fa-trash-o white"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table> -->
        <div ng-if="tabData.length == 0" align="center">No Data Found !!!</div>
        <div id="grid4" ng-if="tabData.length >0"  ui-grid="cpServicesGridOptions" ui-grid-pagination class="grid"></div>
    </div>
    <button type="button" class="btn cat-btn-update add-new-service-btn" ng-click="addNewService()">
        Add New Service
    </button>
</div>