<div id='dockercAdvisorPage'>
	<div class="modal-header">	
		<span class="close" ng-click="cancel()">×</span>
		<h4 class="modal-title">
			<i class="fa fa-line-chart fa-5"></i> Monitoring Container
		</h4>
	</div>

	<div class="modal-body no-padding">
		isntanceip: {{items}}
		<iframe id="cAdvisorPageFrame" ng-src="getcAdvisorUrl(items)">
		</iframe>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
			<i class="fa fa-times black"></i> Close
		</button>
	</div>
</div>