<div id='dockerterminatePage'>
	<div class="modal-header">
		<span class="close" ng-click="cancel()">×</span>
	    <h4 class="modal-title">Confirmation</h4>
	</div>

	<div class="modal-body">
		Are you sure you would like to terminate container : <span ng-bind-html="itemsNameList"></span> <br />
		This action could have an impact on other containers.
	</div>

	<div class="modal-footer">
		<button type="button" class="btn cat-btn-cancel"  ng-click="cancel()">
			<i class="fa fa-times black"></i> Cancel
		</button>
		<button type="button" class="btn cat-btn-delete" ng-click="ok()">
			<i class="fa fa-trash-o white"></i> Delete
		</button>
	</div>
</div>