<div ng-controller="blueprintListCtrl as bpList" >
<div id="well" class="well well-sm">
    <div class="col-lg-8 col-md-8">
        <b><i>{{stateItems.params.templateObj.templatetypename}} blueprints</i></b> <!--<span ng-if="bpList.selectedCards.length > 0"> : - <span class="badge">{{bpList.selectedCards.length}}</span> Selected Blueprints </span>-->
    </div>
    <div class="col-lg-4 col-md-4 pull-right" >
            <button type="button" class="btn btn-xs cat-btn-update ng-scope pull-right margin-left6" ng-click="isOpenSidebar = !isOpenSidebar">
                <i class="fa fa-filter fa-2 white" aria-hidden="true"></i>&nbsp;Filter
            </button>
            <button type="button" class="btn btn-xs cat-btn-update ng-scope pull-right margin-left6" >&nbsp;<i class="fa fa-refresh fa-2 white" aria-hidden="true"></i>&nbsp;</button>
            <button type="button" class="btn btn-xs cat-btn-update ng-scope pull-right margin-left6" ng-if="bpList.selectedCards.length > 0" ng-click="bpList.deleteBp(bpList.selectedCards)" ><i class="fa fa-trash-o fa-2 white" aria-hidden="true"></i>&nbsp;Delete</button>
            <button type="button" class="btn btn-xs cat-btn-update ng-scope pull-right margin-left6" ng-if="bpList.selectedCards.length > 0" ng-click="bpList.copyBp(bpList.selectedCards)" ><i class="fa fa-clone fa-2 white" aria-hidden="true"></i>&nbsp;Copy</button>
    </div>
</div>
<div class="col-lg-12">
    <br>
    <div ng-show="bpList.blueprintList.length <= 0" class="alert alert-info text-center"> No Data Found!</div>
    <div ng-show="stateItems.params.templateObj.templatetypename === 'Composite'">
        <div ng-repeat="blueprint in bpList.blueprintList" ng-init="bpList[blueprint._id]= false " style="width: 160px; margin: auto; padding: 0px;position: relative; float: left;">
            <div class="anm" style="background: #FFF; position: absolute; z-index: 1;width: 100%; bottom: 0px;margin: 0 8px;"></div>
            <div class="productdiv4" id="{{blueprint._id}}" >
            <div class="productdiv1 cardimage" ng-class="{'selected' :bpList[blueprint._id] === true }" >
                <ul class="list-unstyled system-prop" style="text-align: center;" ng-click="bpList.selectCard(blueprint);">
                    <li>
                        <img src="./images/composite.png" alt="Zabix and Logstash" class="cardLogo">
                    </li>
                    <li title="Zabix and Logstash" class="Cardtextoverflow"><u><h5>{{blueprint.name}}</h5></u>
                    </li>
                    <hr class="blue-hr"/>
                    <button class="btn btn-xs cat-btn-update bpvicon " title="Edit" ng-click="desSubItm.editBlueprint($event,blueprint.id);"><i class="fa fa-pencil fa-2 white"></i></button>
                    <button class="btn btn-xs cat-btn-update bpvicon pull-right" title="Launch" ng-click="bpList.launchInstance($event,blueprint.id);"><i class="fa fa-location-arrow fa-2 white"></i></button>
                    <button class="btn btn-xs cat-btn-update bpvicon pull-left" title="Info" ng-click="bpList.blueprintInfo($event,blueprint,'compBlueInfo')"><i class="fa fa-info fa-2 white"></i></button>
                </ul>

            </div>
        </div>
            </div>
    </div>

    <div ng-show="stateItems.params.templateObj.templatetypename !== 'Composite'">
        <div ng-repeat="blueprint in bpList.blueprintList" ng-init="bpList[blueprint._id]= false " style="width: 160px; margin: auto; padding: 0px;position: relative; float: left;">
        <div class="anm" style="background: #FFF; position: absolute; z-index: 1;width: 100%; bottom: 0px;margin: 0 8px;"></div>
        <div class="productdiv4" id="{{blueprint._id}}" >
            <div class="productdiv1 cardimage" ng-class="{'selected' :bpList[blueprint._id] === true }" >
                <ul class="list-unstyled system-prop" style="text-align: center;" ng-click="bpList.selectCard(blueprint);">
                    <li>
                        <img src="./images/templateicons/appFact4.png" alt="Zabix and Logstash" >
                    </li>
                    <li title="Zabix and Logstash" class="Cardtextoverflow"><u><h5>{{blueprint.name}}</h5></u>
                    </li>
                    <li class="margin-top5">Version:&nbsp;
                        <select class="blueprintVer">
                            <option value="566135e9bfc2bf511faaaf79">1</option>
                        </select>
                    </li>
                    <hr class="blue-hr"/>
                    <button class="btn btn-xs cat-btn-update bpvicon " title="Edit" ng-click="bpList.editBlueprint($event,blueprint._id);"><i class="fa fa-pencil fa-2 white"></i></button>
                    <button class="btn btn-xs cat-btn-update bpvicon pull-right" title="Launch" ng-click="bpList.launchInstance($event,blueprint._id);"><i class="fa fa-location-arrow fa-2 white"></i></button>
                    <button class="btn btn-xs cat-btn-update bpvicon pull-left" title="Info" ng-click="bpList.blueprintInfo($event,blueprint,null)"><i class="fa fa-info fa-2 white"></i></button>
                </ul>

            </div>
        </div>
        </div>
    </div>
    <style>
        @keyframes example {
            from {height: 100%;}
            to {height: 0%;}
        }
        .anm {
            height:0%;
            animation-name: example;
            animation-duration: 3s;
        }

    </style>


<!--<div class="row" ng-repeat="blueprint in bpList.blueprintList" >-->
    <!--<div class="col-lg-3 col-xs-6" >-->
        <!--&lt;!&ndash; small box &ndash;&gt;-->
        <!--<div class="small-box bg-aqua">-->
            <!--<div class="inner">-->
                <!--<h4>Server Load</h4>-->
                <!--<p>Version:&nbsp;-->
                    <!--<select class="blueprintVer">-->
                    <!--<option value="566135e9bfc2bf511faaaf79">1</option>-->
                    <!--</select>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="icon">-->
                <!--<img src="./images/composite.png" alt="Zabix and Logstash" class="cardLogo">-->
            <!--</div>-->
            <!--<div class="small-box-footer">-->
                <!--<a class=" white " style="margin: 0 5px;" title="Edit" ng-click="desSubItm.editBlueprint($event,blueprint.id);"><i class="fa fa-pencil fa-2 white"></i> Edit</a>-->
                <!--<a class=" white pull-right" style="margin: 0 5px;" title="Launch" ng-click="bpList.launchInstance($event,blueprint.id);"><i class="fa fa-location-arrow fa-2 white"></i> Launch</a>-->
                <!--<a class=" white pull-left" style="margin: 0 5px;" title="Info" ng-click="bpList.blueprintInfo($event,blueprint)"><i class="fa fa-info fa-2 white"></i> Info</a>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--<div class="col-lg-3 col-xs-6">-->
        <!--&lt;!&ndash; small box &ndash;&gt;-->
        <!--<div class="small-box bg-green">-->
            <!--<div class="inner">-->
                <!--<h4>Server Load</h4>-->
                <!--<p>Version:&nbsp;-->
                    <!--<select class="blueprintVer">-->
                        <!--<option value="566135e9bfc2bf511faaaf79">1</option>-->
                    <!--</select>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="icon">-->
                <!--<img src="./images/composite.png" alt="Zabix and Logstash" class="cardLogo">-->
            <!--</div>-->
            <!--<div class="small-box-footer">-->
                <!--<a class=" white " style="margin: 0 5px;" title="Edit" ng-click="desSubItm.editBlueprint($event,blueprint.id);"><i class="fa fa-pencil fa-2 white"></i> Edit</a>-->
                <!--<a class=" white pull-right" style="margin: 0 5px;" title="Launch" ng-click="bpList.launchInstance($event,blueprint.id);"><i class="fa fa-location-arrow fa-2 white"></i> Launch</a>-->
                <!--<a class=" white pull-left" style="margin: 0 5px;" title="Info" ng-click="bpList.blueprintInfo($event,blueprint)"><i class="fa fa-info fa-2 white"></i> Info</a>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--<div class="col-lg-3 col-xs-6">-->
        <!--&lt;!&ndash; small box &ndash;&gt;-->
        <!--<div class="small-box bg-yellow">-->
            <!--<div class="inner">-->
                <!--<h4>Server Load</h4>-->
                <!--<p>Version:&nbsp;-->
                    <!--<select class="blueprintVer">-->
                        <!--<option value="566135e9bfc2bf511faaaf79">1</option>-->
                    <!--</select>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="icon">-->
                <!--<img src="./images/composite.png" alt="Zabix and Logstash" class="cardLogo">-->
            <!--</div>-->
            <!--<div class="small-box-footer">-->
                <!--<a class=" white " style="margin: 0 5px;" title="Edit" ng-click="desSubItm.editBlueprint($event,blueprint.id);"><i class="fa fa-pencil fa-2 white"></i> Edit</a>-->
                <!--<a class=" white pull-right" style="margin: 0 5px;" title="Launch" ng-click="bpList.launchInstance($event,blueprint.id);"><i class="fa fa-location-arrow fa-2 white"></i> Launch</a>-->
                <!--<a class=" white pull-left" style="margin: 0 5px;" title="Info" ng-click="bpList.blueprintInfo($event,blueprint)"><i class="fa fa-info fa-2 white"></i> Info</a>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
    <!--<div class="col-lg-3 col-xs-6">-->
        <!--&lt;!&ndash; small box &ndash;&gt;-->
        <!--<div class="small-box bg-red">-->
            <!--<div class="inner">-->
                <!--<h4>Server Load</h4>-->
                <!--<p>Version:&nbsp;-->
                    <!--<select class="blueprintVer">-->
                        <!--<option value="566135e9bfc2bf511faaaf79">1</option>-->
                    <!--</select>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="icon">-->
                <!--<img src="./images/composite.png" alt="Zabix and Logstash" class="cardLogo">-->
            <!--</div>-->
            <!--<div class="small-box-footer">-->
                <!--<a class=" white " style="margin: 0 5px;" title="Edit" ng-click="desSubItm.editBlueprint($event,blueprint.id);"><i class="fa fa-pencil fa-2 white"></i> Edit</a>-->
                <!--<a class=" white pull-right" style="margin: 0 5px;" title="Launch" ng-click="bpList.launchInstance($event,blueprint.id);"><i class="fa fa-location-arrow fa-2 white"></i> Launch</a>-->
                <!--<a class=" white pull-left" style="margin: 0 5px;" title="Info" ng-click="bpList.blueprintInfo($event,blueprint)"><i class="fa fa-info fa-2 white"></i> Info</a>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ./col &ndash;&gt;-->
<!--</div>-->
    </div>
    <span ng-if="stateItems.params.view === 'list'"  ng-include="'src/partials/sections/dashboard/design/view/filterSidebar.html'"></span>
    </div>