<link rel='stylesheet' href='src/partials/sections/dashboard/analytics/organization/organization.css'>
<div class="container">
    <div class="col-xs-12 headingDashboard">
        <div class="pull-left">
            <span class="analytic-title bottom">Organization Dashboard</span>
        </div>
        <div class="pull-right">
            <span class="analytic-title">ENVIRONMENT 1</span>
            <p class="analytic-sub-title">Cost center:   Cost Center Relevance Lab (15008)</p>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="col-xs-6 pull-left padding20px">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-sm btn-info active">DAY</button>
      <button type="button" class="btn btn-sm btn-info">WEEK</button>
      <button type="button" class="btn btn-sm btn-info">MONTH</button>
      <button type="button" class="btn btn-sm btn-info">YEAR</button>
    </div>
</div>
<div class="col-xs-6 pull-right padding20px-textright">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-sm btn-info active">COST</button>
      <button type="button" class="btn btn-sm btn-info">USAGE</button>
    </div> 
</div>
<section>
    <div  class="row col-lg-12 margin-bottom20px">
        <section ng-init="custom = false" class="col-lg-12">
            <div  class="box-header">
                <h3 >Graphs 
                    <span ng-click="custom=!custom" class="fa fa-angle-down pull-right white-arrow"></span>
                </h3>
            </div>
            <div ng-hide="custom" class="box-body">
                <div class="row col-lg-12 table-width">
                    <div class="col-lg-6 x1">
                        <h2> Aug 2</h2>
                        <div class="table-text-margin">
                            <span class="x-form-item-label-default">Spent</span>
                            <span class="title1 pull-right">
                                <span class="scalr-currency">$0.00</span>
                            </span>
                        </div>
                        <hr class="hr-style" />
                        <div class="table-text-margin">
                            <span class="x-form-item-label-default">24-hour rolling average</span>
                            <span class="title1 pull-right">
                                <span class="scalr-currency">$0.00/hour</span>
                            </span>
                        </div>
                        <hr class="hr-style" />
                        <div class="table-text-margin">
                            <span class="x-form-item-label-default">Day Estimate</span>
                            <span class="title1 pull-right">
                                <span class="scalr-currency">~ $0.00</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-5 x1 col-lg-offset-1">
                        <h2> Cost distribution</h2>
                        <div class="table-text-margin">
                            <span class="x-form-item-label-default">Compute</span>
                            <span class="title1 pull-right">
                                <span class="scalr-currency">N/A</span>
                            </span>
                        </div>
                        <hr class="hr-style" />
                        <div class="table-text-margin">
                            <span class="x-form-item-label-default">Bandwidth</span>
                            <span class="title1 pull-right">
                                <span class="scalr-currency">N/A</span>
                            </span>
                        </div>
                        <hr class="hr-style" />
                        <div class="table-text-margin">
                            <span class="x-form-item-label-default">Storage</span>
                            <span class="title1 pull-right">
                                <span class="scalr-currency">N/A</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<section>
    <div class="row col-lg-12 margin-bottom20px">
        <section ng-init="custom1 = false" class="col-lg-12">
            <div class="box-header">
                <h3>Graphs <span ng-click="custom1=!custom1" class="fa fa-angle-down pull-right white-arrow"></span></h3>
            </div>
            <div class="charts">
                <div ng-hide="custom1" class="box-body">
                    <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
                </div>
            </div>
        </section>
    </div>
</section>
<section>
    <div class="row col-lg-12 margin-bottom20px">
        <section ng-init="custom2 = false" class="col-lg-6 col-graph">
            <div class="box-header">
                <h3>Graphs 
                    <span ng-click="custom2=!custom2" class="fa fa-angle-down pull-right white-arrow"></span>
                </h3>
            </div>
            <div ng-hide="custom2" class="box-body">
                <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
            </div>
        </section>
        <section ng-init="custom3 = false" class="col-lg-6 col-lg-offset-1 col-graph">
            <div class="box-header">
                <h3 ng-click="custom3=!custom3">Sales 
                    <span class="fa fa-angle-down pull-right white-arrow"></span>
                </h3>
            </div>
        <div ng-hide="custom3" class="box-body">
            <nvd3 options="options2" data="data2"></nvd3>
        </div>
        </section>
    </div>
</section>
